<font size=6> The total sovereign emissions calculated by adding up scope 1, 2 and 3 emissions  </font>

In [1]:
report_currency = 'USD'

In [2]:
from dotenv import dotenv_values, load_dotenv
import osc_ingest_trino as osc
import os
import pathlib
dotenv_dir = os.environ.get('CREDENTIAL_DOTENV_DIR', os.environ.get('PWD', '/opt/app-root/src'))
dotenv_path = pathlib.Path(dotenv_dir) / 'credentials.env'
if os.path.exists(dotenv_path):
    load_dotenv(dotenv_path=dotenv_path,override=True)

In [3]:
import trino
from sqlalchemy.engine import create_engine

env_var_prefix = 'TRINO'

sqlstring = 'trino://{user}@{host}:{port}/'.format(
    user = os.environ[f'{env_var_prefix}_USER'],
    host = os.environ[f'{env_var_prefix}_HOST'],
    port = os.environ[f'{env_var_prefix}_PORT']
)
sqlargs = {
    'auth': trino.auth.JWTAuthentication(os.environ[f'{env_var_prefix}_PASSWD']),
    'http_scheme': 'https',
    'catalog': 'osc_datacommons_dev'
}
engine = create_engine(sqlstring, connect_args = sqlargs)
connection = engine.connect()

#trino_bucket = osc.attach_s3_bucket("S3_DEV")

In [4]:
import boto3
import pandas as pd

s3_source = boto3.resource(
    service_name="s3",
    endpoint_url=os.environ['S3_LANDING_ENDPOINT'],
    aws_access_key_id=os.environ['S3_LANDING_ACCESS_KEY'],
    aws_secret_access_key=os.environ['S3_LANDING_SECRET_KEY'],
)
source_bucket = s3_source.Bucket(os.environ['S3_LANDING_BUCKET'])

In [5]:
# define source and destination tables
# LULUCF (Land Use, Land-Use Change and Forestry)
ingest_catalog = 'osc_datacommons_dev'
ingest_schema = 'pcaf_sovereign_footprint'
ingest_table = 'sf_total_sovereign_emissions'
src_table_1 = 'sf_oecd_imgr_fco2'
src_table_2 = 'sf_unfccc_results'
src_table_3 = 'sf_oecd_exgr_dco2'
src_table_4 = 'sf_oecd_exch_rates'

In [6]:
import pandas as pd
from openscm_units import unit_registry
from pint import set_application_registry, Quantity
from pint_pandas import PintArray, PintType
# First we create the registry.
ureg = unit_registry
Q_ = ureg.Quantity
ureg.default_format = '~'
ureg.define("CO2e = CO2 = CO2eq")
ureg.define("USD = [currency] ")
ureg.define("EUR = [currency_EUR] ")
ureg.define('Millions=1000000')
set_application_registry(ureg)

In [7]:
def requantify_df(df):
    units_col = None
    columns_reversed = reversed(df.columns)
    for col in columns_reversed:
        if col.endswith("_units"):
            if units_col:
                # We expect _units column to follow a non-units column
                raise ValueError
            units_col = col
            continue
        if units_col:
            if col + '_units' != units_col:
                raise ValueError
            if (df[units_col]==df[units_col][0]).all():
                # Make a PintArray
                new_col = PintArray(df[col], dtype=f"pint[{ureg(df[units_col][0]).u}]")
            else:
                # Make a pd.Series of Quantity in a way that does not throw UnitStrippedWarning
                new_col = pd.Series(data=df[col], name=col) * pd.Series(data=df[units_col].map(lambda x: ureg(x).u), name=col)
            df = df.drop(columns=units_col)
            df[col] = new_col
            units_col = None
    return df

In [8]:
# If DF_COL contains Pint quantities (because it is a PintArray or an array of Pint Quantities),
# return a two-column dataframe of magnitudes and units.
# If DF_COL contains no Pint quanities, return it unchanged.

def dequantify_column(df_col: pd.Series):
    if type(df_col.values)==PintArray:
        return pd.DataFrame({df_col.name: df_col.values.quantity.m,
                             df_col.name + "_units": str(df_col.values.dtype.units)},
                            index=df_col.index)
    elif df_col.size==0:
        return df_col
    elif isinstance(df_col.iloc[0], Quantity):
        values = df_col.map(lambda x: (x.m, x.u))
        return pd.DataFrame({df_col.name: df_col.map(lambda x: x.m),
                             df_col.name + "_units": df_col.map(lambda x: str(x.u))},
                            index=df_col.index)
    else:
        return df_col

# Rewrite dataframe DF so that columns containing Pint quantities are represented by a column for the Magnitude and column for the Units.
# The magnitude column retains the original column name and the units column is renamed with a _units suffix.
def dequantify_df(df):
    return pd.concat([dequantify_column(df[col]) for col in df.columns], axis=1)

In [9]:
# Get the values saved in Trino related with Foreign CO2 emissions embodied in gross imports

import pandas as pd

sql=f"""
select country_iso_code,partner_iso_code,industry_code,validity_date,attribute,value,value_units from {ingest_catalog}.{ingest_schema}.{src_table_1} """ 
df1 = pd.read_sql(sql, engine)
df1 = requantify_df(df1)
df1
# convert to CO2 units to t
df1['value'] = df1['value'].pint.to("t CO2e")
df1 = dequantify_df(df1)


sql=f"""
select country_iso_code,partner_iso_code,industry_code,validity_date,attribute,value,value_units from {ingest_catalog}.{ingest_schema}.{src_table_3} where industry_code='DTOTAL'""" 
df_exgr = pd.read_sql(sql, engine)
df_exgr = requantify_df(df_exgr)
# convert to CO2 units to t
df_exgr['value'] = df_exgr['value'].pint.to("t CO2e")
df_exgr = dequantify_df(df_exgr)

###########################

sql=f"""
select validity_date,value from {ingest_catalog}.{ingest_schema}.{src_table_4} where country_iso_code='DEU'""" 
df_exch_eur = pd.read_sql(sql, engine)
df_exch_eur

    validity_date     value
0            1950  2.144861
1            1951  2.144861
2            1952  2.144861
3            1953  2.147426
4            1954  2.147426
..            ...       ...
67           2017  0.885206
68           2018  0.846773
69           2019  0.893276
70           2020  0.875506
71           2021  0.845494

[72 rows x 2 columns]

<font size=3> Remove invalid country codes </font>

In [10]:
import pycountry
import pandas as pd
df_country = pd.DataFrame([country.__dict__['_fields'] for country in pycountry.countries])
df_country = df_country.rename(columns={'alpha_3':'country_iso_code'})
df_country=df_country[['country_iso_code']]
# add Rest of World to the country dataframe
dict_row = {'country_iso_code':'ROW'}
df_country = df_country.append(dict_row, ignore_index = True)
df_country.info(verbose=True)
df1=df1.convert_dtypes()
#df1.info(verbose=True)
df1 = pd.merge(df1,df_country,on=['country_iso_code'])  
df1=df1.convert_dtypes()
#df_result.drop(columns=['country_name_y'],inplace=True)
df1

df_exgr = pd.merge(df_exgr,df_country,on=['country_iso_code'])  
df_exgr=df_exgr.convert_dtypes()
#df_result.drop(columns=['country_name_y'],inplace=True)
df_exgr

/tmp/ipykernel_2037/4216143356.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_country = df_country.append(dict_row, ignore_index = True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 1 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   country_iso_code  250 non-null    object
dtypes: object(1)
memory usage: 2.1+ KB

,country_iso_code,partner_iso_code,industry_code,validity_date,attribute,value,value_units
0,HRV,WLD,DTOTAL,1995,Domestic CO2 emissions embodied in gross exports,5000000.0,CO2eq * t
1,HRV,WLD,DTOTAL,1996,Domestic CO2 emissions embodied in gross exports,5385000.0,CO2eq * t
2,HRV,WLD,DTOTAL,1997,Domestic CO2 emissions embodied in gross exports,5698000.0,CO2eq * t
3,HRV,WLD,DTOTAL,1998,Domestic CO2 emissions embodied in gross exports,6368000.0,CO2eq * t
4,HRV,WLD,DTOTAL,1999,Domestic CO2 emissions embodied in gross exports,6078000.0,CO2eq * t
...,...,...,...,...,...,...,...
135067,DEU,MMR,DTOTAL,2014,Domestic CO2 emissions embodied in gross exports,18000.0,CO2eq * t
135068,DEU,MMR,DTOTAL,2015,Domestic CO2 emissions embodied in gross exports,28000.0,CO2eq * t
135069,DEU,MMR,DTOTAL,2016,Domestic CO2 emissions embodied in gross exports,34000.0,CO2eq * t
135070,DEU,MMR,DTOTAL,2017,Domestic CO2 emissions embodied in gross exports,36000.0,CO2eq * t
135071,DEU,MMR,DTOTAL,2018,Domestic CO2 emissions embodied in gross exports,30000.0,CO2eq * t

Calcuate Scope 2:
GHG emissions occurring as a consequence of the domestic use of grid-supplied electricity, heat,
steam and/or cooling which is imported from another territory

In [11]:
rename_columns = {'value':'total','partner_iso_code':'country_iso_code','value_units' :'total_units'}
agg_columns = { 'value' : 'sum'}
columns_order = ['attribute','industry_code','country_iso_code','validity_date','total','total_units']
df1 = df1.groupby(['partner_iso_code','industry_code','attribute','validity_date','value_units'],as_index=False).agg(agg_columns).rename(columns=rename_columns).reindex(columns=columns_order)

df1.convert_dtypes()

df1.info(verbose=True)
df1

######################

df_exgr = df_exgr.groupby(['partner_iso_code','industry_code','attribute','validity_date','value_units'],as_index=False).agg(agg_columns).rename(columns=rename_columns).reindex(columns=columns_order)

df_exgr.convert_dtypes()

df_exgr.info(verbose=True)
df_exgr

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4032 entries, 0 to 4031
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   attribute         4032 non-null   string
 1   industry_code     4032 non-null   string
 2   country_iso_code  4032 non-null   string
 3   validity_date     4032 non-null   Int64
 4   total             4032 non-null   Float64
 5   total_units       4032 non-null   string
dtypes: Float64(1), Int64(1), string(4)
memory usage: 197.0 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2016 entries, 0 to 2015
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   attribute         2016 non-null   string
 1   industry_code     2016 non-null   string
 2   country_iso_code  2016 non-null   string
 3   validity_date     2016 non-null   Int64
 4   total             2016 non-null   Float64
 5   total_units       2016 non-null   string
dtypes: Float64(1), Int64(1), string(4)
memory usage: 98.6 KB

,attribute,industry_code,country_iso_code,validity_date,total,total_units
0,Domestic CO2 emissions embodied in gross exports,DTOTAL,APEC,1995,2008843000.0,CO2eq * t
1,Domestic CO2 emissions embodied in gross exports,DTOTAL,APEC,1996,2055450000.0,CO2eq * t
2,Domestic CO2 emissions embodied in gross exports,DTOTAL,APEC,1997,2151870000.0,CO2eq * t
3,Domestic CO2 emissions embodied in gross exports,DTOTAL,APEC,1998,2177243000.0,CO2eq * t
4,Domestic CO2 emissions embodied in gross exports,DTOTAL,APEC,1999,2300588000.0,CO2eq * t
...,...,...,...,...,...,...
2011,Domestic CO2 emissions embodied in gross exports,DTOTAL,ZSCA,2014,266081000.0,CO2eq * t
2012,Domestic CO2 emissions embodied in gross exports,DTOTAL,ZSCA,2015,231751000.0,CO2eq * t
2013,Domestic CO2 emissions embodied in gross exports,DTOTAL,ZSCA,2016,211686000.0,CO2eq * t
2014,Domestic CO2 emissions embodied in gross exports,DTOTAL,ZSCA,2017,226732000.0,CO2eq * t
2015,Domestic CO2 emissions embodied in gross exports,DTOTAL,ZSCA,2018,232781000.0,CO2eq * t

In [12]:
# divide the dataframe into two dataframes 
# to calculate Scope2 and Scope3 Values
df_D35 = df1[df1['industry_code']=='D35']
df_D35 = df_D35[['country_iso_code','validity_date','total','total_units']]
df_DTOTAL = df1[df1['industry_code']=='DTOTAL']
df_DTOTAL = df_DTOTAL[['country_iso_code','validity_date','total','total_units']]
df_result = pd.merge(df_D35,df_DTOTAL,on=['country_iso_code','validity_date'])  
df_result=df_result.convert_dtypes()

#df_result.drop(columns=['attribute_y','total_units_y'],inplace=True)
rename_columns = {'total_x':'scope2_value','total_y':'scope3_value','total_units_x':'scope2_value_units','total_units_y':'scope3_value_units'}
df_result.rename(columns=rename_columns,inplace=True)
df_result['scope3_value'] = df_result['scope3_value'] - df_result['scope2_value'] 
df_result[df_result['country_iso_code']=='CAN']

df_result = pd.merge(df_result,df_exgr,on=['country_iso_code','validity_date'])  
df_result=df_result.convert_dtypes()
#df_result.drop(columns=['attribute_y','total_units_y'],inplace=True)
rename_columns = {'total':'exported_emissions','total_units':'exported_emissions_units'}
df_result.rename(columns=rename_columns,inplace=True)
df_result.drop(columns=['attribute','industry_code'],inplace=True)
df_result.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2016 entries, 0 to 2015
Data columns (total 8 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   country_iso_code          2016 non-null   string
 1   validity_date             2016 non-null   Int64
 2   scope2_value              2016 non-null   Float64
 3   scope2_value_units        2016 non-null   string
 4   scope3_value              2016 non-null   Float64
 5   scope3_value_units        2016 non-null   string
 6   exported_emissions        2016 non-null   Float64
 7   exported_emissions_units  2016 non-null   string
dtypes: Float64(3), Int64(1), string(4)
memory usage: 149.6 KB

In [13]:
# Get the values saved in Trino containing  GHG emissions provided by UNFCCC & GDP PPP values from Worldbank

import pandas as pd


sql=f"""
select country_iso_code,validity_date,ghg_total_without_lulucf,ghg_total_without_lulucf_units,ghg_total_with_lulucf,ghg_total_with_lulucf_units
,gdp,gdp_units,gdp_ppp,gdp_ppp_units
from {ingest_catalog}.{ingest_schema}.{src_table_2} """ 
df_unfccc = pd.read_sql(sql, engine)

if (report_currency == 'EUR'):
    df_unfccc = pd.merge(df_unfccc,df_exch_eur,on=['validity_date'],how='inner')   
    df_unfccc['gdp'] = df_unfccc['gdp'] * df_unfccc['value']
    df_unfccc['gdp_ppp'] = df_unfccc['gdp_ppp'] * df_unfccc['value']
    df_unfccc['gdp_units'] = 'EUR'
    df_unfccc['gdp_ppp_units'] = 'EUR'
    df_unfccc.drop(columns=['value'],inplace=True)
    


df_unfccc[df_unfccc['country_iso_code']=='ARG']
df_unfccc = df_unfccc.convert_dtypes()
df_unfccc.info(verbose=True)
#df1["units"] = "kt"
#df1 = requantify_df(df1).convert_dtypes()
#df1.info(verbose=True)
#df1

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12948 entries, 0 to 12947
Data columns (total 10 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   country_iso_code                12948 non-null  string
 1   validity_date                   12948 non-null  Int64
 2   ghg_total_without_lulucf        2212 non-null   Float64
 3   ghg_total_without_lulucf_units  12948 non-null  string
 4   ghg_total_with_lulucf           2212 non-null   Float64
 5   ghg_total_with_lulucf_units     12948 non-null  string
 6   gdp                             12854 non-null  Float64
 7   gdp_units                       12948 non-null  string
 8   gdp_ppp                         7210 non-null   Float64
 9   gdp_ppp_units                   12948 non-null  string
dtypes: Float64(4), Int64(1), string(5)
memory usage: 1.0 MB

In [14]:
import numpy as np
df_unfccc = df_unfccc.convert_dtypes()
df_unfccc.info(verbose=True)

df_unfccc = df_unfccc.assign(ghg_total_without_lulucf=np.where(df_unfccc.ghg_total_without_lulucf.isnull(), 0, df_unfccc.ghg_total_without_lulucf))
df_unfccc = df_unfccc.assign(ghg_total_with_lulucf=np.where(df_unfccc.ghg_total_with_lulucf.isnull(), 0, df_unfccc.ghg_total_with_lulucf))
df_unfccc = df_unfccc.assign(gdp=np.where(df_unfccc.gdp.isnull(), 0, df_unfccc.gdp))
df_unfccc = df_unfccc.assign(gdp_ppp=np.where(df_unfccc.gdp_ppp.isnull(), 0, df_unfccc.gdp_ppp))

df_unfccc = requantify_df(df_unfccc)
df_unfccc.info(verbose=True)
# convert to CO2 units to Mt
df_unfccc['ghg_total_without_lulucf'] = df_unfccc['ghg_total_without_lulucf'].pint.to("t CO2e")
df_unfccc['ghg_total_with_lulucf'] = df_unfccc['ghg_total_with_lulucf'].pint.to("t CO2e")
####

#df_unfccc = df_unfccc.assign(ghg_total_without_lulucf=np.where(df_unfccc.ghg_total_without_lulucf==0, np.nan, df_unfccc.ghg_total_without_lulucf))
#df_unfccc = df_unfccc.assign(ghg_total_with_lulucf=np.where(df_unfccc.ghg_total_with_lulucf==0, np.nan, df_unfccc.ghg_total_with_lulucf))
#df_unfccc = df_unfccc.assign(gdp=np.where(df_unfccc.gdp==0, np.nan, df_unfccc.gdp))
#df_unfccc = df_unfccc.assign(gdp_ppp=np.where(df_unfccc.gdp_ppp==0, np.nan, df_unfccc.gdp_ppp))

df_unfccc.info(verbose=True)


df_unfccc[df_unfccc['country_iso_code']=='ARG']



#df_unfccc['gdp'] = df_unfccc['gdp'].pint.to("Millions USD")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12948 entries, 0 to 12947
Data columns (total 10 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   country_iso_code                12948 non-null  string
 1   validity_date                   12948 non-null  Int64
 2   ghg_total_without_lulucf        2212 non-null   Float64
 3   ghg_total_without_lulucf_units  12948 non-null  string
 4   ghg_total_with_lulucf           2212 non-null   Float64
 5   ghg_total_with_lulucf_units     12948 non-null  string
 6   gdp                             12854 non-null  Float64
 7   gdp_units                       12948 non-null  string
 8   gdp_ppp                         7210 non-null   Float64
 9   gdp_ppp_units                   12948 non-null  string
dtypes: Float64(4), Int64(1), string(5)
memory usage: 1.0 MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12948 entries, 0 to 12947
Data columns (total 6 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   country_iso_code          12948 non-null  string
 1   validity_date             12948 non-null  Int64
 2   ghg_total_without_lulucf  12948 non-null  pint[CO2eq * kt]
 3   ghg_total_with_lulucf     12948 non-null  pint[CO2eq * kt]
 4   gdp                       12948 non-null  pint[USD]
 5   gdp_ppp                   12948 non-null  pint[USD]
dtypes: Int64(1), pint[CO2eq * kt](2), pint[USD](2), string(1)
memory usage: 619.7 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12948 entries, 0 to 12947
Data columns (total 6 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   country_iso_code          12948 non-null  string
 1   validity_date             12948 non-null  Int64
 2   ghg_total_without_lulucf  12948 non-null  pint[CO2eq * t]
 3   ghg_total_with_lulucf     12948 non-null  pint[CO2eq * t]
 4   gdp                       12948 non-null  pint[USD]
 5   gdp_ppp                   12948 non-null  pint[USD]
dtypes: Int64(1), pint[CO2eq * t](2), pint[USD](2), string(1)
memory usage: 619.7 KB

/opt/app-root/lib64/python3.8/site-packages/pint_pandas/pint_array.py:648: UnitStrippedWarning: The unit of the quantity is stripped when downcasting to ndarray.
  return np.array(qtys, dtype="object", copy=copy)
/opt/app-root/lib64/python3.8/site-packages/pint_pandas/pint_array.py:648: UnitStrippedWarning: The unit of the quantity is stripped when downcasting to ndarray.
  return np.array(qtys, dtype="object", copy=copy)

,country_iso_code,validity_date,ghg_total_without_lulucf,ghg_total_with_lulucf,gdp,gdp_ppp
1405,ARG,2005,0.0,0.0,198737095012.282,527729109507.491
1406,ARG,1977,0.0,0.0,56781000100.9448,0.0
1407,ARG,2004,0.0,0.0,164657930452.787,470169433019.259
1408,ARG,1996,0.0,0.0,272149750000.0,372888233736.503
1409,ARG,1978,0.0,0.0,58082870156.2634,0.0
3091,ARG,1987,0.0,0.0,111106191358.197,0.0
3092,ARG,1969,0.0,0.0,31256284543.6155,0.0
3093,ARG,2008,0.0,0.0,361558037110.419,697557858459.69
3094,ARG,1964,0.0,0.0,25605249381.7597,0.0
3770,ARG,1973,0.0,0.0,52544000116.9037,0.0
3771,ARG,1962,0.0,0.0,24450604877.6081,0.0
3772,ARG,1966,0.0,0.0,28630474727.9023,0.0
3773,ARG,1998,0.0,0.0,298948250000.0,430937274294.631
3774,ARG,1976,0.0,0.0,51169499890.7722,0.0
4442,ARG,1990,231057275.548153,216291389.487407,141352368714.691,234564125672.49
4443,ARG,1994,257522426.252628,223335527.904266,257440000000.0,349832146514.708
4444,ARG,1997,270910288.57367104,241956194.21024,292859000000.0,410342067258.763
4445,ARG,2000,282000757.82309103,238702903.51909998,284203750000.0,428394155078.285
4563,ARG,2010,332498160.0,447642430.0,423627422092.49,736718360687.747
4565,ARG,2012,338963349.93,429478449.93,545982375701.128,819697901873.041
4962,ARG,2019,0.0,0.0,451932356085.842,1033557797795.68
4963,ARG,1972,0.0,0.0,34733000536.2862,0.0
4964,ARG,1999,0.0,0.0,283523000000.0,422359326228.804
4965,ARG,1989,0.0,0.0,76636898036.4712,0.0
4966,ARG,1979,0.0,0.0,69252328953.3789,0.0
4967,ARG,1965,0.0,0.0,28344705966.6389,0.0
6425,ARG,1995,0.0,0.0,258031750000.0,347005607350.473
6426,ARG,1988,0.0,0.0,126206817196.091,0.0
6427,ARG,2006,0.0,0.0,232557260817.308,587451576462.842
7162,ARG,2015,0.0,0.0,594749285413.212,867176759338.262
7164,ARG,2018,0.0,0.0,524819742918.669,1036428172096.8
7165,ARG,1991,0.0,0.0,189719984268.485,264644000848.374
7166,ARG,2001,0.0,0.0,268696750000.0,418489172661.132
7167,ARG,2017,0.0,0.0,643628665302.155,1039330591568.54
8763,ARG,2009,0.0,0.0,332976484577.619,661275816702.498
8764,ARG,1968,0.0,0.0,26436857247.4982,0.0
8765,ARG,2020,0.0,0.0,389288056265.325,942508330081.911
9462,ARG,1971,0.0,0.0,33293199095.4881,0.0
9463,ARG,1993,0.0,0.0,236741715015.015,323630227657.508
9464,ARG,1974,0.0,0.0,72436777342.4554,0.0
9465,ARG,1980,0.0,0.0,76961923741.9479,0.0
9466,ARG,2011,0.0,0.0,530163281574.658,797263881242.037
11213,ARG,2016,0.0,0.0,557531376217.967,885227528869.049
11214,ARG,2007,0.0,0.0,287530508430.568,657569211584.856
11215,ARG,1984,0.0,0.0,79092001998.032,0.0
11216,ARG,2014,0.0,0.0,526319673731.638,839896688260.086
11217,ARG,1963,0.0,0.0,18272123664.4715,0.0
11218,ARG,1975,0.0,0.0,52438647921.9226,0.0
12447,ARG,1985,0.0,0.0,88416668900.2596,0.0
12452,ARG,1992,0.0,0.0,228788617201.696,292159264258.284
12453,ARG,1982,0.0,0.0,84307486836.724,0.0
12454,ARG,1983,0.0,0.0,103979106777.911,0.0
12877,ARG,2013,0.0,0.0,552025140252.246,849616000404.317
12878,ARG,2002,0.0,0.0,97724004251.8602,378795278976.384
12879,ARG,2003,0.0,0.0,127586973492.177,419925810757.286
12880,ARG,1970,0.0,0.0,31584210365.5447,0.0
12881,ARG,1967,0.0,0.0,24256667553.2569,0.0
12882,ARG,1981,0.0,0.0,78676842366.4213,0.0
12883,ARG,1986,0.0,0.0,110934442762.694,0.0

In [15]:
#df_unfccc = dequantify_df(df_unfccc)
#df_unfccc
#df_unfccc.info(verbose=True)
#df_unfccc

df_result= requantify_df(df_result)
#df_result= dequantify_df(df_result)
#df_result

<font size=3><b>Merge UNFCCC , Worldbank and OECD data</b> </font>

In [16]:
#df_result.info(verbose=True)
#df_result= requantify_df(df_result)
#df_result.info(verbose=True)

#df_unfccc = df_unfccc.assign(ghg_total_without_lulucf=np.where(df_unfccc.ghg_total_without_lulucf.isnull(), 0, df_unfccc.ghg_total_without_lulucf))
#df_unfccc = df_unfccc.assign(ghg_total_with_lulucf=np.where(df_unfccc.ghg_total_with_lulucf.isnull(), 0, df_unfccc.ghg_total_with_lulucf))
#df_unfccc = df_unfccc.assign(gdp=np.where(df_unfccc.gdp.isnull(), 0, df_unfccc.gdp))
#df_unfccc = df_unfccc.assign(gdp_ppp=np.where(df_unfccc.gdp_ppp.isnull(), 0, df_unfccc.gdp_ppp))


df_result = pd.merge(df_result,df_unfccc,on=['country_iso_code','validity_date'],how='outer')  

rename_columns = {'ghg_total_without_lulucf':'scope1_excl_lulucf',
                  'ghg_total_with_lulucf':'scope1_incl_lulucf'}
#columns_order = ['country_iso_code','validity_date','scope1_excl_lulucf','scope1_excl_lulucf_units','scope1_incl_lulucf','scope1_incl_lulucf_units','scope2_value','scope2_value_units','scope3_value','scope3_value_units','exported_emissions','exported_emissions_units','gdp_ppp','gdp_ppp_units','gdp','gdp_units']
df_result = df_result.rename(columns=rename_columns)
df_result.info(verbose=True)

#df_result['scope1_excl_lulucf'] = df_result['scope1_excl_lulucf'].fillna(0).astype(float)
#df_result['scope1_incl_lulucf'] = df_result['scope1_incl_lulucf'].fillna(0).astype(float)
#df_result['scope1_excl_lulucf'] = df_result['scope1_excl_lulucf'].fillna(0).astype(float)
#df_result['scope2_value'] = df_result['scope2_value'].fillna(0).astype(float)
#df_result['scope3_value'] = df_result['scope3_value'].fillna(0).astype(float)



df_result['sum_yn'] = 1 * ((df_result['scope1_excl_lulucf'] > 0) & (df_result['scope2_value'] > 0) &  (df_result['scope3_value'] > 0) )
df_result['calc_attr_factor_yn'] = 1 * (df_result['gdp_ppp'] > 0)

df_result['consumption_emissions_excl_lulucf'] = df_result['sum_yn'] * ( df_result['scope1_excl_lulucf'] + df_result['scope2_value'] + df_result['scope3_value'] - df_result['exported_emissions'])
df_result['consumption_emissions_incl_lulucf'] = df_result['sum_yn'] * ( df_result['scope1_incl_lulucf'] + df_result['scope2_value'] + df_result['scope3_value'] - df_result['exported_emissions'])
###############
df_result['attribution_factor_scope1_excl_lulucf']= df_result['calc_attr_factor_yn'] * (df_result['scope1_excl_lulucf']) / df_result['gdp_ppp']
df_result['attribution_factor_scope1_incl_lulucf']= df_result['calc_attr_factor_yn'] * (df_result['scope1_incl_lulucf']) / df_result['gdp_ppp']

df_result['attribution_factor_excl_lulucf']= df_result['calc_attr_factor_yn'] * df_result['sum_yn'] * ( (df_result['scope1_excl_lulucf'] + df_result['scope2_value'] + df_result['scope3_value']) / df_result['gdp_ppp'])
df_result['attribution_factor_incl_lulucf']= df_result['calc_attr_factor_yn'] * df_result['sum_yn'] * ( (df_result['scope1_incl_lulucf'] + df_result['scope2_value'] + df_result['scope3_value']) / df_result['gdp_ppp'])
##########
df_result['attribution_factor_excl_lulucf_gdp']= df_result['calc_attr_factor_yn'] * df_result['sum_yn'] * ( (df_result['scope1_excl_lulucf'] + df_result['scope2_value'] + df_result['scope3_value']) / df_result['gdp'])
df_result['attribution_factor_incl_lulucf_gdp']= df_result['calc_attr_factor_yn'] * df_result['sum_yn'] * ( (df_result['scope1_incl_lulucf'] + df_result['scope2_value'] + df_result['scope3_value']) / df_result['gdp'])



#df_result['ghg_total_without_lulucf']=df_result['ghg_total_without_lulucf'].replace(0, np.nan)
#df_result['ghg_total_with_lulucf']=df_result['ghg_total_with_lulucf'].replace(0, np.nan)
#df_result['gdp']=df_result['gdp'].replace(0, np.nan)
#df_result['gdp_ppp']=df_result['gdp_ppp'].replace(0, np.nan)



#df_result

columns_order = ['country_iso_code','validity_date','scope1_excl_lulucf','scope1_incl_lulucf','scope2_value','scope3_value',
                 'exported_emissions','gdp_ppp','gdp',
                 'consumption_emissions_excl_lulucf','consumption_emissions_incl_lulucf',
                 'attribution_factor_scope1_excl_lulucf','attribution_factor_scope1_incl_lulucf',
                 'attribution_factor_excl_lulucf','attribution_factor_excl_lulucf_gdp',
                 'attribution_factor_incl_lulucf','attribution_factor_incl_lulucf_gdp']
df_result = df_result.reindex(columns=columns_order)
df_result.info(verbose=True)
df_result= dequantify_df(df_result)
df_result.info(verbose=True)
# remove invalid country_iso_codes (regions, ...)

df_result = pd.merge(df_result,df_country,on=['country_iso_code'])  

cols= ['scope1_excl_lulucf','scope1_incl_lulucf','scope2_value','scope3_value',
                 'exported_emissions','gdp_ppp','gdp',
                 'consumption_emissions_excl_lulucf','consumption_emissions_incl_lulucf',
                 'attribution_factor_scope1_excl_lulucf','attribution_factor_scope1_incl_lulucf',
                 'attribution_factor_excl_lulucf','attribution_factor_excl_lulucf_gdp',
                 'attribution_factor_incl_lulucf','attribution_factor_incl_lulucf_gdp']
df_result[cols] = df_result[cols].replace({0:np.nan})


df_result

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13380 entries, 0 to 13379
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   country_iso_code    13380 non-null  string
 1   validity_date       13380 non-null  Int64
 2   scope2_value        2016 non-null   pint[CO2eq * t]
 3   scope3_value        2016 non-null   pint[CO2eq * t]
 4   exported_emissions  2016 non-null   pint[CO2eq * t]
 5   scope1_excl_lulucf  12948 non-null  pint[CO2eq * t]
 6   scope1_incl_lulucf  12948 non-null  pint[CO2eq * t]
 7   gdp                 12948 non-null  pint[USD]
 8   gdp_ppp             12948 non-null  pint[USD]
dtypes: Int64(1), pint[CO2eq * t](5), pint[USD](2), string(1)
memory usage: 1.0 MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 13380 entries, 0 to 13379
Data columns (total 17 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   country_iso_code                       13380 non-null  string
 1   validity_date                          13380 non-null  Int64
 2   scope1_excl_lulucf                     12948 non-null  pint[CO2eq * t]
 3   scope1_incl_lulucf                     12948 non-null  pint[CO2eq * t]
 4   scope2_value                           2016 non-null   pint[CO2eq * t]
 5   scope3_value                           2016 non-null   pint[CO2eq * t]
 6   exported_emissions                     2016 non-null   pint[CO2eq * t]
 7   gdp_ppp                                12948 non-null  pint[USD]
 8   gdp                                    12948 non-null  pint[USD]
 9   consumption_emissions_excl_lulucf      1584 non-null   pint[CO2eq * t]
 10  consumption_emissions_incl_lulucf      1584 non-null   pint[CO2eq * t]
 11  attribution_factor_scope1_excl_lulucf  7210 non-null   pint[CO2eq * t / USD]
 12  attribution_factor_scope1_incl_lulucf  7210 non-null   pint[CO2eq * t / USD]
 13  attribution_factor_excl_lulucf         1582 non-null   pint[CO2eq * t / USD]
 14  attribution_factor_excl_lulucf_gdp     1584 non-null   pint[CO2eq * t / USD]
 15  attribution_factor_incl_lulucf         1582 non-null   pint[CO2eq * t / USD]
 16  attribution_factor_incl_lulucf_gdp     1584 non-null   pint[CO2eq * t / USD]
dtypes: Int64(1), pint[CO2eq * t / USD](6), pint[CO2eq * t](7), pint[USD](2), string(1)
memory usage: 1.9 MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 13380 entries, 0 to 13379
Data columns (total 32 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   country_iso_code                             13380 non-null  string
 1   validity_date                                13380 non-null  Int64
 2   scope1_excl_lulucf                           12948 non-null  float64
 3   scope1_excl_lulucf_units                     13380 non-null  object
 4   scope1_incl_lulucf                           12948 non-null  float64
 5   scope1_incl_lulucf_units                     13380 non-null  object
 6   scope2_value                                 2016 non-null   float64
 7   scope2_value_units                           13380 non-null  object
 8   scope3_value                                 2016 non-null   float64
 9   scope3_value_units                           13380 non-null  object
 10  exported_emissions                           2016 non-null   float64
 11  exported_emissions_units                     13380 non-null  object
 12  gdp_ppp                                      12948 non-null  float64
 13  gdp_ppp_units                                13380 non-null  object
 14  gdp                                          12948 non-null  float64
 15  gdp_units                                    13380 non-null  object
 16  consumption_emissions_excl_lulucf            1584 non-null   float64
 17  consumption_emissions_excl_lulucf_units      13380 non-null  object
 18  consumption_emissions_incl_lulucf            1584 non-null   float64
 19  consumption_emissions_incl_lulucf_units      13380 non-null  object
 20  attribution_factor_scope1_excl_lulucf        7210 non-null   float64
 21  attribution_factor_scope1_excl_lulucf_units  13380 non-null  object
 22  attribution_factor_scope1_incl_lulucf        7210 non-null   float64
 23  attribution_factor_scope1_incl_lulucf_units  13380 non-null  object
 24  attribution_factor_excl_lulucf               1582 non-null   float64
 25  attribution_factor_excl_lulucf_units         13380 non-null  object
 26  attribution_factor_excl_lulucf_gdp           1584 non-null   float64
 27  attribution_factor_excl_lulucf_gdp_units     13380 non-null  object
 28  attribution_factor_incl_lulucf               1582 non-null   float64
 29  attribution_factor_incl_lulucf_units         13380 non-null  object
 30  attribution_factor_incl_lulucf_gdp           1584 non-null   float64
 31  attribution_factor_incl_lulucf_gdp_units     13380 non-null  object
dtypes: Int64(1), float64(15), object(15), string(1)
memory usage: 3.4+ MB

,country_iso_code,validity_date,scope1_excl_lulucf,scope1_excl_lulucf_units,scope1_incl_lulucf,scope1_incl_lulucf_units,scope2_value,scope2_value_units,scope3_value,scope3_value_units,...,attribution_factor_scope1_incl_lulucf,attribution_factor_scope1_incl_lulucf_units,attribution_factor_excl_lulucf,attribution_factor_excl_lulucf_units,attribution_factor_excl_lulucf_gdp,attribution_factor_excl_lulucf_gdp_units,attribution_factor_incl_lulucf,attribution_factor_incl_lulucf_units,attribution_factor_incl_lulucf_gdp,attribution_factor_incl_lulucf_gdp_units
0,ARG,1995,NaN,CO2eq * t,NaN,CO2eq * t,21000.0,CO2eq * t,9356000.0,CO2eq * t,...,NaN,CO2eq * t / USD,NaN,CO2eq * t / USD,NaN,CO2eq * t / USD,NaN,CO2eq * t / USD,NaN,CO2eq * t / USD
1,ARG,1996,NaN,CO2eq * t,NaN,CO2eq * t,28000.0,CO2eq * t,11287000.0,CO2eq * t,...,NaN,CO2eq * t / USD,NaN,CO2eq * t / USD,NaN,CO2eq * t / USD,NaN,CO2eq * t / USD,NaN,CO2eq * t / USD
2,ARG,1997,2.709103e+08,CO2eq * t,2.419562e+08,CO2eq * t,26000.0,CO2eq * t,14968000.0,CO2eq * t,...,0.00059,CO2eq * t / USD,0.000697,CO2eq * t / USD,0.000976,CO2eq * t / USD,0.000626,CO2eq * t / USD,0.000877,CO2eq * t / USD
3,ARG,1998,NaN,CO2eq * t,NaN,CO2eq * t,43000.0,CO2eq * t,13397000.0,CO2eq * t,...,NaN,CO2eq * t / USD,NaN,CO2eq * t / USD,NaN,CO2eq * t / USD,NaN,CO2eq * t / USD,NaN,CO2eq * t / USD
4,ARG,1999,NaN,CO2eq * t,NaN,CO2eq * t,61000.0,CO2eq * t,12270000.0,CO2eq * t,...,NaN,CO2eq * t / USD,NaN,CO2eq * t / USD,NaN,CO2eq * t / USD,NaN,CO2eq * t / USD,NaN,CO2eq * t / USD
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10248,COK,1994,8.030046e+04,CO2eq * t,-7.413774e+04,CO2eq * t,NaN,CO2eq * t,NaN,CO2eq * t,...,NaN,CO2eq * t / USD,NaN,CO2eq * t / USD,NaN,CO2eq * t / USD,NaN,CO2eq * t / USD,NaN,CO2eq * t / USD
10249,PRK,1990,2.075440e+08,CO2eq * t,1.938170e+08,CO2eq * t,NaN,CO2eq * t,NaN,CO2eq * t,...,NaN,CO2eq * t / USD,NaN,CO2eq * t / USD,NaN,CO2eq * t / USD,NaN,CO2eq * t / USD,NaN,CO2eq * t / USD
10250,PRK,2002,8.733000e+07,CO2eq * t,7.045000e+07,CO2eq * t,NaN,CO2eq * t,NaN,CO2eq * t,...,NaN,CO2eq * t / USD,NaN,CO2eq * t / USD,NaN,CO2eq * t / USD,NaN,CO2eq * t / USD,NaN,CO2eq * t / USD
10251,PRK,1994,1.575290e+08,CO2eq * t,1.441590e+08,CO2eq * t,NaN,CO2eq * t,NaN,CO2eq * t,...,NaN,CO2eq * t / USD,NaN,CO2eq * t / USD,NaN,CO2eq * t / USD,NaN,CO2eq * t / USD,NaN,CO2eq * t / USD
10252,PRK,2000,8.189200e+07,CO2eq * t,6.526000e+07,CO2eq * t,NaN,CO2eq * t,NaN,CO2eq * t,...,NaN,CO2eq * t / USD,NaN,CO2eq * t / USD,NaN,CO2eq * t / USD,NaN,CO2eq * t / USD,NaN,CO2eq * t / USD

In [17]:
#df_result['scope1_value_units'] = 'Mt CO2e'
#df_result['scope1_value'] = df_result['scope1_value'].round(decimals = 3)
#pd.options.display.float_format = '{:.3f}'.format
#df_result= df_result.convert_dtypes()
#df_result.info(verbose=True)
df_result[df_result['country_iso_code']=='CAN']
#df_result

,country_iso_code,validity_date,scope1_excl_lulucf,scope1_excl_lulucf_units,scope1_incl_lulucf,scope1_incl_lulucf_units,scope2_value,scope2_value_units,scope3_value,scope3_value_units,...,attribution_factor_scope1_incl_lulucf,attribution_factor_scope1_incl_lulucf_units,attribution_factor_excl_lulucf,attribution_factor_excl_lulucf_units,attribution_factor_excl_lulucf_gdp,attribution_factor_excl_lulucf_gdp_units,attribution_factor_incl_lulucf,attribution_factor_incl_lulucf_units,attribution_factor_incl_lulucf_gdp,attribution_factor_incl_lulucf_gdp_units
400,CAN,1995,6.562987e+08,CO2eq * t,6.265742e+08,CO2eq * t,5129000.0,CO2eq * t,179111000.0,CO2eq * t,...,NaN,CO2eq * t / USD,NaN,CO2eq * t / USD,NaN,CO2eq * t / USD,NaN,CO2eq * t / USD,NaN,CO2eq * t / USD
401,CAN,1996,6.787145e+08,CO2eq * t,6.419787e+08,CO2eq * t,5269000.0,CO2eq * t,188198000.0,CO2eq * t,...,NaN,CO2eq * t / USD,NaN,CO2eq * t / USD,NaN,CO2eq * t / USD,NaN,CO2eq * t / USD,NaN,CO2eq * t / USD
402,CAN,1997,6.911954e+08,CO2eq * t,6.529372e+08,CO2eq * t,6362000.0,CO2eq * t,202972000.0,CO2eq * t,...,0.000864,CO2eq * t / USD,0.001192,CO2eq * t / USD,0.001375,CO2eq * t / USD,0.001141,CO2eq * t / USD,0.001316,CO2eq * t / USD
403,CAN,1998,6.969015e+08,CO2eq * t,6.470244e+08,CO2eq * t,7993000.0,CO2eq * t,214108000.0,CO2eq * t,...,0.000815,CO2eq * t / USD,0.001158,CO2eq * t / USD,0.001450,CO2eq * t / USD,0.001095,CO2eq * t / USD,0.001371,CO2eq * t / USD
404,CAN,1999,7.096009e+08,CO2eq * t,6.742546e+08,CO2eq * t,9100000.0,CO2eq * t,222868000.0,CO2eq * t,...,0.000797,CO2eq * t / USD,0.001112,CO2eq * t / USD,0.001388,CO2eq * t / USD,0.001071,CO2eq * t / USD,0.001336,CO2eq * t / USD
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
456,CAN,1963,NaN,CO2eq * t,NaN,CO2eq * t,NaN,CO2eq * t,NaN,CO2eq * t,...,NaN,CO2eq * t / USD,NaN,CO2eq * t / USD,NaN,CO2eq * t / USD,NaN,CO2eq * t / USD,NaN,CO2eq * t / USD
457,CAN,1975,NaN,CO2eq * t,NaN,CO2eq * t,NaN,CO2eq * t,NaN,CO2eq * t,...,NaN,CO2eq * t / USD,NaN,CO2eq * t / USD,NaN,CO2eq * t / USD,NaN,CO2eq * t / USD,NaN,CO2eq * t / USD
458,CAN,1970,NaN,CO2eq * t,NaN,CO2eq * t,NaN,CO2eq * t,NaN,CO2eq * t,...,NaN,CO2eq * t / USD,NaN,CO2eq * t / USD,NaN,CO2eq * t / USD,NaN,CO2eq * t / USD,NaN,CO2eq * t / USD
459,CAN,1967,NaN,CO2eq * t,NaN,CO2eq * t,NaN,CO2eq * t,NaN,CO2eq * t,...,NaN,CO2eq * t / USD,NaN,CO2eq * t / USD,NaN,CO2eq * t / USD,NaN,CO2eq * t / USD,NaN,CO2eq * t / USD
460,CAN,1981,NaN,CO2eq * t,NaN,CO2eq * t,NaN,CO2eq * t,NaN,CO2eq * t,...,NaN,CO2eq * t / USD,NaN,CO2eq * t / USD,NaN,CO2eq * t / USD,NaN,CO2eq * t / USD,NaN,CO2eq * t / USD

Calculate Attribution factor = (Scope1+Scope2+Scope3)/GDP

In [18]:


#df_result= requantify_df(df_result)
format_mapper =  {'gdp_ppp': '{0:,.0f}',
           'gdp': '{0:,.0f}',       
           'attribution_factor_excl_lulucf': '{0:.8f}',
           'attribution_factor_incl_lulucf': '{0:.8f}',
           'attribution_factor_excl_lulucf_gdp': '{0:.8f}',
           'attribution_factor_incl_lulucf_gdp': '{0:.8f}',       
           'scope1_excl_lulucf': '{0:,.0f}',       
           'scope1_incl_lulucf': '{0:,.0f}',              
           'scope2_value': '{0:,.0f}',              
           'scope3_value': '{0:,.0f}'
                 }

df_result[df_result['country_iso_code']=='CAN'].style.format(format_mapper)

<font size=3>Save the results in Trino</font>

In [19]:
# Add the sources used for the calculations in the result table
df_result['scope1_excl_source'] = "UNFCCC -> Time_Series_GHG_total_without_LULUCF_in_kt_CO2_equivalent.xlsx"
df_result['scope1_incl_source'] = "UNFCCC -> Time_Series_GHG_total_with_LULUCF_in_kt_CO2_equivalent.xlsx"
df_result['scope2_source'] = "OECD -> IMGR_FCO2.csv -> Industry_Code = D35  -> Aggregation grouped by Partner_ISO_CODE"
df_result['scope3_source'] = "OECD -> IMGR_FCO2.csv -> Indutry_Code = DTOTAL - Scope_2 Value "          
df_result['gdp_ppp_source'] = "Worldbank -> API_NY.GDP.MKTP.CD_DS2_en_csv_v2_4019306.csv"

In [20]:
import osc_ingest_trino as osc
#df_result['validity_date']=pd.to_datetime(df_result['validity_date'], unit='D')
df_result=df_result.convert_dtypes()
df_result.info(verbose=True)

df_result['year'] = df_result['validity_date']
df_result['validity_date'] = pd.to_datetime(df_result.validity_date, format='%Y')
df_result = df_result.convert_dtypes()
df_result.validity_date = df_result.validity_date.astype('datetime64[ns]')



columnschema = osc.create_table_schema_pairs(df_result,typemap={'datetime64[ns]':'timestamp(6)'}) 
sql = f"""
drop table if exists {ingest_catalog}.{ingest_schema}.{ingest_table}
"""
print(sql)
qres = engine.execute(sql)
print(qres.fetchall())

tabledef = f"""
create table if not exists {ingest_catalog}.{ingest_schema}.{ingest_table}(
{columnschema}
) with (
    format = 'ORC',
    partitioning = ARRAY['country_iso_code']
)
"""
print(tabledef)

table_create = engine.execute(tabledef)
print(table_create.fetchall())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10253 entries, 0 to 10252
Data columns (total 37 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   country_iso_code                             10253 non-null  string
 1   validity_date                                10253 non-null  Int64
 2   scope1_excl_lulucf                           2212 non-null   Float64
 3   scope1_excl_lulucf_units                     10253 non-null  string
 4   scope1_incl_lulucf                           2212 non-null   Float64
 5   scope1_incl_lulucf_units                     10253 non-null  string
 6   scope2_value                                 1419 non-null   Float64
 7   scope2_value_units                           10253 non-null  string
 8   scope3_value                                 1608 non-null   Int64
 9   scope3_value_units                           10253 non-null  string
 10  exported_emissions                           1608 non-null   Int64
 11  exported_emissions_units                     10253 non-null  string
 12  gdp_ppp                                      5729 non-null   Float64
 13  gdp_ppp_units                                10253 non-null  string
 14  gdp                                          10111 non-null  Float64
 15  gdp_units                                    10253 non-null  string
 16  consumption_emissions_excl_lulucf            1008 non-null   Float64
 17  consumption_emissions_excl_lulucf_units      10253 non-null  string
 18  consumption_emissions_incl_lulucf            1008 non-null   Float64
 19  consumption_emissions_incl_lulucf_units      10253 non-null  string
 20  attribution_factor_scope1_excl_lulucf        2045 non-null   Float64
 21  attribution_factor_scope1_excl_lulucf_units  10253 non-null  string
 22  attribution_factor_scope1_incl_lulucf        2045 non-null   Float64
 23  attribution_factor_scope1_incl_lulucf_units  10253 non-null  string
 24  attribution_factor_excl_lulucf               1006 non-null   Float64
 25  attribution_factor_excl_lulucf_units         10253 non-null  string
 26  attribution_factor_excl_lulucf_gdp           1006 non-null   Float64
 27  attribution_factor_excl_lulucf_gdp_units     10253 non-null  string
 28  attribution_factor_incl_lulucf               1006 non-null   Float64
 29  attribution_factor_incl_lulucf_units         10253 non-null  string
 30  attribution_factor_incl_lulucf_gdp           1006 non-null   Float64
 31  attribution_factor_incl_lulucf_gdp_units     10253 non-null  string
 32  scope1_excl_source                           10253 non-null  string
 33  scope1_incl_source                           10253 non-null  string
 34  scope2_source                                10253 non-null  string
 35  scope3_source                                10253 non-null  string
 36  gdp_ppp_source                               10253 non-null  string
dtypes: Float64(13), Int64(3), string(21)
memory usage: 3.1 MB

drop table if exists osc_datacommons_dev.pcaf_sovereign_footprint.sf_total_sovereign_emissions

[(True,)]

create table if not exists osc_datacommons_dev.pcaf_sovereign_footprint.sf_total_sovereign_emissions(
    country_iso_code varchar,
    validity_date timestamp(6),
    scope1_excl_lulucf double,
    scope1_excl_lulucf_units varchar,
    scope1_incl_lulucf double,
    scope1_incl_lulucf_units varchar,
    scope2_value double,
    scope2_value_units varchar,
    scope3_value bigint,
    scope3_value_units varchar,
    exported_emissions bigint,
    exported_emissions_units varchar,
    gdp_ppp double,
    gdp_ppp_units varchar,
    gdp double,
    gdp_units varchar,
    consumption_emissions_excl_lulucf double,
    consumption_emissions_excl_lulucf_units varchar,
    consumption_emissions_incl_lulucf double,
    consumption_emissions_incl_lulucf_units varchar,
    attribution_factor_scope1_excl_lulucf double,
    attribution_factor_scope1_excl_lulucf_units varchar,
    attribution_factor_scope1_incl_lulucf double,
    attribution_factor_scope1_incl_lulucf_units varchar,
    attribution_factor_excl_lulucf double,
    attribution_factor_excl_lulucf_units varchar,
    attribution_factor_excl_lulucf_gdp double,
    attribution_factor_excl_lulucf_gdp_units varchar,
    attribution_factor_incl_lulucf double,
    attribution_factor_incl_lulucf_units varchar,
    attribution_factor_incl_lulucf_gdp double,
    attribution_factor_incl_lulucf_gdp_units varchar,
    scope1_excl_source varchar,
    scope1_incl_source varchar,
    scope2_source varchar,
    scope3_source varchar,
    gdp_ppp_source varchar,
    year bigint
) with (
    format = 'ORC',
    partitioning = ARRAY['country_iso_code']
)

[(True,)]

In [21]:
df_result.to_sql(ingest_table,
           con=engine,
           schema=ingest_schema,
           if_exists='append',
           index=False,
           method=osc.TrinoBatchInsert(batch_size = 1000, verbose = True))

constructed fully qualified table name as: "pcaf_sovereign_footprint.sf_total_sovereign_emissions"
inserting 1000 records
  ('ARG', TIMESTAMP '1995-01-01 00:00:00', NULL, 'CO2eq * t', NULL, 'CO2eq * t', 21000.0, 'CO2eq * t', 9356000, 'CO2eq * t', 19685000, 'CO2eq * t', 347005607350.473, 'USD', 258031750000.0, 'USD', NULL, 'CO2eq * t', NULL, 'CO2eq * t', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', 'UNFCCC -> Time_Series_GHG_total_without_LULUCF_in_kt_CO2_equivalent.xlsx', 'UNFCCC -> Time_Series_GHG_total_with_LULUCF_in_kt_CO2_equivalent.xlsx', 'OECD -> IMGR_FCO2.csv -> Industry_Code = D35  -> Aggregation grouped by Partner_ISO_CODE', 'OECD -> IMGR_FCO2.csv -> Indutry_Code = DTOTAL - Scope_2 Value ', 'Worldbank -> API_NY.GDP.MKTP.CD_DS2_en_csv_v2_4019306.csv', 1995)
  ('ARG', TIMESTAMP '1996-01-01 00:00:00', NULL, 'CO2eq * t', NULL, 'CO2eq * t', 28000.0, 'CO2eq * t', 11287000, 'CO2eq * t', 22307000, 'CO2eq * t', 372888233736.503, 'USD', 272149750000.0, 'USD', NULL, 'CO2eq * t', NULL, 'CO2eq * t', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', 'UNFCCC -> Time_Series_GHG_total_without_LULUCF_in_kt_CO2_equivalent.xlsx', 'UNFCCC -> Time_Series_GHG_total_with_LULUCF_in_kt_CO2_equivalent.xlsx', 'OECD -> IMGR_FCO2.csv -> Industry_Code = D35  -> Aggregation grouped by Partner_ISO_CODE', 'OECD -> IMGR_FCO2.csv -> Indutry_Code = DTOTAL - Scope_2 Value ', 'Worldbank -> API_NY.GDP.MKTP.CD_DS2_en_csv_v2_4019306.csv', 1996)
  ('ARG', TIMESTAMP '1997-01-01 00:00:00', 270910288.57367104, 'CO2eq * t', 241956194.21024, 'CO2eq * t', 26000.0, 'CO2eq * t', 14968000, 'CO2eq * t', 26883000, 'CO2eq * t', 410342067258.763, 'USD', 292859000000.0, 'USD', 259021288.57367104, 'CO2eq * t', 230067194.21024, 'CO2eq * t', 0.0006602059846884628, 'CO2eq * t / USD', 0.0005896451120076403, 'CO2eq * t / USD', 0.0006967462304891564, 'CO2eq * t / USD', 0.0009762523554805249, 'CO2eq * t / USD', 0.0006261853578083341, 'CO2eq * t / USD', 0.000877385343152302, 'CO2eq * t / USD', 'UNFCCC -> Time_Series_GHG_total_without_LULUCF_in_kt_CO2_equivalent.xlsx', 'UNFCCC -> Time_Series_GHG_total_with_LULUCF_in_kt_CO2_equivalent.xlsx', 'OECD -> IMGR_FCO2.csv -> Industry_Code = D35  -> Aggregation grouped by Partner_ISO_CODE', 'OECD -> IMGR_FCO2.csv -> Indutry_Code = DTOTAL - Scope_2 Value ', 'Worldbank -> API_NY.GDP.MKTP.CD_DS2_en_csv_v2_4019306.csv', 1997)
  ...
  ('ESP', TIMESTAMP '1981-01-01 00:00:00', NULL, 'CO2eq * t', NULL, 'CO2eq * t', NULL, 'CO2eq * t', NULL, 'CO2eq * t', NULL, 'CO2eq * t', NULL, 'USD', 202807891511.984, 'USD', NULL, 'CO2eq * t', NULL, 'CO2eq * t', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', 'UNFCCC -> Time_Series_GHG_total_without_LULUCF_in_kt_CO2_equivalent.xlsx', 'UNFCCC -> Time_Series_GHG_total_with_LULUCF_in_kt_CO2_equivalent.xlsx', 'OECD -> IMGR_FCO2.csv -> Industry_Code = D35  -> Aggregation grouped by Partner_ISO_CODE', 'OECD -> IMGR_FCO2.csv -> Indutry_Code = DTOTAL - Scope_2 Value ', 'Worldbank -> API_NY.GDP.MKTP.CD_DS2_en_csv_v2_4019306.csv', 1981)
batch insert result: [(1000,)]
inserting 1000 records
  ('EST', TIMESTAMP '1995-01-01 00:00:00', 20273773.476655576, 'CO2eq * t', 17774289.07211617, 'CO2eq * t', 1050000.0, 'CO2eq * t', 7401000, 'CO2eq * t', 4434000, 'CO2eq * t', 9304112599.85629, 'USD', 4502970889.06373, 'USD', 24290773.476655576, 'CO2eq * t', 21791289.07211617, 'CO2eq * t', 0.0021790120507536336, 'CO2eq * t / USD', 0.001910369084784153, 'CO2eq * t / USD', 0.0030873200607115666, 'CO2eq * t / USD', 0.00637907154727978, 'CO2eq * t / USD', 0.0028186770947420865, 'CO2eq * t / USD', 0.00582399702734232, 'CO2eq * t / USD', 'UNFCCC -> Time_Series_GHG_total_without_LULUCF_in_kt_CO2_equivalent.xlsx', 'UNFCCC -> Time_Series_GHG_total_with_LULUCF_in_kt_CO2_equivalent.xlsx', 'OECD -> IMGR_FCO2.csv -> Industry_Code = D35  -> Aggregation grouped by Partner_ISO_CODE', 'OECD -> IMGR_FCO2.csv -> Indutry_Code = DTOTAL - Scope_2 Value ', 'Worldbank -> API_NY.GDP.MKTP.CD_DS2_en_csv_v2_4019306.csv', 1995)
  ('EST', TIMESTAMP '1996-01-01 00:00:00', 21180712.16253818, 'CO2eq * t', 18351110.31499601, 'CO2eq * t', 946000.0, 'CO2eq * t', 6776000, 'CO2eq * t', 3899000, 'CO2eq * t', 9753173782.83109, 'USD', 4786018988.16491, 'USD', 25003712.16253818, 'CO2eq * t', 22174110.31499601, 'CO2eq * t', 0.002171673819636378, 'CO2eq * t / USD', 0.0018815526846553497, 'CO2eq * t / USD', 0.002963416094709273, 'CO2eq * t / USD', 0.006038988193321035, 'CO2eq * t / USD', 0.0026732949597282445, 'CO2eq * t / USD', 0.005447765748416546, 'CO2eq * t / USD', 'UNFCCC -> Time_Series_GHG_total_without_LULUCF_in_kt_CO2_equivalent.xlsx', 'UNFCCC -> Time_Series_GHG_total_with_LULUCF_in_kt_CO2_equivalent.xlsx', 'OECD -> IMGR_FCO2.csv -> Industry_Code = D35  -> Aggregation grouped by Partner_ISO_CODE', 'OECD -> IMGR_FCO2.csv -> Indutry_Code = DTOTAL - Scope_2 Value ', 'Worldbank -> API_NY.GDP.MKTP.CD_DS2_en_csv_v2_4019306.csv', 1996)
  ('EST', TIMESTAMP '1997-01-01 00:00:00', 20759071.522566862, 'CO2eq * t', 17833687.065579694, 'CO2eq * t', 1117000.0, 'CO2eq * t', 7217000, 'CO2eq * t', 4327000, 'CO2eq * t', 11167418405.5971, 'USD', 5154420649.23354, 'USD', 24766071.522566862, 'CO2eq * t', 21840687.065579694, 'CO2eq * t', 0.0018588961896656828, 'CO2eq * t / USD', 0.0015969390971006753, 'CO2eq * t / USD', 0.002605174308503158, 'CO2eq * t / USD', 0.00564429515990182, 'CO2eq * t / USD', 0.0023432172159381505, 'CO2eq * t / USD', 0.005076746514561402, 'CO2eq * t / USD', 'UNFCCC -> Time_Series_GHG_total_without_LULUCF_in_kt_CO2_equivalent.xlsx', 'UNFCCC -> Time_Series_GHG_total_with_LULUCF_in_kt_CO2_equivalent.xlsx', 'OECD -> IMGR_FCO2.csv -> Industry_Code = D35  -> Aggregation grouped by Partner_ISO_CODE', 'OECD -> IMGR_FCO2.csv -> Indutry_Code = DTOTAL - Scope_2 Value ', 'Worldbank -> API_NY.GDP.MKTP.CD_DS2_en_csv_v2_4019306.csv', 1997)
  ...
  ('LUX', TIMESTAMP '1998-01-01 00:00:00', 8614775.183814684, 'CO2eq * t', 8009609.108649722, 'CO2eq * t', 15000.0, 'CO2eq * t', 9655000, 'CO2eq * t', 10185000, 'CO2eq * t', 18800386977.9634, 'USD', 20150053345.1878, 'USD', 8099775.183814682, 'CO2eq * t', 7494609.108649723, 'CO2eq * t', 0.0004582232905052628, 'CO2eq * t / USD', 0.0004260342682327799, 'CO2eq * t / USD', 0.0009725744052634084, 'CO2eq * t / USD', 0.0009074306092684076, 'CO2eq * t / USD', 0.0009403853829909256, 'CO2eq * t / USD', 0.0008773976329383731, 'CO2eq * t / USD', 'UNFCCC -> Time_Series_GHG_total_without_LULUCF_in_kt_CO2_equivalent.xlsx', 'UNFCCC -> Time_Series_GHG_total_with_LULUCF_in_kt_CO2_equivalent.xlsx', 'OECD -> IMGR_FCO2.csv -> Industry_Code = D35  -> Aggregation grouped by Partner_ISO_CODE', 'OECD -> IMGR_FCO2.csv -> Indutry_Code = DTOTAL - Scope_2 Value ', 'Worldbank -> API_NY.GDP.MKTP.CD_DS2_en_csv_v2_4019306.csv', 1998)
batch insert result: [(1000,)]
inserting 1000 records
  ('LUX', TIMESTAMP '1999-01-01 00:00:00', 9079655.807592113, 'CO2eq * t', 8380638.854844834, 'CO2eq * t', 13000.0, 'CO2eq * t', 8308000, 'CO2eq * t', 7012000, 'CO2eq * t', 21456887315.5603, 'USD', 21899317598.8414, 'USD', 10388655.807592113, 'CO2eq * t', 9689638.854844835, 'CO2eq * t', 0.0004231581064886166, 'CO2eq * t / USD', 0.00039058036385208986, 'CO2eq * t / USD', 0.0008109589966002826, 'CO2eq * t / USD', 0.0007945752523591287, 'CO2eq * t / USD', 0.0007783812539637559, 'CO2eq * t / USD', 0.0007626556754320256, 'CO2eq * t / USD', 'UNFCCC -> Time_Series_GHG_total_without_LULUCF_in_kt_CO2_equivalent.xlsx', 'UNFCCC -> Time_Series_GHG_total_with_LULUCF_in_kt_CO2_equivalent.xlsx', 'OECD -> IMGR_FCO2.csv -> Industry_Code = D35  -> Aggregation grouped by Partner_ISO_CODE', 'OECD -> IMGR_FCO2.csv -> Indutry_Code = DTOTAL - Scope_2 Value ', 'Worldbank -> API_NY.GDP.MKTP.CD_DS2_en_csv_v2_4019306.csv', 1999)
  ('LUX', TIMESTAMP '2000-01-01 00:00:00', 9658183.037051557, 'CO2eq * t', 8936048.437576434, 'CO2eq * t', 23000.0, 'CO2eq * t', 10024000, 'CO2eq * t', 7920000, 'CO2eq * t', 24047659001.9595, 'USD', 21230182989.3036, 'USD', 11785183.037051558, 'CO2eq * t', 11063048.437576436, 'CO2eq * t', 0.0004016267461321108, 'CO2eq * t / USD', 0.00037159743644270277, 'CO2eq * t / USD', 0.0008194220915826319, 'CO2eq * t / USD', 0.0009281683086283156, 'CO2eq * t / USD', 0.0007893927818932239, 'CO2eq * t / USD', 0.0008941537831840951, 'CO2eq * t / USD', 'UNFCCC -> Time_Series_GHG_total_without_LULUCF_in_kt_CO2_equivalent.xlsx', 'UNFCCC -> Time_Series_GHG_total_with_LULUCF_in_kt_CO2_equivalent.xlsx', 'OECD -> IMGR_FCO2.csv -> Industry_Code = D35  -> Aggregation grouped by Partner_ISO_CODE', 'OECD -> IMGR_FCO2.csv -> Indutry_Code = DTOTAL - Scope_2 Value ', 'Worldbank -> API_NY.GDP.MKTP.CD_DS2_en_csv_v2_4019306.csv', 2000)
  ('LUX', TIMESTAMP '2001-01-01 00:00:00', 10151681.52303222, 'CO2eq * t', 9447535.760225601, 'CO2eq * t', 43000.0, 'CO2eq * t', 9600000, 'CO2eq * t', 7542000, 'CO2eq * t', 24780691932.436, 'USD', 21387533703.2327, 'USD', 12252681.523032218, 'CO2eq * t', 11548535.760225601, 'CO2eq * t', 0.0004096609388757405, 'CO2eq * t / USD', 0.0003812458419637392, 'CO2eq * t / USD', 0.0007987945444381445, 'CO2eq * t / USD', 0.0009255242702453474, 'CO2eq * t / USD', 0.0007703794475261433, 'CO2eq * t / USD', 0.0008926010836555732, 'CO2eq * t / USD', 'UNFCCC -> Time_Series_GHG_total_without_LULUCF_in_kt_CO2_equivalent.xlsx', 'UNFCCC -> Time_Series_GHG_total_with_LULUCF_in_kt_CO2_equivalent.xlsx', 'OECD -> IMGR_FCO2.csv -> Industry_Code = D35  -> Aggregation grouped by Partner_ISO_CODE', 'OECD -> IMGR_FCO2.csv -> Indutry_Code = DTOTAL - Scope_2 Value ', 'Worldbank -> API_NY.GDP.MKTP.CD_DS2_en_csv_v2_4019306.csv', 2001)
  ...
  ('SVK', TIMESTAMP '2011-01-01 00:00:00', 44555465.82644192, 'CO2eq * t', 38094795.45830161, 'CO2eq * t', 182000.0, 'CO2eq * t', 35145000, 'CO2eq * t', 29256000, 'CO2eq * t', 141145550910.631, 'USD', 99492917848.5897, 'USD', 50626465.826441914, 'CO2eq * t', 44165795.458301604, 'CO2eq * t', 0.0003156703526181499, 'CO2eq * t / USD', 0.00026989724587509, 'CO2eq * t / USD', 0.0005659580858983009, 'CO2eq * t / USD', 0.0008028960005777359, 'CO2eq * t / USD', 0.0005201849791552411, 'CO2eq * t / USD', 0.000737960018119444, 'CO2eq * t / USD', 'UNFCCC -> Time_Series_GHG_total_without_LULUCF_in_kt_CO2_equivalent.xlsx', 'UNFCCC -> Time_Series_GHG_total_with_LULUCF_in_kt_CO2_equivalent.xlsx', 'OECD -> IMGR_FCO2.csv -> Industry_Code = D35  -> Aggregation grouped by Partner_ISO_CODE', 'OECD -> IMGR_FCO2.csv -> Indutry_Code = DTOTAL - Scope_2 Value ', 'Worldbank -> API_NY.GDP.MKTP.CD_DS2_en_csv_v2_4019306.csv', 2011)
batch insert result: [(1000,)]
inserting 1000 records
  ('SVK', TIMESTAMP '2012-01-01 00:00:00', 42309221.09393434, 'CO2eq * t', 34885377.206026465, 'CO2eq * t', 153000.0, 'CO2eq * t', 35538000, 'CO2eq * t', 28235000, 'CO2eq * t', 145400866528.456, 'USD', 94253181330.3891, 'USD', 49765221.09393434, 'CO2eq * t', 42341377.206026465, 'CO2eq * t', 0.0002909832802520068, 'CO2eq * t / USD', 0.0002399255110298751, 'CO2eq * t / USD', 0.0005364494927454173, 'CO2eq * t / USD', 0.0008275606191001377, 'CO2eq * t / USD', 0.0004853917235232856, 'CO2eq * t / USD', 0.0007487957033368723, 'CO2eq * t / USD', 'UNFCCC -> Time_Series_GHG_total_without_LULUCF_in_kt_CO2_equivalent.xlsx', 'UNFCCC -> Time_Series_GHG_total_with_LULUCF_in_kt_CO2_equivalent.xlsx', 'OECD -> IMGR_FCO2.csv -> Industry_Code = D35  -> Aggregation grouped by Partner_ISO_CODE', 'OECD -> IMGR_FCO2.csv -> Indutry_Code = DTOTAL - Scope_2 Value ', 'Worldbank -> API_NY.GDP.MKTP.CD_DS2_en_csv_v2_4019306.csv', 2012)
  ('SVK', TIMESTAMP '2013-01-01 00:00:00', 41862564.419110715, 'CO2eq * t', 33766204.82336831, 'CO2eq * t', 143000.0, 'CO2eq * t', 33059000, 'CO2eq * t', 22794000, 'CO2eq * t', 151117210724.786, 'USD', 98569320342.5842, 'USD', 52270564.419110715, 'CO2eq * t', 44174204.82336831, 'CO2eq * t', 0.00027702049434561517, 'CO2eq * t / USD', 0.00022344380670751774, 'CO2eq * t / USD', 0.0004967307433685894, 'CO2eq * t / USD', 0.0007615408542761465, 'CO2eq * t / USD', 0.0004431540557304919, 'CO2eq * t / USD', 0.0006794021161007896, 'CO2eq * t / USD', 'UNFCCC -> Time_Series_GHG_total_without_LULUCF_in_kt_CO2_equivalent.xlsx', 'UNFCCC -> Time_Series_GHG_total_with_LULUCF_in_kt_CO2_equivalent.xlsx', 'OECD -> IMGR_FCO2.csv -> Industry_Code = D35  -> Aggregation grouped by Partner_ISO_CODE', 'OECD -> IMGR_FCO2.csv -> Indutry_Code = DTOTAL - Scope_2 Value ', 'Worldbank -> API_NY.GDP.MKTP.CD_DS2_en_csv_v2_4019306.csv', 2013)
  ('SVK', TIMESTAMP '2014-01-01 00:00:00', 39862990.435789116, 'CO2eq * t', 33744529.04584304, 'CO2eq * t', 113000.0, 'CO2eq * t', 31057000, 'CO2eq * t', 22235000, 'CO2eq * t', 156758949098.91, 'USD', 101089178418.029, 'USD', 48797990.43578911, 'CO2eq * t', 42679529.04584304, 'CO2eq * t', 0.0002542948307891297, 'CO2eq * t / USD', 0.0002152638126232353, 'CO2eq * t / USD', 0.000453135153330031, 'CO2eq * t / USD', 0.0007026765035328505, 'CO2eq * t / USD', 0.00041410413516413666, 'CO2eq * t / USD', 0.0006421511190585134, 'CO2eq * t / USD', 'UNFCCC -> Time_Series_GHG_total_without_LULUCF_in_kt_CO2_equivalent.xlsx', 'UNFCCC -> Time_Series_GHG_total_with_LULUCF_in_kt_CO2_equivalent.xlsx', 'OECD -> IMGR_FCO2.csv -> Industry_Code = D35  -> Aggregation grouped by Partner_ISO_CODE', 'OECD -> IMGR_FCO2.csv -> Indutry_Code = DTOTAL - Scope_2 Value ', 'Worldbank -> API_NY.GDP.MKTP.CD_DS2_en_csv_v2_4019306.csv', 2014)
  ...
  ('COM', TIMESTAMP '1997-01-01 00:00:00', NULL, 'CO2eq * t', NULL, 'CO2eq * t', NULL, 'CO2eq * t', NULL, 'CO2eq * t', NULL, 'CO2eq * t', 814246706.598598, 'USD', 364445589.702365, 'USD', NULL, 'CO2eq * t', NULL, 'CO2eq * t', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', 'UNFCCC -> Time_Series_GHG_total_without_LULUCF_in_kt_CO2_equivalent.xlsx', 'UNFCCC -> Time_Series_GHG_total_with_LULUCF_in_kt_CO2_equivalent.xlsx', 'OECD -> IMGR_FCO2.csv -> Industry_Code = D35  -> Aggregation grouped by Partner_ISO_CODE', 'OECD -> IMGR_FCO2.csv -> Indutry_Code = DTOTAL - Scope_2 Value ', 'Worldbank -> API_NY.GDP.MKTP.CD_DS2_en_csv_v2_4019306.csv', 1997)
batch insert result: [(1000,)]
inserting 1000 records
  ('COM', TIMESTAMP '1998-01-01 00:00:00', NULL, 'CO2eq * t', NULL, 'CO2eq * t', NULL, 'CO2eq * t', NULL, 'CO2eq * t', NULL, 'CO2eq * t', 833971598.291125, 'USD', 370106776.043329, 'USD', NULL, 'CO2eq * t', NULL, 'CO2eq * t', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', 'UNFCCC -> Time_Series_GHG_total_without_LULUCF_in_kt_CO2_equivalent.xlsx', 'UNFCCC -> Time_Series_GHG_total_with_LULUCF_in_kt_CO2_equivalent.xlsx', 'OECD -> IMGR_FCO2.csv -> Industry_Code = D35  -> Aggregation grouped by Partner_ISO_CODE', 'OECD -> IMGR_FCO2.csv -> Indutry_Code = DTOTAL - Scope_2 Value ', 'Worldbank -> API_NY.GDP.MKTP.CD_DS2_en_csv_v2_4019306.csv', 1998)
  ('COM', TIMESTAMP '1995-01-01 00:00:00', NULL, 'CO2eq * t', NULL, 'CO2eq * t', NULL, 'CO2eq * t', NULL, 'CO2eq * t', NULL, 'CO2eq * t', 765007843.548196, 'USD', 398461789.558686, 'USD', NULL, 'CO2eq * t', NULL, 'CO2eq * t', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', 'UNFCCC -> Time_Series_GHG_total_without_LULUCF_in_kt_CO2_equivalent.xlsx', 'UNFCCC -> Time_Series_GHG_total_with_LULUCF_in_kt_CO2_equivalent.xlsx', 'OECD -> IMGR_FCO2.csv -> Industry_Code = D35  -> Aggregation grouped by Partner_ISO_CODE', 'OECD -> IMGR_FCO2.csv -> Indutry_Code = DTOTAL - Scope_2 Value ', 'Worldbank -> API_NY.GDP.MKTP.CD_DS2_en_csv_v2_4019306.csv', 1995)
  ('COM', TIMESTAMP '2010-01-01 00:00:00', NULL, 'CO2eq * t', NULL, 'CO2eq * t', NULL, 'CO2eq * t', NULL, 'CO2eq * t', NULL, 'CO2eq * t', 1553800742.62498, 'USD', 907978723.547592, 'USD', NULL, 'CO2eq * t', NULL, 'CO2eq * t', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', 'UNFCCC -> Time_Series_GHG_total_without_LULUCF_in_kt_CO2_equivalent.xlsx', 'UNFCCC -> Time_Series_GHG_total_with_LULUCF_in_kt_CO2_equivalent.xlsx', 'OECD -> IMGR_FCO2.csv -> Industry_Code = D35  -> Aggregation grouped by Partner_ISO_CODE', 'OECD -> IMGR_FCO2.csv -> Indutry_Code = DTOTAL - Scope_2 Value ', 'Worldbank -> API_NY.GDP.MKTP.CD_DS2_en_csv_v2_4019306.csv', 2010)
  ...
  ('PRY', TIMESTAMP '1969-01-01 00:00:00', NULL, 'CO2eq * t', NULL, 'CO2eq * t', NULL, 'CO2eq * t', NULL, 'CO2eq * t', NULL, 'CO2eq * t', NULL, 'USD', 556293650.793651, 'USD', NULL, 'CO2eq * t', NULL, 'CO2eq * t', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', 'UNFCCC -> Time_Series_GHG_total_without_LULUCF_in_kt_CO2_equivalent.xlsx', 'UNFCCC -> Time_Series_GHG_total_with_LULUCF_in_kt_CO2_equivalent.xlsx', 'OECD -> IMGR_FCO2.csv -> Industry_Code = D35  -> Aggregation grouped by Partner_ISO_CODE', 'OECD -> IMGR_FCO2.csv -> Indutry_Code = DTOTAL - Scope_2 Value ', 'Worldbank -> API_NY.GDP.MKTP.CD_DS2_en_csv_v2_4019306.csv', 1969)
batch insert result: [(1000,)]
inserting 1000 records
  ('PRY', TIMESTAMP '2008-01-01 00:00:00', NULL, 'CO2eq * t', NULL, 'CO2eq * t', NULL, 'CO2eq * t', NULL, 'CO2eq * t', NULL, 'CO2eq * t', 55324714958.9277, 'USD', 24616537618.2325, 'USD', NULL, 'CO2eq * t', NULL, 'CO2eq * t', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', 'UNFCCC -> Time_Series_GHG_total_without_LULUCF_in_kt_CO2_equivalent.xlsx', 'UNFCCC -> Time_Series_GHG_total_with_LULUCF_in_kt_CO2_equivalent.xlsx', 'OECD -> IMGR_FCO2.csv -> Industry_Code = D35  -> Aggregation grouped by Partner_ISO_CODE', 'OECD -> IMGR_FCO2.csv -> Indutry_Code = DTOTAL - Scope_2 Value ', 'Worldbank -> API_NY.GDP.MKTP.CD_DS2_en_csv_v2_4019306.csv', 2008)
  ('PRY', TIMESTAMP '2013-01-01 00:00:00', NULL, 'CO2eq * t', NULL, 'CO2eq * t', NULL, 'CO2eq * t', NULL, 'CO2eq * t', NULL, 'CO2eq * t', 72020277433.9387, 'USD', 38651334287.6732, 'USD', NULL, 'CO2eq * t', NULL, 'CO2eq * t', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', 'UNFCCC -> Time_Series_GHG_total_without_LULUCF_in_kt_CO2_equivalent.xlsx', 'UNFCCC -> Time_Series_GHG_total_with_LULUCF_in_kt_CO2_equivalent.xlsx', 'OECD -> IMGR_FCO2.csv -> Industry_Code = D35  -> Aggregation grouped by Partner_ISO_CODE', 'OECD -> IMGR_FCO2.csv -> Indutry_Code = DTOTAL - Scope_2 Value ', 'Worldbank -> API_NY.GDP.MKTP.CD_DS2_en_csv_v2_4019306.csv', 2013)
  ('PRY', TIMESTAMP '1977-01-01 00:00:00', NULL, 'CO2eq * t', NULL, 'CO2eq * t', NULL, 'CO2eq * t', NULL, 'CO2eq * t', NULL, 'CO2eq * t', NULL, 'USD', 2092158730.15873, 'USD', NULL, 'CO2eq * t', NULL, 'CO2eq * t', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', 'UNFCCC -> Time_Series_GHG_total_without_LULUCF_in_kt_CO2_equivalent.xlsx', 'UNFCCC -> Time_Series_GHG_total_with_LULUCF_in_kt_CO2_equivalent.xlsx', 'OECD -> IMGR_FCO2.csv -> Industry_Code = D35  -> Aggregation grouped by Partner_ISO_CODE', 'OECD -> IMGR_FCO2.csv -> Indutry_Code = DTOTAL - Scope_2 Value ', 'Worldbank -> API_NY.GDP.MKTP.CD_DS2_en_csv_v2_4019306.csv', 1977)
  ...

In [22]:
df_result = df_result[df_result['year']>=1990]
df_result.sort_values(by=['country_iso_code','validity_date'], inplace=True)
df_result.to_excel("pcaf_results.xls",index=False,encoding='utf-8')
sql=f"""
select * from {ingest_catalog}.{ingest_schema}.{ingest_table} where country_iso_code = 'CAN' and year = 2018 """
pd.read_sql(sql, engine)

/tmp/ipykernel_2037/1485295850.py:3: FutureWarning: As the xlwt package is no longer maintained, the xlwt engine will be removed in a future version of pandas. This is the only engine in pandas that supports writing in the xls format. Install openpyxl and write to an xlsx file instead. You can set the option io.excel.xls.writer to 'xlwt' to silence this warning. While this option is deprecated and will also raise a warning, it can be globally set and the warning suppressed.
  df_result.to_excel("pcaf_results.xls",index=False,encoding='utf-8')

,country_iso_code,validity_date,scope1_excl_lulucf,scope1_excl_lulucf_units,scope1_incl_lulucf,scope1_incl_lulucf_units,scope2_value,scope2_value_units,scope3_value,scope3_value_units,...,attribution_factor_incl_lulucf,attribution_factor_incl_lulucf_units,attribution_factor_incl_lulucf_gdp,attribution_factor_incl_lulucf_gdp_units,scope1_excl_source,scope1_incl_source,scope2_source,scope3_source,gdp_ppp_source,year
0,CAN,2018-01-01 00:00:00.000,7.284759e+08,CO2eq * t,7.368870e+08,CO2eq * t,4953000.0,CO2eq * t,260931000,CO2eq * t,...,0.000541,CO2eq * t / USD,0.000581,CO2eq * t / USD,UNFCCC -> Time_Series_GHG_total_without_LULUCF...,UNFCCC -> Time_Series_GHG_total_with_LULUCF_in...,OECD -> IMGR_FCO2.csv -> Industry_Code = D35 ...,OECD -> IMGR_FCO2.csv -> Indutry_Code = DTOTAL...,Worldbank -> API_NY.GDP.MKTP.CD_DS2_en_csv_v2_...,2018