<font size=6> The total sovereign emissions calculated by adding up scope 1, 2 and 3 emissions  </font>

In [1]:
# 'capture' magic prevents long outputs from spamming your notebook
#%%capture pipoutput

# For loading predefined environment variables from files
# Typically used to load sensitive access credentials
%pip install python-dotenv

# Standard python package for interacting with S3 buckets
%pip install boto3
# Interacting with Trino and using Trino with sqlalchemy
%pip install trino sqlalchemy sqlalchemy-trino

# Pandas and parquet file i/o
%pip install pandas pyarrow fastparquet

# OS-Climate utilities to make data ingest easier
%pip install osc-ingest-tools
%pip install ipython --upgrade
%pip install country_converter --upgrade
%pip install pint-pandas
%pip install openscm-units
%pip install pint
%pip install jedi
%pip install pycountry

Requirement already satisfied: python-dotenv in /opt/app-root/lib/python3.8/site-packages (0.20.0)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: boto3 in /opt/app-root/lib/python3.8/site-packages (1.24.16)
Requirement already satisfied: jmespath<2.0.0,>=0.7.1 in /opt/app-root/lib/python3.8/site-packages (from boto3) (1.0.1)
Requirement already satisfied: botocore<1.28.0,>=1.27.16 in /opt/app-root/lib/python3.8/site-packages (from boto3) (1.27.16)
Requirement already satisfied: s3transfer<0.7.0,>=0.6.0 in /opt/app-root/lib/python3.8/site-packages (from boto3) (0.6.0)
Requirement already satisfied: urllib3<1.27,>=1.25.4 in /opt/app-root/lib/python3.8/site-packages (from botocore<1.28.0,>=1.27.16->boto3) (1.26.9)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in /opt/app-root/lib/python3.8/site-packages (from botocore<1.28.0,>=1.27.16->boto3) (2.8.2)
Requirement already satisfied: six>=1.5 in /opt/app-root/lib/python3.8/site-packages (from python-dateutil<3.0.0,>=2.1->botocore<1.28.0,>=1.27.16->boto3) (1.16.0)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: trino in /opt/app-root/lib/python3.8/site-packages (0.313.0)
Requirement already satisfied: sqlalchemy in /opt/app-root/lib/python3.8/site-packages (1.4.27)
Requirement already satisfied: sqlalchemy-trino in /opt/app-root/lib/python3.8/site-packages (0.5.0)
Requirement already satisfied: requests in /opt/app-root/lib/python3.8/site-packages (from trino) (2.28.0)
Requirement already satisfied: pytz in /opt/app-root/lib/python3.8/site-packages (from trino) (2022.1)
Requirement already satisfied: greenlet!=0.4.17 in /opt/app-root/lib/python3.8/site-packages (from sqlalchemy) (1.1.2)
Requirement already satisfied: certifi>=2017.4.17 in /opt/app-root/lib/python3.8/site-packages (from requests->trino) (2022.5.18.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /opt/app-root/lib/python3.8/site-packages (from requests->trino) (1.26.9)
Requirement already satisfied: idna<4,>=2.5 in /opt/app-root/lib/python3.8/site-packages (from requests->trino) (3.3)
Requirement already satisfied: charset-normalizer~=2.0.0 in /opt/app-root/lib/python3.8/site-packages (from requests->trino) (2.0.12)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: pandas in /opt/app-root/lib/python3.8/site-packages (1.4.3)
Requirement already satisfied: pyarrow in /opt/app-root/lib/python3.8/site-packages (8.0.0)
Requirement already satisfied: fastparquet in /opt/app-root/lib/python3.8/site-packages (0.8.1)
Requirement already satisfied: numpy>=1.18.5 in /opt/app-root/lib/python3.8/site-packages (from pandas) (1.23.0)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/app-root/lib/python3.8/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/app-root/lib/python3.8/site-packages (from pandas) (2022.1)
Requirement already satisfied: fsspec in /opt/app-root/lib/python3.8/site-packages (from fastparquet) (2022.5.0)
Requirement already satisfied: cramjam>=2.3.0 in /opt/app-root/lib/python3.8/site-packages (from fastparquet) (2.5.0)
Requirement already satisfied: six>=1.5 in /opt/app-root/lib/python3.8/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: osc-ingest-tools in /opt/app-root/lib/python3.8/site-packages (0.3.4)
Requirement already satisfied: sqlalchemy in /opt/app-root/lib/python3.8/site-packages (from osc-ingest-tools) (1.4.27)
Requirement already satisfied: trino in /opt/app-root/lib/python3.8/site-packages (from osc-ingest-tools) (0.313.0)
Requirement already satisfied: python-dotenv in /opt/app-root/lib/python3.8/site-packages (from osc-ingest-tools) (0.20.0)
Requirement already satisfied: boto3 in /opt/app-root/lib/python3.8/site-packages (from osc-ingest-tools) (1.24.16)
Requirement already satisfied: sqlalchemy-trino in /opt/app-root/lib/python3.8/site-packages (from osc-ingest-tools) (0.5.0)
Requirement already satisfied: pandas in /opt/app-root/lib/python3.8/site-packages (from osc-ingest-tools) (1.4.3)
Requirement already satisfied: s3transfer<0.7.0,>=0.6.0 in /opt/app-root/lib/python3.8/site-packages (from boto3->osc-ingest-tools) (0.6.0)
Requirement already satisfied: jmespath<2.0.0,>=0.7.1 in /opt/app-root/lib/python3.8/site-packages (from boto3->osc-ingest-tools) (1.0.1)
Requirement already satisfied: botocore<1.28.0,>=1.27.16 in /opt/app-root/lib/python3.8/site-packages (from boto3->osc-ingest-tools) (1.27.16)
Requirement already satisfied: numpy>=1.18.5 in /opt/app-root/lib/python3.8/site-packages (from pandas->osc-ingest-tools) (1.23.0)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/app-root/lib/python3.8/site-packages (from pandas->osc-ingest-tools) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/app-root/lib/python3.8/site-packages (from pandas->osc-ingest-tools) (2022.1)
Requirement already satisfied: greenlet!=0.4.17 in /opt/app-root/lib/python3.8/site-packages (from sqlalchemy->osc-ingest-tools) (1.1.2)
Requirement already satisfied: requests in /opt/app-root/lib/python3.8/site-packages (from trino->osc-ingest-tools) (2.28.0)
Requirement already satisfied: urllib3<1.27,>=1.25.4 in /opt/app-root/lib/python3.8/site-packages (from botocore<1.28.0,>=1.27.16->boto3->osc-ingest-tools) (1.26.9)
Requirement already satisfied: six>=1.5 in /opt/app-root/lib/python3.8/site-packages (from python-dateutil>=2.8.1->pandas->osc-ingest-tools) (1.16.0)
Requirement already satisfied: certifi>=2017.4.17 in /opt/app-root/lib/python3.8/site-packages (from requests->trino->osc-ingest-tools) (2022.5.18.1)
Requirement already satisfied: charset-normalizer~=2.0.0 in /opt/app-root/lib/python3.8/site-packages (from requests->trino->osc-ingest-tools) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /opt/app-root/lib/python3.8/site-packages (from requests->trino->osc-ingest-tools) (3.3)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: ipython in /opt/app-root/lib/python3.8/site-packages (8.4.0)
Requirement already satisfied: pygments>=2.4.0 in /opt/app-root/lib/python3.8/site-packages (from ipython) (2.12.0)
Requirement already satisfied: jedi>=0.16 in /opt/app-root/lib/python3.8/site-packages (from ipython) (0.18.1)
Requirement already satisfied: pickleshare in /opt/app-root/lib/python3.8/site-packages (from ipython) (0.7.5)
Requirement already satisfied: pexpect>4.3 in /opt/app-root/lib/python3.8/site-packages (from ipython) (4.8.0)
Requirement already satisfied: matplotlib-inline in /opt/app-root/lib/python3.8/site-packages (from ipython) (0.1.3)
Requirement already satisfied: traitlets>=5 in /opt/app-root/lib/python3.8/site-packages (from ipython) (5.3.0.dev0)
Requirement already satisfied: setuptools>=18.5 in /opt/app-root/lib/python3.8/site-packages (from ipython) (62.6.0)
Requirement already satisfied: backcall in /opt/app-root/lib/python3.8/site-packages (from ipython) (0.2.0)
Requirement already satisfied: decorator in /opt/app-root/lib/python3.8/site-packages (from ipython) (5.1.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /opt/app-root/lib/python3.8/site-packages (from ipython) (3.0.29)
Requirement already satisfied: stack-data in /opt/app-root/lib/python3.8/site-packages (from ipython) (0.2.0)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /opt/app-root/lib/python3.8/site-packages (from jedi>=0.16->ipython) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /opt/app-root/lib/python3.8/site-packages (from pexpect>4.3->ipython) (0.7.0)
Requirement already satisfied: wcwidth in /opt/app-root/lib/python3.8/site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython) (0.2.5)
Requirement already satisfied: executing in /opt/app-root/lib/python3.8/site-packages (from stack-data->ipython) (0.8.3)
Requirement already satisfied: asttokens in /opt/app-root/lib/python3.8/site-packages (from stack-data->ipython) (2.0.5)
Requirement already satisfied: pure-eval in /opt/app-root/lib/python3.8/site-packages (from stack-data->ipython) (0.2.2)
Requirement already satisfied: six in /opt/app-root/lib/python3.8/site-packages (from asttokens->stack-data->ipython) (1.16.0)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: country_converter in /opt/app-root/lib/python3.8/site-packages (0.7.4)
Requirement already satisfied: pandas>=1.0 in /opt/app-root/lib/python3.8/site-packages (from country_converter) (1.4.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/app-root/lib/python3.8/site-packages (from pandas>=1.0->country_converter) (2.8.2)
Requirement already satisfied: numpy>=1.18.5 in /opt/app-root/lib/python3.8/site-packages (from pandas>=1.0->country_converter) (1.23.0)
Requirement already satisfied: pytz>=2020.1 in /opt/app-root/lib/python3.8/site-packages (from pandas>=1.0->country_converter) (2022.1)
Requirement already satisfied: six>=1.5 in /opt/app-root/lib/python3.8/site-packages (from python-dateutil>=2.8.1->pandas>=1.0->country_converter) (1.16.0)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: pint-pandas in /opt/app-root/lib/python3.8/site-packages (0.2)
Requirement already satisfied: pandas>=1.2 in /opt/app-root/lib/python3.8/site-packages (from pint-pandas) (1.4.3)
Requirement already satisfied: pint>=0.17 in /opt/app-root/lib/python3.8/site-packages (from pint-pandas) (0.19.2)
Requirement already satisfied: pytz>=2020.1 in /opt/app-root/lib/python3.8/site-packages (from pandas>=1.2->pint-pandas) (2022.1)
Requirement already satisfied: numpy>=1.18.5 in /opt/app-root/lib/python3.8/site-packages (from pandas>=1.2->pint-pandas) (1.23.0)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/app-root/lib/python3.8/site-packages (from pandas>=1.2->pint-pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /opt/app-root/lib/python3.8/site-packages (from python-dateutil>=2.8.1->pandas>=1.2->pint-pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: openscm-units in /opt/app-root/lib/python3.8/site-packages (0.5.0)
Requirement already satisfied: pandas in /opt/app-root/lib/python3.8/site-packages (from openscm-units) (1.4.3)
Requirement already satisfied: globalwarmingpotentials in /opt/app-root/lib/python3.8/site-packages (from openscm-units) (0.9.3)
Requirement already satisfied: pint in /opt/app-root/lib/python3.8/site-packages (from openscm-units) (0.19.2)
Requirement already satisfied: pytz>=2020.1 in /opt/app-root/lib/python3.8/site-packages (from pandas->openscm-units) (2022.1)
Requirement already satisfied: numpy>=1.18.5 in /opt/app-root/lib/python3.8/site-packages (from pandas->openscm-units) (1.23.0)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/app-root/lib/python3.8/site-packages (from pandas->openscm-units) (2.8.2)
Requirement already satisfied: six>=1.5 in /opt/app-root/lib/python3.8/site-packages (from python-dateutil>=2.8.1->pandas->openscm-units) (1.16.0)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: pint in /opt/app-root/lib/python3.8/site-packages (0.19.2)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: jedi in /opt/app-root/lib/python3.8/site-packages (0.18.1)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /opt/app-root/lib/python3.8/site-packages (from jedi) (0.8.3)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: pycountry in /opt/app-root/lib/python3.8/site-packages (22.3.5)
Requirement already satisfied: setuptools in /opt/app-root/lib/python3.8/site-packages (from pycountry) (62.6.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
from dotenv import dotenv_values, load_dotenv
import osc_ingest_trino as osc
import os
import pathlib
dotenv_dir = os.environ.get('CREDENTIAL_DOTENV_DIR', os.environ.get('PWD', '/opt/app-root/src'))
dotenv_path = pathlib.Path(dotenv_dir) / 'credentials.env'
if os.path.exists(dotenv_path):
    load_dotenv(dotenv_path=dotenv_path,override=True)

In [3]:
import trino
from sqlalchemy.engine import create_engine

env_var_prefix = 'TRINO'

sqlstring = 'trino://{user}@{host}:{port}/'.format(
    user = os.environ[f'{env_var_prefix}_USER'],
    host = os.environ[f'{env_var_prefix}_HOST'],
    port = os.environ[f'{env_var_prefix}_PORT']
)
sqlargs = {
    'auth': trino.auth.JWTAuthentication(os.environ[f'{env_var_prefix}_PASSWD']),
    'http_scheme': 'https',
    'catalog': 'osc_datacommons_dev'
}
engine = create_engine(sqlstring, connect_args = sqlargs)
connection = engine.connect()

#trino_bucket = osc.attach_s3_bucket("S3_DEV")

In [4]:
import boto3
import pandas as pd

s3_source = boto3.resource(
    service_name="s3",
    endpoint_url=os.environ['S3_LANDING_ENDPOINT'],
    aws_access_key_id=os.environ['S3_LANDING_ACCESS_KEY'],
    aws_secret_access_key=os.environ['S3_LANDING_SECRET_KEY'],
)
source_bucket = s3_source.Bucket(os.environ['S3_LANDING_BUCKET'])

In [5]:
# define source and destination tables
# LULUCF (Land Use, Land-Use Change and Forestry)
ingest_catalog = 'osc_datacommons_dev'
ingest_schema = 'pcaf_sovereign_footprint'
ingest_table = 'sf_total_sovereign_emissions'
src_table_1 = 'sf_oecd_imgr_fco2'
src_table_2 = 'sf_unfccc_results'
src_table_3 = 'sf_oecd_exgr_fco2'

In [6]:
import pandas as pd
from openscm_units import unit_registry
from pint import set_application_registry, Quantity
from pint_pandas import PintArray, PintType
# First we create the registry.
ureg = unit_registry
Q_ = ureg.Quantity
ureg.default_format = '~'
ureg.define("CO2e = CO2 = CO2eq")
ureg.define("USD = [currency] ")
ureg.define('Millions=1000000')
set_application_registry(ureg)

In [7]:
def requantify_df(df):
    units_col = None
    columns_reversed = reversed(df.columns)
    for col in columns_reversed:
        if col.endswith("_units"):
            if units_col:
                # We expect _units column to follow a non-units column
                raise ValueError
            units_col = col
            continue
        if units_col:
            if col + '_units' != units_col:
                raise ValueError
            if (df[units_col]==df[units_col][0]).all():
                # Make a PintArray
                new_col = PintArray(df[col], dtype=f"pint[{ureg(df[units_col][0]).u}]")
            else:
                # Make a pd.Series of Quantity in a way that does not throw UnitStrippedWarning
                new_col = pd.Series(data=df[col], name=col) * pd.Series(data=df[units_col].map(lambda x: ureg(x).u), name=col)
            df = df.drop(columns=units_col)
            df[col] = new_col
            units_col = None
    return df

In [8]:
# If DF_COL contains Pint quantities (because it is a PintArray or an array of Pint Quantities),
# return a two-column dataframe of magnitudes and units.
# If DF_COL contains no Pint quanities, return it unchanged.

def dequantify_column(df_col: pd.Series):
    if type(df_col.values)==PintArray:
        return pd.DataFrame({df_col.name: df_col.values.quantity.m,
                             df_col.name + "_units": str(df_col.values.dtype.units)},
                            index=df_col.index)
    elif df_col.size==0:
        return df_col
    elif isinstance(df_col.iloc[0], Quantity):
        values = df_col.map(lambda x: (x.m, x.u))
        return pd.DataFrame({df_col.name: df_col.map(lambda x: x.m),
                             df_col.name + "_units": df_col.map(lambda x: str(x.u))},
                            index=df_col.index)
    else:
        return df_col

# Rewrite dataframe DF so that columns containing Pint quantities are represented by a column for the Magnitude and column for the Units.
# The magnitude column retains the original column name and the units column is renamed with a _units suffix.
def dequantify_df(df):
    return pd.concat([dequantify_column(df[col]) for col in df.columns], axis=1)

In [9]:
# Get the values saved in Trino related with Foreign CO2 emissions embodied in gross imports

import pandas as pd

sql=f"""
select country_iso_code,partner_iso_code,industry_code,validity_date,attribute,value,value_units from {ingest_catalog}.{ingest_schema}.{src_table_1} """ 
df1 = pd.read_sql(sql, engine)
df1 = requantify_df(df1)
# convert to CO2 units to t
df1['value'] = df1['value'].pint.to("t CO2e")
df1 = dequantify_df(df1)


sql=f"""
select country_iso_code,partner_iso_code,industry_code,validity_date,attribute,value,value_units from {ingest_catalog}.{ingest_schema}.{src_table_3} where industry_code='DTOTAL'""" 
df_exgr = pd.read_sql(sql, engine)
df_exgr = requantify_df(df_exgr)
# convert to CO2 units to t
df_exgr['value'] = df_exgr['value'].pint.to("t CO2e")
df_exgr = dequantify_df(df_exgr)

#df1["units"] = "kt"
#df1 = requantify_df(df1).convert_dtypes()
#df1.info(verbose=True)
#df1

<font size=3> Remove invalid country codes </font>

In [10]:
import pycountry
import pandas as pd
df_country = pd.DataFrame([country.__dict__['_fields'] for country in pycountry.countries])
df_country = df_country.rename(columns={'alpha_3':'country_iso_code'})
df_country=df_country[['country_iso_code']]
# add Rest of World to the country dataframe
dict_row = {'country_iso_code':'ROW'}
df_country = df_country.append(dict_row, ignore_index = True)
df_country.info(verbose=True)
df1=df1.convert_dtypes()
#df1.info(verbose=True)
df1 = pd.merge(df1,df_country,on=['country_iso_code'])  
df1=df1.convert_dtypes()
#df_result.drop(columns=['country_name_y'],inplace=True)
df1

df_exgr = pd.merge(df_exgr,df_country,on=['country_iso_code'])  
df_exgr=df_exgr.convert_dtypes()
#df_result.drop(columns=['country_name_y'],inplace=True)
df_exgr

/tmp/ipykernel_407/4216143356.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_country = df_country.append(dict_row, ignore_index = True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 1 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   country_iso_code  250 non-null    object
dtypes: object(1)
memory usage: 2.1+ KB

,country_iso_code,partner_iso_code,industry_code,validity_date,attribute,value,value_units
0,ZAF,SVN,DTOTAL,2003,Foreign CO2 emissions embodied in gross exports,3000.0,CO2eq * t
1,ZAF,SVN,DTOTAL,2004,Foreign CO2 emissions embodied in gross exports,3000.0,CO2eq * t
2,ZAF,SVN,DTOTAL,2005,Foreign CO2 emissions embodied in gross exports,6000.0,CO2eq * t
3,ZAF,SVN,DTOTAL,2006,Foreign CO2 emissions embodied in gross exports,10000.0,CO2eq * t
4,ZAF,SVN,DTOTAL,2007,Foreign CO2 emissions embodied in gross exports,9000.0,CO2eq * t
...,...,...,...,...,...,...,...
120787,VNM,MMR,DTOTAL,2014,Foreign CO2 emissions embodied in gross exports,117000.0,CO2eq * t
120788,VNM,MMR,DTOTAL,2015,Foreign CO2 emissions embodied in gross exports,159000.0,CO2eq * t
120789,VNM,MMR,DTOTAL,2016,Foreign CO2 emissions embodied in gross exports,261000.0,CO2eq * t
120790,VNM,MMR,DTOTAL,2017,Foreign CO2 emissions embodied in gross exports,263000.0,CO2eq * t
120791,VNM,MMR,DTOTAL,2018,Foreign CO2 emissions embodied in gross exports,244000.0,CO2eq * t

Calcuate Scope 2:
GHG emissions occurring as a consequence of the domestic use of grid-supplied electricity, heat,
steam and/or cooling which is imported from another territory

In [11]:
rename_columns = {'value':'total','partner_iso_code':'country_iso_code','value_units' :'total_units'}
agg_columns = { 'value' : 'sum'}
columns_order = ['attribute','industry_code','country_iso_code','validity_date','total','total_units']
df1 = df1.groupby(['partner_iso_code','industry_code','attribute','validity_date','value_units'],as_index=False).agg(agg_columns).rename(columns=rename_columns).reindex(columns=columns_order)

df1.convert_dtypes()

df1.info(verbose=True)
df1

######################

df_exgr = df_exgr.groupby(['partner_iso_code','industry_code','attribute','validity_date','value_units'],as_index=False).agg(agg_columns).rename(columns=rename_columns).reindex(columns=columns_order)

df_exgr.convert_dtypes()

df_exgr.info(verbose=True)
df_exgr

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4032 entries, 0 to 4031
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   attribute         4032 non-null   string
 1   industry_code     4032 non-null   string
 2   country_iso_code  4032 non-null   string
 3   validity_date     4032 non-null   Int64
 4   total             4032 non-null   Float64
 5   total_units       4032 non-null   string
dtypes: Float64(1), Int64(1), string(4)
memory usage: 197.0 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2016 entries, 0 to 2015
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   attribute         2016 non-null   string
 1   industry_code     2016 non-null   string
 2   country_iso_code  2016 non-null   string
 3   validity_date     2016 non-null   Int64
 4   total             2016 non-null   Float64
 5   total_units       2016 non-null   string
dtypes: Float64(1), Int64(1), string(4)
memory usage: 98.6 KB

,attribute,industry_code,country_iso_code,validity_date,total,total_units
0,Foreign CO2 emissions embodied in gross exports,DTOTAL,APEC,1995,414810000.0,CO2eq * t
1,Foreign CO2 emissions embodied in gross exports,DTOTAL,APEC,1996,441536000.0,CO2eq * t
2,Foreign CO2 emissions embodied in gross exports,DTOTAL,APEC,1997,472415000.0,CO2eq * t
3,Foreign CO2 emissions embodied in gross exports,DTOTAL,APEC,1998,480209000.0,CO2eq * t
4,Foreign CO2 emissions embodied in gross exports,DTOTAL,APEC,1999,536571000.0,CO2eq * t
...,...,...,...,...,...,...
2011,Foreign CO2 emissions embodied in gross exports,DTOTAL,ZSCA,2014,58850000.0,CO2eq * t
2012,Foreign CO2 emissions embodied in gross exports,DTOTAL,ZSCA,2015,49904000.0,CO2eq * t
2013,Foreign CO2 emissions embodied in gross exports,DTOTAL,ZSCA,2016,43192000.0,CO2eq * t
2014,Foreign CO2 emissions embodied in gross exports,DTOTAL,ZSCA,2017,47417000.0,CO2eq * t
2015,Foreign CO2 emissions embodied in gross exports,DTOTAL,ZSCA,2018,49630000.0,CO2eq * t

In [12]:
# divide the dataframe into two dataframes 
# to calculate Scope2 and Scope3 Values
df_D35 = df1[df1['industry_code']=='D35']
df_D35 = df_D35[['country_iso_code','validity_date','total','total_units']]
df_DTOTAL = df1[df1['industry_code']=='DTOTAL']
df_DTOTAL = df_DTOTAL[['country_iso_code','validity_date','total','total_units']]
df_result = pd.merge(df_D35,df_DTOTAL,on=['country_iso_code','validity_date'])  
df_result=df_result.convert_dtypes()
#df_result.drop(columns=['attribute_y','total_units_y'],inplace=True)
rename_columns = {'total_x':'scope2_value','total_y':'scope3_value','total_units_x':'scope2_value_units','total_units_y':'scope3_value_units'}
df_result.rename(columns=rename_columns,inplace=True)
df_result['scope3_value'] = df_result['scope3_value'] - df_result['scope2_value'] 
df_result[df_result['country_iso_code']=='CAN']

df_result = pd.merge(df_result,df_exgr,on=['country_iso_code','validity_date'])  
df_result=df_result.convert_dtypes()
#df_result.drop(columns=['attribute_y','total_units_y'],inplace=True)
rename_columns = {'total':'exported_emissions','total_units':'exported_emissions_units'}
df_result.rename(columns=rename_columns,inplace=True)
df_result.drop(columns=['attribute','industry_code'],inplace=True)
df_result

,country_iso_code,validity_date,scope2_value,scope2_value_units,scope3_value,scope3_value_units,exported_emissions,exported_emissions_units
0,APEC,1995,39478000.0,CO2eq * t,2716610000.0,CO2eq * t,414810000.0,CO2eq * t
1,APEC,1996,39637000.0,CO2eq * t,2687546000.0,CO2eq * t,441536000.0,CO2eq * t
2,APEC,1997,46108000.0,CO2eq * t,2805099000.0,CO2eq * t,472415000.0,CO2eq * t
3,APEC,1998,47416000.0,CO2eq * t,3011055000.0,CO2eq * t,480209000.0,CO2eq * t
4,APEC,1999,47128000.0,CO2eq * t,3218345000.0,CO2eq * t,536571000.0,CO2eq * t
...,...,...,...,...,...,...,...,...
2011,ZSCA,2014,917000.0,CO2eq * t,208345000.0,CO2eq * t,58850000.0,CO2eq * t
2012,ZSCA,2015,619000.0,CO2eq * t,214100000.0,CO2eq * t,49904000.0,CO2eq * t
2013,ZSCA,2016,566000.0,CO2eq * t,205862000.0,CO2eq * t,43192000.0,CO2eq * t
2014,ZSCA,2017,433000.0,CO2eq * t,209461000.0,CO2eq * t,47417000.0,CO2eq * t
2015,ZSCA,2018,370000.0,CO2eq * t,225269000.0,CO2eq * t,49630000.0,CO2eq * t

In [13]:
# Get the values saved in Trino containing  GHG emissions provided by UNFCCC & GDP PPP values from Worldbank

import pandas as pd

sql=f"""
select country_iso_code,validity_date,ghg_total_without_lulucf,ghg_total_without_lulucf_units,ghg_total_with_lulucf,ghg_total_with_lulucf_units
,gdp,gdp_units,gdp_ppp,gdp_ppp_units
from {ingest_catalog}.{ingest_schema}.{src_table_2} """ 
df_unfccc = pd.read_sql(sql, engine)
df_unfccc[df_unfccc['country_iso_code']=='ARG']
#df1["units"] = "kt"
#df1 = requantify_df(df1).convert_dtypes()
#df1.info(verbose=True)
#df1

,country_iso_code,validity_date,ghg_total_without_lulucf,ghg_total_without_lulucf_units,ghg_total_with_lulucf,ghg_total_with_lulucf_units,gdp,gdp_units,gdp_ppp,gdp_ppp_units
1012,ARG,1992,NaN,CO2eq * kt,NaN,CO2eq * kt,2.287886e+11,USD,2.921593e+11,USD
1013,ARG,1998,NaN,CO2eq * kt,NaN,CO2eq * kt,2.989482e+11,USD,4.309373e+11,USD
1014,ARG,2018,NaN,CO2eq * kt,NaN,CO2eq * kt,5.248197e+11,USD,1.036428e+12,USD
1015,ARG,2009,NaN,CO2eq * kt,NaN,CO2eq * kt,3.329765e+11,USD,6.612758e+11,USD
1961,ARG,2014,NaN,CO2eq * kt,NaN,CO2eq * kt,5.263197e+11,USD,8.398967e+11,USD
1962,ARG,2007,NaN,CO2eq * kt,NaN,CO2eq * kt,2.875305e+11,USD,6.575692e+11,USD
1963,ARG,1996,NaN,CO2eq * kt,NaN,CO2eq * kt,2.721498e+11,USD,3.728882e+11,USD
1964,ARG,1999,NaN,CO2eq * kt,NaN,CO2eq * kt,2.835230e+11,USD,4.223593e+11,USD
3165,ARG,2005,NaN,CO2eq * kt,NaN,CO2eq * kt,1.987371e+11,USD,5.277291e+11,USD
3166,ARG,2017,NaN,CO2eq * kt,NaN,CO2eq * kt,6.436287e+11,USD,1.039331e+12,USD
3167,ARG,2002,NaN,CO2eq * kt,NaN,CO2eq * kt,9.772400e+10,USD,3.787953e+11,USD
3168,ARG,2008,NaN,CO2eq * kt,NaN,CO2eq * kt,3.615580e+11,USD,6.975579e+11,USD
3169,ARG,2015,NaN,CO2eq * kt,NaN,CO2eq * kt,5.947493e+11,USD,8.671768e+11,USD
3812,ARG,2019,NaN,CO2eq * kt,NaN,CO2eq * kt,4.519324e+11,USD,1.033558e+12,USD
3813,ARG,1993,NaN,CO2eq * kt,NaN,CO2eq * kt,2.367417e+11,USD,3.236302e+11,USD
3814,ARG,2006,NaN,CO2eq * kt,NaN,CO2eq * kt,2.325573e+11,USD,5.874516e+11,USD
3815,ARG,1997,270910.288574,CO2eq * kt,241956.194210,CO2eq * kt,2.928590e+11,USD,4.103421e+11,USD
4292,ARG,1994,257522.426253,CO2eq * kt,223335.527904,CO2eq * kt,2.574400e+11,USD,3.498321e+11,USD
4293,ARG,2004,NaN,CO2eq * kt,NaN,CO2eq * kt,1.646579e+11,USD,4.701694e+11,USD
4294,ARG,2000,282000.757823,CO2eq * kt,238702.903519,CO2eq * kt,2.842038e+11,USD,4.283942e+11,USD
4295,ARG,2011,NaN,CO2eq * kt,NaN,CO2eq * kt,5.301633e+11,USD,7.972639e+11,USD
6185,ARG,2010,332498.160000,CO2eq * kt,447642.430000,CO2eq * kt,4.236274e+11,USD,7.367184e+11,USD
6186,ARG,2020,NaN,CO2eq * kt,NaN,CO2eq * kt,3.892881e+11,USD,9.425083e+11,USD
6187,ARG,2012,338963.349930,CO2eq * kt,429478.449930,CO2eq * kt,5.459824e+11,USD,8.196979e+11,USD
6188,ARG,2016,NaN,CO2eq * kt,NaN,CO2eq * kt,5.575314e+11,USD,8.852275e+11,USD
6189,ARG,2001,NaN,CO2eq * kt,NaN,CO2eq * kt,2.686968e+11,USD,4.184892e+11,USD
6626,ARG,1995,NaN,CO2eq * kt,NaN,CO2eq * kt,2.580318e+11,USD,3.470056e+11,USD
6627,ARG,1991,NaN,CO2eq * kt,NaN,CO2eq * kt,1.897200e+11,USD,2.646440e+11,USD
6628,ARG,2003,NaN,CO2eq * kt,NaN,CO2eq * kt,1.275870e+11,USD,4.199258e+11,USD
6629,ARG,2013,NaN,CO2eq * kt,NaN,CO2eq * kt,5.520251e+11,USD,8.496160e+11,USD
6630,ARG,1990,231057.275548,CO2eq * kt,216291.389487,CO2eq * kt,1.413524e+11,USD,2.345641e+11,USD

In [14]:
import numpy as np
df_unfccc = df_unfccc.convert_dtypes()
df_unfccc.info(verbose=True)

df_unfccc = df_unfccc.assign(ghg_total_without_lulucf=np.where(df_unfccc.ghg_total_without_lulucf.isnull(), 0, df_unfccc.ghg_total_without_lulucf))
df_unfccc = df_unfccc.assign(ghg_total_with_lulucf=np.where(df_unfccc.ghg_total_with_lulucf.isnull(), 0, df_unfccc.ghg_total_with_lulucf))
df_unfccc = df_unfccc.assign(gdp=np.where(df_unfccc.gdp.isnull(), 0, df_unfccc.gdp))
df_unfccc = df_unfccc.assign(gdp_ppp=np.where(df_unfccc.gdp_ppp.isnull(), 0, df_unfccc.gdp_ppp))

df_unfccc = requantify_df(df_unfccc)
df_unfccc.info(verbose=True)
# convert to CO2 units to Mt
df_unfccc['ghg_total_without_lulucf'] = df_unfccc['ghg_total_without_lulucf'].pint.to("t CO2e")
df_unfccc['ghg_total_with_lulucf'] = df_unfccc['ghg_total_with_lulucf'].pint.to("t CO2e")
####

#df_unfccc = df_unfccc.assign(ghg_total_without_lulucf=np.where(df_unfccc.ghg_total_without_lulucf==0, np.nan, df_unfccc.ghg_total_without_lulucf))
#df_unfccc = df_unfccc.assign(ghg_total_with_lulucf=np.where(df_unfccc.ghg_total_with_lulucf==0, np.nan, df_unfccc.ghg_total_with_lulucf))
#df_unfccc = df_unfccc.assign(gdp=np.where(df_unfccc.gdp==0, np.nan, df_unfccc.gdp))
#df_unfccc = df_unfccc.assign(gdp_ppp=np.where(df_unfccc.gdp_ppp==0, np.nan, df_unfccc.gdp_ppp))

df_unfccc.info(verbose=True)


df_unfccc[df_unfccc['country_iso_code']=='ARG']

#df_unfccc['gdp'] = df_unfccc['gdp'].pint.to("Millions USD")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7185 entries, 0 to 7184
Data columns (total 10 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   country_iso_code                7185 non-null   string
 1   validity_date                   7185 non-null   Int64
 2   ghg_total_without_lulucf        2042 non-null   Float64
 3   ghg_total_without_lulucf_units  7185 non-null   string
 4   ghg_total_with_lulucf           2042 non-null   Float64
 5   ghg_total_with_lulucf_units     7185 non-null   string
 6   gdp                             7185 non-null   Float64
 7   gdp_units                       7185 non-null   string
 8   gdp_ppp                         7185 non-null   Float64
 9   gdp_ppp_units                   7185 non-null   string
dtypes: Float64(4), Int64(1), string(5)
memory usage: 596.5 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7185 entries, 0 to 7184
Data columns (total 6 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   country_iso_code          7185 non-null   string
 1   validity_date             7185 non-null   Int64
 2   ghg_total_without_lulucf  7185 non-null   pint[CO2eq * kt]
 3   ghg_total_with_lulucf     7185 non-null   pint[CO2eq * kt]
 4   gdp                       7185 non-null   pint[USD]
 5   gdp_ppp                   7185 non-null   pint[USD]
dtypes: Int64(1), pint[CO2eq * kt](2), pint[USD](2), string(1)
memory usage: 343.9 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7185 entries, 0 to 7184
Data columns (total 6 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   country_iso_code          7185 non-null   string
 1   validity_date             7185 non-null   Int64
 2   ghg_total_without_lulucf  7185 non-null   pint[CO2eq * t]
 3   ghg_total_with_lulucf     7185 non-null   pint[CO2eq * t]
 4   gdp                       7185 non-null   pint[USD]
 5   gdp_ppp                   7185 non-null   pint[USD]
dtypes: Int64(1), pint[CO2eq * t](2), pint[USD](2), string(1)
memory usage: 343.9 KB

/opt/app-root/lib64/python3.8/site-packages/pint_pandas/pint_array.py:648: UnitStrippedWarning: The unit of the quantity is stripped when downcasting to ndarray.
  return np.array(qtys, dtype="object", copy=copy)
/opt/app-root/lib64/python3.8/site-packages/pint_pandas/pint_array.py:648: UnitStrippedWarning: The unit of the quantity is stripped when downcasting to ndarray.
  return np.array(qtys, dtype="object", copy=copy)

,country_iso_code,validity_date,ghg_total_without_lulucf,ghg_total_with_lulucf,gdp,gdp_ppp
1012,ARG,1992,0.0,0.0,228788617201.696,292159264258.284
1013,ARG,1998,0.0,0.0,298948250000.0,430937274294.631
1014,ARG,2018,0.0,0.0,524819742918.669,1036428172096.8
1015,ARG,2009,0.0,0.0,332976484577.619,661275816702.498
1961,ARG,2014,0.0,0.0,526319673731.638,839896688260.086
1962,ARG,2007,0.0,0.0,287530508430.568,657569211584.856
1963,ARG,1996,0.0,0.0,272149750000.0,372888233736.503
1964,ARG,1999,0.0,0.0,283523000000.0,422359326228.804
3165,ARG,2005,0.0,0.0,198737095012.282,527729109507.491
3166,ARG,2017,0.0,0.0,643628665302.155,1039330591568.54
3167,ARG,2002,0.0,0.0,97724004251.8602,378795278976.384
3168,ARG,2008,0.0,0.0,361558037110.419,697557858459.69
3169,ARG,2015,0.0,0.0,594749285413.212,867176759338.262
3812,ARG,2019,0.0,0.0,451932356085.842,1033557797795.68
3813,ARG,1993,0.0,0.0,236741715015.015,323630227657.508
3814,ARG,2006,0.0,0.0,232557260817.308,587451576462.842
3815,ARG,1997,270910288.57367104,241956194.21024,292859000000.0,410342067258.763
4292,ARG,1994,257522426.252628,223335527.904266,257440000000.0,349832146514.708
4293,ARG,2004,0.0,0.0,164657930452.787,470169433019.259
4294,ARG,2000,282000757.82309103,238702903.51909998,284203750000.0,428394155078.285
4295,ARG,2011,0.0,0.0,530163281574.658,797263881242.037
6185,ARG,2010,332498160.0,447642430.0,423627422092.49,736718360687.747
6186,ARG,2020,0.0,0.0,389288056265.325,942508330081.911
6187,ARG,2012,338963349.93,429478449.93,545982375701.128,819697901873.041
6188,ARG,2016,0.0,0.0,557531376217.967,885227528869.049
6189,ARG,2001,0.0,0.0,268696750000.0,418489172661.132
6626,ARG,1995,0.0,0.0,258031750000.0,347005607350.473
6627,ARG,1991,0.0,0.0,189719984268.485,264644000848.374
6628,ARG,2003,0.0,0.0,127586973492.177,419925810757.286
6629,ARG,2013,0.0,0.0,552025140252.246,849616000404.317
6630,ARG,1990,231057275.548153,216291389.487407,141352368714.691,234564125672.49

In [15]:
#df_unfccc = dequantify_df(df_unfccc)
#df_unfccc
#df_unfccc.info(verbose=True)
#df_unfccc

#df_result= requantify_df(df_result)
#df_result= dequantify_df(df_result)
#df_result

<font size=3><b>Merge UNFCCC , Worldbank and OECD data</b> </font>

In [16]:
df_result.info(verbose=True)
df_result= requantify_df(df_result)
df_result.info(verbose=True)

#df_unfccc = df_unfccc.assign(ghg_total_without_lulucf=np.where(df_unfccc.ghg_total_without_lulucf.isnull(), 0, df_unfccc.ghg_total_without_lulucf))
#df_unfccc = df_unfccc.assign(ghg_total_with_lulucf=np.where(df_unfccc.ghg_total_with_lulucf.isnull(), 0, df_unfccc.ghg_total_with_lulucf))
#df_unfccc = df_unfccc.assign(gdp=np.where(df_unfccc.gdp.isnull(), 0, df_unfccc.gdp))
#df_unfccc = df_unfccc.assign(gdp_ppp=np.where(df_unfccc.gdp_ppp.isnull(), 0, df_unfccc.gdp_ppp))


df_result = pd.merge(df_result,df_unfccc,on=['country_iso_code','validity_date'],how='outer')  

rename_columns = {'ghg_total_without_lulucf':'scope1_excl_lulucf',
                  'ghg_total_with_lulucf':'scope1_incl_lulucf'}
#columns_order = ['country_iso_code','validity_date','scope1_excl_lulucf','scope1_excl_lulucf_units','scope1_incl_lulucf','scope1_incl_lulucf_units','scope2_value','scope2_value_units','scope3_value','scope3_value_units','exported_emissions','exported_emissions_units','gdp_ppp','gdp_ppp_units','gdp','gdp_units']
df_result = df_result.rename(columns=rename_columns)
df_result.info(verbose=True)

df_result['sum_yn'] = 1 * ((df_result['scope1_excl_lulucf'] > 0) & (df_result['scope2_value'] > 0) &  (df_result['scope3_value'] > 0) )

df_result['consumption_emissions_excl_lulucf'] = df_result['sum_yn'] * ( df_result['scope1_excl_lulucf'] + df_result['scope2_value'] + df_result['scope3_value'] - df_result['exported_emissions'])
df_result['consumption_emissions_incl_lulucf'] = df_result['sum_yn'] * ( df_result['scope1_incl_lulucf'] + df_result['scope2_value'] + df_result['scope3_value'] - df_result['exported_emissions'])
###############
df_result['attribution_factor_scope1_excl_lulucf']= (df_result['scope1_excl_lulucf']) / df_result['gdp_ppp']
df_result['attribution_factor_scope1_incl_lulucf']= (df_result['scope1_incl_lulucf']) / df_result['gdp_ppp']

df_result['attribution_factor_excl_lulucf']= df_result['sum_yn'] * ( (df_result['scope1_excl_lulucf'] + df_result['scope2_value'] + df_result['scope3_value']) / df_result['gdp_ppp'])
df_result['attribution_factor_incl_lulucf']= df_result['sum_yn'] * ( (df_result['scope1_incl_lulucf'] + df_result['scope2_value'] + df_result['scope3_value']) / df_result['gdp_ppp'])
##########
df_result['attribution_factor_excl_lulucf_gdp']= df_result['sum_yn'] * ( (df_result['scope1_excl_lulucf'] + df_result['scope2_value'] + df_result['scope3_value']) / df_result['gdp'])
df_result['attribution_factor_incl_lulucf_gdp']= df_result['sum_yn'] * ( (df_result['scope1_incl_lulucf'] + df_result['scope2_value'] + df_result['scope3_value']) / df_result['gdp'])



#df_result['ghg_total_without_lulucf']=df_result['ghg_total_without_lulucf'].replace(0, np.nan)
#df_result['ghg_total_with_lulucf']=df_result['ghg_total_with_lulucf'].replace(0, np.nan)
#df_result['gdp']=df_result['gdp'].replace(0, np.nan)
#df_result['gdp_ppp']=df_result['gdp_ppp'].replace(0, np.nan)



#df_result

columns_order = ['country_iso_code','validity_date','scope1_excl_lulucf','scope1_incl_lulucf','scope2_value','scope3_value',
                 'exported_emissions','gdp_ppp','gdp',
                 'consumption_emissions_excl_lulucf','consumption_emissions_incl_lulucf',
                 'attribution_factor_scope1_excl_lulucf','attribution_factor_scope1_incl_lulucf',
                 'attribution_factor_excl_lulucf','attribution_factor_excl_lulucf_gdp',
                 'attribution_factor_incl_lulucf','attribution_factor_incl_lulucf_gdp']
df_result = df_result.reindex(columns=columns_order)
df_result.info(verbose=True)
df_result= dequantify_df(df_result)
df_result.info(verbose=True)
# remove invalid country_iso_codes (regions, ...)

df_result = pd.merge(df_result,df_country,on=['country_iso_code'])  

cols= ['scope1_excl_lulucf','scope1_incl_lulucf','scope2_value','scope3_value',
                 'exported_emissions','gdp_ppp','gdp',
                 'consumption_emissions_excl_lulucf','consumption_emissions_incl_lulucf',
                 'attribution_factor_scope1_excl_lulucf','attribution_factor_scope1_incl_lulucf',
                 'attribution_factor_excl_lulucf','attribution_factor_excl_lulucf_gdp',
                 'attribution_factor_incl_lulucf','attribution_factor_incl_lulucf_gdp']
df_result[cols] = df_result[cols].replace({0:np.nan})


df_result

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2016 entries, 0 to 2015
Data columns (total 8 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   country_iso_code          2016 non-null   string
 1   validity_date             2016 non-null   Int64
 2   scope2_value              2016 non-null   Float64
 3   scope2_value_units        2016 non-null   string
 4   scope3_value              2016 non-null   Float64
 5   scope3_value_units        2016 non-null   string
 6   exported_emissions        2016 non-null   Float64
 7   exported_emissions_units  2016 non-null   string
dtypes: Float64(3), Int64(1), string(4)
memory usage: 149.6 KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2016 entries, 0 to 2015
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   country_iso_code    2016 non-null   string
 1   validity_date       2016 non-null   Int64
 2   scope2_value        2016 non-null   pint[CO2eq * t]
 3   scope3_value        2016 non-null   pint[CO2eq * t]
 4   exported_emissions  2016 non-null   pint[CO2eq * t]
dtypes: Int64(1), pint[CO2eq * t](3), string(1)
memory usage: 161.0 KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 7619 entries, 0 to 7618
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   country_iso_code    7619 non-null   string
 1   validity_date       7619 non-null   Int64
 2   scope2_value        2016 non-null   pint[CO2eq * t]
 3   scope3_value        2016 non-null   pint[CO2eq * t]
 4   exported_emissions  2016 non-null   pint[CO2eq * t]
 5   scope1_excl_lulucf  7185 non-null   pint[CO2eq * t]
 6   scope1_incl_lulucf  7185 non-null   pint[CO2eq * t]
 7   gdp                 7185 non-null   pint[USD]
 8   gdp_ppp             7185 non-null   pint[USD]
dtypes: Int64(1), pint[CO2eq * t](5), pint[USD](2), string(1)
memory usage: 602.7 KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 7619 entries, 0 to 7618
Data columns (total 17 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   country_iso_code                       7619 non-null   string
 1   validity_date                          7619 non-null   Int64
 2   scope1_excl_lulucf                     7185 non-null   pint[CO2eq * t]
 3   scope1_incl_lulucf                     7185 non-null   pint[CO2eq * t]
 4   scope2_value                           2016 non-null   pint[CO2eq * t]
 5   scope3_value                           2016 non-null   pint[CO2eq * t]
 6   exported_emissions                     2016 non-null   pint[CO2eq * t]
 7   gdp_ppp                                7185 non-null   pint[USD]
 8   gdp                                    7185 non-null   pint[USD]
 9   consumption_emissions_excl_lulucf      1582 non-null   pint[CO2eq * t]
 10  consumption_emissions_incl_lulucf      1582 non-null   pint[CO2eq * t]
 11  attribution_factor_scope1_excl_lulucf  7185 non-null   pint[CO2eq * t / USD]
 12  attribution_factor_scope1_incl_lulucf  7185 non-null   pint[CO2eq * t / USD]
 13  attribution_factor_excl_lulucf         1582 non-null   pint[CO2eq * t / USD]
 14  attribution_factor_excl_lulucf_gdp     1582 non-null   pint[CO2eq * t / USD]
 15  attribution_factor_incl_lulucf         1582 non-null   pint[CO2eq * t / USD]
 16  attribution_factor_incl_lulucf_gdp     1582 non-null   pint[CO2eq * t / USD]
dtypes: Int64(1), pint[CO2eq * t / USD](6), pint[CO2eq * t](7), pint[USD](2), string(1)
memory usage: 1.1 MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 7619 entries, 0 to 7618
Data columns (total 32 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   country_iso_code                             7619 non-null   string
 1   validity_date                                7619 non-null   Int64
 2   scope1_excl_lulucf                           7185 non-null   float64
 3   scope1_excl_lulucf_units                     7619 non-null   object
 4   scope1_incl_lulucf                           7185 non-null   float64
 5   scope1_incl_lulucf_units                     7619 non-null   object
 6   scope2_value                                 2016 non-null   float64
 7   scope2_value_units                           7619 non-null   object
 8   scope3_value                                 2016 non-null   float64
 9   scope3_value_units                           7619 non-null   object
 10  exported_emissions                           2016 non-null   float64
 11  exported_emissions_units                     7619 non-null   object
 12  gdp_ppp                                      7185 non-null   float64
 13  gdp_ppp_units                                7619 non-null   object
 14  gdp                                          7185 non-null   float64
 15  gdp_units                                    7619 non-null   object
 16  consumption_emissions_excl_lulucf            1582 non-null   float64
 17  consumption_emissions_excl_lulucf_units      7619 non-null   object
 18  consumption_emissions_incl_lulucf            1582 non-null   float64
 19  consumption_emissions_incl_lulucf_units      7619 non-null   object
 20  attribution_factor_scope1_excl_lulucf        7185 non-null   float64
 21  attribution_factor_scope1_excl_lulucf_units  7619 non-null   object
 22  attribution_factor_scope1_incl_lulucf        7185 non-null   float64
 23  attribution_factor_scope1_incl_lulucf_units  7619 non-null   object
 24  attribution_factor_excl_lulucf               1582 non-null   float64
 25  attribution_factor_excl_lulucf_units         7619 non-null   object
 26  attribution_factor_excl_lulucf_gdp           1582 non-null   float64
 27  attribution_factor_excl_lulucf_gdp_units     7619 non-null   object
 28  attribution_factor_incl_lulucf               1582 non-null   float64
 29  attribution_factor_incl_lulucf_units         7619 non-null   object
 30  attribution_factor_incl_lulucf_gdp           1582 non-null   float64
 31  attribution_factor_incl_lulucf_gdp_units     7619 non-null   object
dtypes: Int64(1), float64(15), object(15), string(1)
memory usage: 1.9+ MB

,country_iso_code,validity_date,scope1_excl_lulucf,scope1_excl_lulucf_units,scope1_incl_lulucf,scope1_incl_lulucf_units,scope2_value,scope2_value_units,scope3_value,scope3_value_units,...,attribution_factor_scope1_incl_lulucf,attribution_factor_scope1_incl_lulucf_units,attribution_factor_excl_lulucf,attribution_factor_excl_lulucf_units,attribution_factor_excl_lulucf_gdp,attribution_factor_excl_lulucf_gdp_units,attribution_factor_incl_lulucf,attribution_factor_incl_lulucf_units,attribution_factor_incl_lulucf_gdp,attribution_factor_incl_lulucf_gdp_units
0,ARG,1995,NaN,CO2eq * t,NaN,CO2eq * t,21000.0,CO2eq * t,9356000.0,CO2eq * t,...,NaN,CO2eq * t / USD,NaN,CO2eq * t / USD,NaN,CO2eq * t / USD,NaN,CO2eq * t / USD,NaN,CO2eq * t / USD
1,ARG,1996,NaN,CO2eq * t,NaN,CO2eq * t,28000.0,CO2eq * t,11287000.0,CO2eq * t,...,NaN,CO2eq * t / USD,NaN,CO2eq * t / USD,NaN,CO2eq * t / USD,NaN,CO2eq * t / USD,NaN,CO2eq * t / USD
2,ARG,1997,2.709103e+08,CO2eq * t,2.419562e+08,CO2eq * t,26000.0,CO2eq * t,14968000.0,CO2eq * t,...,0.00059,CO2eq * t / USD,0.000697,CO2eq * t / USD,0.000976,CO2eq * t / USD,0.000626,CO2eq * t / USD,0.000877,CO2eq * t / USD
3,ARG,1998,NaN,CO2eq * t,NaN,CO2eq * t,43000.0,CO2eq * t,13397000.0,CO2eq * t,...,NaN,CO2eq * t / USD,NaN,CO2eq * t / USD,NaN,CO2eq * t / USD,NaN,CO2eq * t / USD,NaN,CO2eq * t / USD
4,ARG,1999,NaN,CO2eq * t,NaN,CO2eq * t,61000.0,CO2eq * t,12270000.0,CO2eq * t,...,NaN,CO2eq * t / USD,NaN,CO2eq * t / USD,NaN,CO2eq * t / USD,NaN,CO2eq * t / USD,NaN,CO2eq * t / USD
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5749,GRD,2020,NaN,CO2eq * t,NaN,CO2eq * t,NaN,CO2eq * t,NaN,CO2eq * t,...,NaN,CO2eq * t / USD,NaN,CO2eq * t / USD,NaN,CO2eq * t / USD,NaN,CO2eq * t / USD,NaN,CO2eq * t / USD
5750,GRD,2012,NaN,CO2eq * t,NaN,CO2eq * t,NaN,CO2eq * t,NaN,CO2eq * t,...,NaN,CO2eq * t / USD,NaN,CO2eq * t / USD,NaN,CO2eq * t / USD,NaN,CO2eq * t / USD,NaN,CO2eq * t / USD
5751,GRD,2016,NaN,CO2eq * t,NaN,CO2eq * t,NaN,CO2eq * t,NaN,CO2eq * t,...,NaN,CO2eq * t / USD,NaN,CO2eq * t / USD,NaN,CO2eq * t / USD,NaN,CO2eq * t / USD,NaN,CO2eq * t / USD
5752,GRD,2001,NaN,CO2eq * t,NaN,CO2eq * t,NaN,CO2eq * t,NaN,CO2eq * t,...,NaN,CO2eq * t / USD,NaN,CO2eq * t / USD,NaN,CO2eq * t / USD,NaN,CO2eq * t / USD,NaN,CO2eq * t / USD
5753,GRD,2015,NaN,CO2eq * t,NaN,CO2eq * t,NaN,CO2eq * t,NaN,CO2eq * t,...,NaN,CO2eq * t / USD,NaN,CO2eq * t / USD,NaN,CO2eq * t / USD,NaN,CO2eq * t / USD,NaN,CO2eq * t / USD

In [17]:
#df_result['scope1_value_units'] = 'Mt CO2e'
#df_result['scope1_value'] = df_result['scope1_value'].round(decimals = 3)
#pd.options.display.float_format = '{:.3f}'.format
#df_result= df_result.convert_dtypes()
#df_result.info(verbose=True)
df_result[df_result['country_iso_code']=='CAN']
#df_result

,country_iso_code,validity_date,scope1_excl_lulucf,scope1_excl_lulucf_units,scope1_incl_lulucf,scope1_incl_lulucf_units,scope2_value,scope2_value_units,scope3_value,scope3_value_units,...,attribution_factor_scope1_incl_lulucf,attribution_factor_scope1_incl_lulucf_units,attribution_factor_excl_lulucf,attribution_factor_excl_lulucf_units,attribution_factor_excl_lulucf_gdp,attribution_factor_excl_lulucf_gdp_units,attribution_factor_incl_lulucf,attribution_factor_incl_lulucf_units,attribution_factor_incl_lulucf_gdp,attribution_factor_incl_lulucf_gdp_units
217,CAN,1995,NaN,CO2eq * t,NaN,CO2eq * t,5129000.0,CO2eq * t,179111000.0,CO2eq * t,...,NaN,CO2eq * t / USD,NaN,CO2eq * t / USD,NaN,CO2eq * t / USD,NaN,CO2eq * t / USD,NaN,CO2eq * t / USD
218,CAN,1996,NaN,CO2eq * t,NaN,CO2eq * t,5269000.0,CO2eq * t,188198000.0,CO2eq * t,...,NaN,CO2eq * t / USD,NaN,CO2eq * t / USD,NaN,CO2eq * t / USD,NaN,CO2eq * t / USD,NaN,CO2eq * t / USD
219,CAN,1997,6.911954e+08,CO2eq * t,6.529372e+08,CO2eq * t,6362000.0,CO2eq * t,202972000.0,CO2eq * t,...,0.000864,CO2eq * t / USD,0.001192,CO2eq * t / USD,0.001375,CO2eq * t / USD,0.001141,CO2eq * t / USD,0.001316,CO2eq * t / USD
220,CAN,1998,6.969015e+08,CO2eq * t,6.470244e+08,CO2eq * t,7993000.0,CO2eq * t,214108000.0,CO2eq * t,...,0.000815,CO2eq * t / USD,0.001158,CO2eq * t / USD,0.001450,CO2eq * t / USD,0.001095,CO2eq * t / USD,0.001371,CO2eq * t / USD
221,CAN,1999,7.096009e+08,CO2eq * t,6.742546e+08,CO2eq * t,9100000.0,CO2eq * t,222868000.0,CO2eq * t,...,0.000797,CO2eq * t / USD,0.001112,CO2eq * t / USD,0.001388,CO2eq * t / USD,0.001071,CO2eq * t / USD,0.001336,CO2eq * t / USD
222,CAN,2000,7.335113e+08,CO2eq * t,7.117703e+08,CO2eq * t,18191000.0,CO2eq * t,236036000.0,CO2eq * t,...,0.000790,CO2eq * t / USD,0.001096,CO2eq * t / USD,0.001326,CO2eq * t / USD,0.001072,CO2eq * t / USD,0.001297,CO2eq * t / USD
223,CAN,2001,7.229350e+08,CO2eq * t,6.852524e+08,CO2eq * t,19531000.0,CO2eq * t,228887000.0,CO2eq * t,...,0.000731,CO2eq * t / USD,0.001036,CO2eq * t / USD,0.001314,CO2eq * t / USD,0.000996,CO2eq * t / USD,0.001263,CO2eq * t / USD
224,CAN,2002,7.265552e+08,CO2eq * t,7.062825e+08,CO2eq * t,8195000.0,CO2eq * t,233500000.0,CO2eq * t,...,0.000727,CO2eq * t / USD,0.000997,CO2eq * t / USD,0.001273,CO2eq * t / USD,0.000976,CO2eq * t / USD,0.001246,CO2eq * t / USD
225,CAN,2003,7.448319e+08,CO2eq * t,7.203933e+08,CO2eq * t,8220000.0,CO2eq * t,232392000.0,CO2eq * t,...,0.000704,CO2eq * t / USD,0.000963,CO2eq * t / USD,0.001100,CO2eq * t / USD,0.000939,CO2eq * t / USD,0.001073,CO2eq * t / USD
226,CAN,2004,7.459198e+08,CO2eq * t,7.493836e+08,CO2eq * t,8411000.0,CO2eq * t,238375000.0,CO2eq * t,...,0.000692,CO2eq * t / USD,0.000916,CO2eq * t / USD,0.000967,CO2eq * t / USD,0.000919,CO2eq * t / USD,0.000970,CO2eq * t / USD
227,CAN,2005,7.387186e+08,CO2eq * t,7.469078e+08,CO2eq * t,11359000.0,CO2eq * t,242704000.0,CO2eq * t,...,0.000638,CO2eq * t / USD,0.000848,CO2eq * t / USD,0.000846,CO2eq * t / USD,0.000855,CO2eq * t / USD,0.000853,CO2eq * t / USD
228,CAN,2006,7.301019e+08,CO2eq * t,7.262422e+08,CO2eq * t,9075000.0,CO2eq * t,237489000.0,CO2eq * t,...,0.000585,CO2eq * t / USD,0.000787,CO2eq * t / USD,0.000740,CO2eq * t / USD,0.000784,CO2eq * t / USD,0.000737,CO2eq * t / USD
229,CAN,2007,7.516613e+08,CO2eq * t,7.437802e+08,CO2eq * t,11985000.0,CO2eq * t,243759000.0,CO2eq * t,...,0.000571,CO2eq * t / USD,0.000774,CO2eq * t / USD,0.000686,CO2eq * t / USD,0.000768,CO2eq * t / USD,0.000680,CO2eq * t / USD
230,CAN,2008,7.356929e+08,CO2eq * t,7.227996e+08,CO2eq * t,12330000.0,CO2eq * t,237354000.0,CO2eq * t,...,0.000538,CO2eq * t / USD,0.000734,CO2eq * t / USD,0.000635,CO2eq * t / USD,0.000724,CO2eq * t / USD,0.000626,CO2eq * t / USD
231,CAN,2009,6.935979e+08,CO2eq * t,6.692861e+08,CO2eq * t,7965000.0,CO2eq * t,203287000.0,CO2eq * t,...,0.000512,CO2eq * t / USD,0.000692,CO2eq * t / USD,0.000658,CO2eq * t / USD,0.000674,CO2eq * t / USD,0.000641,CO2eq * t / USD
232,CAN,2010,7.028027e+08,CO2eq * t,6.954979e+08,CO2eq * t,5579000.0,CO2eq * t,206398000.0,CO2eq * t,...,0.000510,CO2eq * t / USD,0.000671,CO2eq * t / USD,0.000566,CO2eq * t / USD,0.000666,CO2eq * t / USD,0.000561,CO2eq * t / USD
233,CAN,2011,7.140785e+08,CO2eq * t,7.075431e+08,CO2eq * t,5267000.0,CO2eq * t,224749000.0,CO2eq * t,...,0.000495,CO2eq * t / USD,0.000660,CO2eq * t / USD,0.000526,CO2eq * t / USD,0.000655,CO2eq * t / USD,0.000523,CO2eq * t / USD
234,CAN,2012,7.171724e+08,CO2eq * t,7.077369e+08,CO2eq * t,4766000.0,CO2eq * t,229789000.0,CO2eq * t,...,0.000482,CO2eq * t / USD,0.000648,CO2eq * t / USD,0.000521,CO2eq * t / USD,0.000642,CO2eq * t / USD,0.000515,CO2eq * t / USD
235,CAN,2013,7.253718e+08,CO2eq * t,7.211776e+08,CO2eq * t,5601000.0,CO2eq * t,233272000.0,CO2eq * t,...,0.000464,CO2eq * t / USD,0.000620,CO2eq * t / USD,0.000522,CO2eq * t / USD,0.000618,CO2eq * t / USD,0.000520,CO2eq * t / USD
236,CAN,2014,7.225577e+08,CO2eq * t,7.190635e+08,CO2eq * t,6106000.0,CO2eq * t,244869000.0,CO2eq * t,...,0.000443,CO2eq * t / USD,0.000600,CO2eq * t / USD,0.000539,CO2eq * t / USD,0.000598,CO2eq * t / USD,0.000537,CO2eq * t / USD
237,CAN,2015,7.230960e+08,CO2eq * t,7.271102e+08,CO2eq * t,6100000.0,CO2eq * t,246383000.0,CO2eq * t,...,0.000456,CO2eq * t / USD,0.000612,CO2eq * t / USD,0.000627,CO2eq * t / USD,0.000614,CO2eq * t / USD,0.000629,CO2eq * t / USD
238,CAN,2016,7.069339e+08,CO2eq * t,7.070293e+08,CO2eq * t,5656000.0,CO2eq * t,243738000.0,CO2eq * t,...,0.000421,CO2eq * t / USD,0.000570,CO2eq * t / USD,0.000626,CO2eq * t / USD,0.000570,CO2eq * t / USD,0.000626,CO2eq * t / USD
239,CAN,2017,7.160920e+08,CO2eq * t,7.167884e+08,CO2eq * t,5277000.0,CO2eq * t,247483000.0,CO2eq * t,...,0.000406,CO2eq * t / USD,0.000549,CO2eq * t / USD,0.000587,CO2eq * t / USD,0.000549,CO2eq * t / USD,0.000588,CO2eq * t / USD
240,CAN,2018,7.284759e+08,CO2eq * t,7.368870e+08,CO2eq * t,4953000.0,CO2eq * t,260931000.0,CO2eq * t,...,0.000398,CO2eq * t / USD,0.000537,CO2eq * t / USD,0.000576,CO2eq * t / USD,0.000541,CO2eq * t / USD,0.000581,CO2eq * t / USD
241,CAN,2019,7.302449e+08,CO2eq * t,7.401230e+08,CO2eq * t,NaN,CO2eq * t,NaN,CO2eq * t,...,0.000399,CO2eq * t / USD,NaN,CO2eq * t / USD,NaN,CO2eq * t / USD,NaN,CO2eq * t / USD,NaN,CO2eq * t / USD
242,CAN,2020,NaN,CO2eq * t,NaN,CO2eq * t,NaN,CO2eq * t,NaN,CO2eq * t,...,NaN,CO2eq * t / USD,NaN,CO2eq * t / USD,NaN,CO2eq * t / USD,NaN,CO2eq * t / USD,NaN,CO2eq * t / USD

Calculate Attribution factor = (Scope1+Scope2+Scope3)/GDP

In [18]:


#df_result= requantify_df(df_result)
format_mapper =  {'gdp_ppp': '{0:,.0f}',
           'gdp': '{0:,.0f}',       
           'attribution_factor_excl_lulucf': '{0:.8f}',
           'attribution_factor_incl_lulucf': '{0:.8f}',
           'attribution_factor_excl_lulucf_gdp': '{0:.8f}',
           'attribution_factor_incl_lulucf_gdp': '{0:.8f}',       
           'scope1_excl_lulucf': '{0:,.0f}',       
           'scope1_incl_lulucf': '{0:,.0f}',              
           'scope2_value': '{0:,.0f}',              
           'scope3_value': '{0:,.0f}'
                 }

df_result[df_result['country_iso_code']=='CAN'].style.format(format_mapper)

<font size=3>Save the results in Trino</font>

In [19]:
# Add the sources used for the calculations in the result table
df_result['scope1_excl_source'] = "UNFCCC -> Time_Series_GHG_total_without_LULUCF_in_kt_CO2_equivalent.xlsx"
df_result['scope1_incl_source'] = "UNFCCC -> Time_Series_GHG_total_with_LULUCF_in_kt_CO2_equivalent.xlsx"
df_result['scope2_source'] = "OECD -> IMGR_FCO2.csv -> Industry_Code = D35  -> Aggregation grouped by Partner_ISO_CODE"
df_result['scope3_source'] = "OECD -> IMGR_FCO2.csv -> Indutry_Code = DTOTAL - Scope_2 Value "          
df_result['gdp_ppp_source'] = "Worldbank -> API_NY.GDP.MKTP.CD_DS2_en_csv_v2_4019306.csv"

In [20]:
import osc_ingest_trino as osc
#df_result['validity_date']=pd.to_datetime(df_result['validity_date'], unit='D')
df_result=df_result.convert_dtypes()
df_result.info(verbose=True)
columnschema = osc.create_table_schema_pairs(df_result) 
sql = f"""
drop table if exists {ingest_catalog}.{ingest_schema}.{ingest_table}
"""
print(sql)
qres = engine.execute(sql)
print(qres.fetchall())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5754 entries, 0 to 5753
Data columns (total 37 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   country_iso_code                             5754 non-null   string
 1   validity_date                                5754 non-null   Int64
 2   scope1_excl_lulucf                           2042 non-null   Float64
 3   scope1_excl_lulucf_units                     5754 non-null   string
 4   scope1_incl_lulucf                           2042 non-null   Float64
 5   scope1_incl_lulucf_units                     5754 non-null   string
 6   scope2_value                                 1419 non-null   Float64
 7   scope2_value_units                           5754 non-null   string
 8   scope3_value                                 1608 non-null   Int64
 9   scope3_value_units                           5754 non-null   string
 10  exported_emissions                           1608 non-null   Int64
 11  exported_emissions_units                     5754 non-null   string
 12  gdp_ppp                                      5704 non-null   Float64
 13  gdp_ppp_units                                5754 non-null   string
 14  gdp                                          5704 non-null   Float64
 15  gdp_units                                    5754 non-null   string
 16  consumption_emissions_excl_lulucf            1006 non-null   Float64
 17  consumption_emissions_excl_lulucf_units      5754 non-null   string
 18  consumption_emissions_incl_lulucf            1006 non-null   Float64
 19  consumption_emissions_incl_lulucf_units      5754 non-null   string
 20  attribution_factor_scope1_excl_lulucf        2042 non-null   Float64
 21  attribution_factor_scope1_excl_lulucf_units  5754 non-null   string
 22  attribution_factor_scope1_incl_lulucf        2042 non-null   Float64
 23  attribution_factor_scope1_incl_lulucf_units  5754 non-null   string
 24  attribution_factor_excl_lulucf               1006 non-null   Float64
 25  attribution_factor_excl_lulucf_units         5754 non-null   string
 26  attribution_factor_excl_lulucf_gdp           1006 non-null   Float64
 27  attribution_factor_excl_lulucf_gdp_units     5754 non-null   string
 28  attribution_factor_incl_lulucf               1006 non-null   Float64
 29  attribution_factor_incl_lulucf_units         5754 non-null   string
 30  attribution_factor_incl_lulucf_gdp           1006 non-null   Float64
 31  attribution_factor_incl_lulucf_gdp_units     5754 non-null   string
 32  scope1_excl_source                           5754 non-null   string
 33  scope1_incl_source                           5754 non-null   string
 34  scope2_source                                5754 non-null   string
 35  scope3_source                                5754 non-null   string
 36  gdp_ppp_source                               5754 non-null   string
dtypes: Float64(13), Int64(3), string(21)
memory usage: 1.8 MB

drop table if exists osc_datacommons_dev.pcaf_sovereign_footprint.sf_total_sovereign_emissions

[(True,)]

In [21]:
df_result.to_sql(ingest_table,
           con=engine,
           schema=ingest_schema,
           if_exists='append',
           index=False,
           method=osc.TrinoBatchInsert(batch_size = 1000, verbose = True))

constructed fully qualified table name as: "pcaf_sovereign_footprint.sf_total_sovereign_emissions"
inserting 1000 records
  ('ARG', 1995, NULL, 'CO2eq * t', NULL, 'CO2eq * t', 21000.0, 'CO2eq * t', 9356000, 'CO2eq * t', 3312000, 'CO2eq * t', 347005607350.473, 'USD', 258031750000.0, 'USD', NULL, 'CO2eq * t', NULL, 'CO2eq * t', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', 'UNFCCC -> Time_Series_GHG_total_without_LULUCF_in_kt_CO2_equivalent.xlsx', 'UNFCCC -> Time_Series_GHG_total_with_LULUCF_in_kt_CO2_equivalent.xlsx', 'OECD -> IMGR_FCO2.csv -> Industry_Code = D35  -> Aggregation grouped by Partner_ISO_CODE', 'OECD -> IMGR_FCO2.csv -> Indutry_Code = DTOTAL - Scope_2 Value ', 'Worldbank -> API_NY.GDP.MKTP.CD_DS2_en_csv_v2_4019306.csv')
  ('ARG', 1996, NULL, 'CO2eq * t', NULL, 'CO2eq * t', 28000.0, 'CO2eq * t', 11287000, 'CO2eq * t', 3809000, 'CO2eq * t', 372888233736.503, 'USD', 272149750000.0, 'USD', NULL, 'CO2eq * t', NULL, 'CO2eq * t', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', 'UNFCCC -> Time_Series_GHG_total_without_LULUCF_in_kt_CO2_equivalent.xlsx', 'UNFCCC -> Time_Series_GHG_total_with_LULUCF_in_kt_CO2_equivalent.xlsx', 'OECD -> IMGR_FCO2.csv -> Industry_Code = D35  -> Aggregation grouped by Partner_ISO_CODE', 'OECD -> IMGR_FCO2.csv -> Indutry_Code = DTOTAL - Scope_2 Value ', 'Worldbank -> API_NY.GDP.MKTP.CD_DS2_en_csv_v2_4019306.csv')
  ('ARG', 1997, 270910288.57367104, 'CO2eq * t', 241956194.21024, 'CO2eq * t', 26000.0, 'CO2eq * t', 14968000, 'CO2eq * t', 4783000, 'CO2eq * t', 410342067258.763, 'USD', 292859000000.0, 'USD', 281121288.57367104, 'CO2eq * t', 252167194.21024, 'CO2eq * t', 0.0006602059846884628, 'CO2eq * t / USD', 0.0005896451120076403, 'CO2eq * t / USD', 0.0006967462304891564, 'CO2eq * t / USD', 0.0009762523554805249, 'CO2eq * t / USD', 0.0006261853578083341, 'CO2eq * t / USD', 0.000877385343152302, 'CO2eq * t / USD', 'UNFCCC -> Time_Series_GHG_total_without_LULUCF_in_kt_CO2_equivalent.xlsx', 'UNFCCC -> Time_Series_GHG_total_with_LULUCF_in_kt_CO2_equivalent.xlsx', 'OECD -> IMGR_FCO2.csv -> Industry_Code = D35  -> Aggregation grouped by Partner_ISO_CODE', 'OECD -> IMGR_FCO2.csv -> Indutry_Code = DTOTAL - Scope_2 Value ', 'Worldbank -> API_NY.GDP.MKTP.CD_DS2_en_csv_v2_4019306.csv')
  ...
  ('KAZ', 1997, 218834888.85187766, 'CO2eq * t', 293538590.8518777, 'CO2eq * t', 1219000.0, 'CO2eq * t', 33386000, 'CO2eq * t', 1174000, 'CO2eq * t', 99213641684.7431, 'USD', 22165932062.966, 'USD', 252265888.85187766, 'CO2eq * t', 326969590.8518777, 'CO2eq * t', 0.00220569354310406, 'CO2eq * t / USD', 0.0029586515106925816, 'CO2eq * t / USD', 0.0025544863039822395, 'CO2eq * t / USD', 0.011433757359353971, 'CO2eq * t / USD', 0.0033074442715707616, 'CO2eq * t / USD', 0.014803960867502955, 'CO2eq * t / USD', 'UNFCCC -> Time_Series_GHG_total_without_LULUCF_in_kt_CO2_equivalent.xlsx', 'UNFCCC -> Time_Series_GHG_total_with_LULUCF_in_kt_CO2_equivalent.xlsx', 'OECD -> IMGR_FCO2.csv -> Industry_Code = D35  -> Aggregation grouped by Partner_ISO_CODE', 'OECD -> IMGR_FCO2.csv -> Indutry_Code = DTOTAL - Scope_2 Value ', 'Worldbank -> API_NY.GDP.MKTP.CD_DS2_en_csv_v2_4019306.csv')
batch insert result: [(1000,)]
inserting 1000 records
  ('KAZ', 1998, 215135638.6488496, 'CO2eq * t', 293526385.0488497, 'CO2eq * t', 1112000.0, 'CO2eq * t', 30671000, 'CO2eq * t', 1200000, 'CO2eq * t', 98424035540.7887, 'USD', 22135254836.0031, 'USD', 245718638.6488496, 'CO2eq * t', 324109385.0488497, 'CO2eq * t', 0.002185803878765909, 'CO2eq * t / USD', 0.0029822632595389474, 'CO2eq * t / USD', 0.002508722968857765, 'CO2eq * t / USD', 0.011154994170079995, 'CO2eq * t / USD', 0.0033051823496308037, 'CO2eq * t / USD', 0.014696437310481394, 'CO2eq * t / USD', 'UNFCCC -> Time_Series_GHG_total_without_LULUCF_in_kt_CO2_equivalent.xlsx', 'UNFCCC -> Time_Series_GHG_total_with_LULUCF_in_kt_CO2_equivalent.xlsx', 'OECD -> IMGR_FCO2.csv -> Industry_Code = D35  -> Aggregation grouped by Partner_ISO_CODE', 'OECD -> IMGR_FCO2.csv -> Indutry_Code = DTOTAL - Scope_2 Value ', 'Worldbank -> API_NY.GDP.MKTP.CD_DS2_en_csv_v2_4019306.csv')
  ('KAZ', 1999, 189021640.23725444, 'CO2eq * t', 276022466.8372545, 'CO2eq * t', 1401000.0, 'CO2eq * t', 43433000, 'CO2eq * t', 1109000, 'CO2eq * t', 102540902534.827, 'USD', 16870821839.7584, 'USD', 232746640.23725444, 'CO2eq * t', 319747466.8372545, 'CO2eq * t', 0.001843377964935067, 'CO2eq * t / USD', 0.0026918279439124915, 'CO2eq * t / USD', 0.00228060836657672, 'CO2eq * t / USD', 0.013861544058638663, 'CO2eq * t / USD', 0.0031290583455541444, 'CO2eq * t / USD', 0.01901842541429205, 'CO2eq * t / USD', 'UNFCCC -> Time_Series_GHG_total_without_LULUCF_in_kt_CO2_equivalent.xlsx', 'UNFCCC -> Time_Series_GHG_total_with_LULUCF_in_kt_CO2_equivalent.xlsx', 'OECD -> IMGR_FCO2.csv -> Industry_Code = D35  -> Aggregation grouped by Partner_ISO_CODE', 'OECD -> IMGR_FCO2.csv -> Indutry_Code = DTOTAL - Scope_2 Value ', 'Worldbank -> API_NY.GDP.MKTP.CD_DS2_en_csv_v2_4019306.csv')
  ('KAZ', 2000, 219030455.3856246, 'CO2eq * t', 314490433.7856247, 'CO2eq * t', 2297000.0, 'CO2eq * t', 49172000, 'CO2eq * t', 1473000, 'CO2eq * t', 115106829629.083, 'USD', 18291994909.0044, 'USD', 269026455.3856246, 'CO2eq * t', 364486433.7856247, 'CO2eq * t', 0.00190284500139064, 'CO2eq * t / USD', 0.002732161373908306, 'CO2eq * t / USD', 0.0023499861498859314, 'CO2eq * t / USD', 0.014787859756754514, 'CO2eq * t / USD', 0.003179302522403597, 'CO2eq * t / USD', 0.02000653485888944, 'CO2eq * t / USD', 'UNFCCC -> Time_Series_GHG_total_without_LULUCF_in_kt_CO2_equivalent.xlsx', 'UNFCCC -> Time_Series_GHG_total_with_LULUCF_in_kt_CO2_equivalent.xlsx', 'OECD -> IMGR_FCO2.csv -> Industry_Code = D35  -> Aggregation grouped by Partner_ISO_CODE', 'OECD -> IMGR_FCO2.csv -> Indutry_Code = DTOTAL - Scope_2 Value ', 'Worldbank -> API_NY.GDP.MKTP.CD_DS2_en_csv_v2_4019306.csv')
  ...
  ('ZAF', 2008, NULL, 'CO2eq * t', NULL, 'CO2eq * t', 3256000.0, 'CO2eq * t', 196858000, 'CO2eq * t', 12721000, 'CO2eq * t', 639453466713.753, 'USD', 316132138757.081, 'USD', NULL, 'CO2eq * t', NULL, 'CO2eq * t', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', 'UNFCCC -> Time_Series_GHG_total_without_LULUCF_in_kt_CO2_equivalent.xlsx', 'UNFCCC -> Time_Series_GHG_total_with_LULUCF_in_kt_CO2_equivalent.xlsx', 'OECD -> IMGR_FCO2.csv -> Industry_Code = D35  -> Aggregation grouped by Partner_ISO_CODE', 'OECD -> IMGR_FCO2.csv -> Indutry_Code = DTOTAL - Scope_2 Value ', 'Worldbank -> API_NY.GDP.MKTP.CD_DS2_en_csv_v2_4019306.csv')
batch insert result: [(1000,)]
inserting 1000 records
  ('ZAF', 2009, NULL, 'CO2eq * t', NULL, 'CO2eq * t', 2058000.0, 'CO2eq * t', 148763000, 'CO2eq * t', 9021000, 'CO2eq * t', 634417995948.103, 'USD', 329753048857.052, 'USD', NULL, 'CO2eq * t', NULL, 'CO2eq * t', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', 'UNFCCC -> Time_Series_GHG_total_without_LULUCF_in_kt_CO2_equivalent.xlsx', 'UNFCCC -> Time_Series_GHG_total_with_LULUCF_in_kt_CO2_equivalent.xlsx', 'OECD -> IMGR_FCO2.csv -> Industry_Code = D35  -> Aggregation grouped by Partner_ISO_CODE', 'OECD -> IMGR_FCO2.csv -> Indutry_Code = DTOTAL - Scope_2 Value ', 'Worldbank -> API_NY.GDP.MKTP.CD_DS2_en_csv_v2_4019306.csv')
  ('ZAF', 2010, NULL, 'CO2eq * t', NULL, 'CO2eq * t', 1873000.0, 'CO2eq * t', 172328000, 'CO2eq * t', 11526000, 'CO2eq * t', 661319881573.636, 'USD', 417365076968.257, 'USD', NULL, 'CO2eq * t', NULL, 'CO2eq * t', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', 'UNFCCC -> Time_Series_GHG_total_without_LULUCF_in_kt_CO2_equivalent.xlsx', 'UNFCCC -> Time_Series_GHG_total_with_LULUCF_in_kt_CO2_equivalent.xlsx', 'OECD -> IMGR_FCO2.csv -> Industry_Code = D35  -> Aggregation grouped by Partner_ISO_CODE', 'OECD -> IMGR_FCO2.csv -> Indutry_Code = DTOTAL - Scope_2 Value ', 'Worldbank -> API_NY.GDP.MKTP.CD_DS2_en_csv_v2_4019306.csv')
  ('ZAF', 2011, NULL, 'CO2eq * t', NULL, 'CO2eq * t', 2078000.0, 'CO2eq * t', 179608000, 'CO2eq * t', 13414000, 'CO2eq * t', 696526225201.767, 'USD', 458201514136.977, 'USD', NULL, 'CO2eq * t', NULL, 'CO2eq * t', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', 'UNFCCC -> Time_Series_GHG_total_without_LULUCF_in_kt_CO2_equivalent.xlsx', 'UNFCCC -> Time_Series_GHG_total_with_LULUCF_in_kt_CO2_equivalent.xlsx', 'OECD -> IMGR_FCO2.csv -> Industry_Code = D35  -> Aggregation grouped by Partner_ISO_CODE', 'OECD -> IMGR_FCO2.csv -> Indutry_Code = DTOTAL - Scope_2 Value ', 'Worldbank -> API_NY.GDP.MKTP.CD_DS2_en_csv_v2_4019306.csv')
  ...
  ('BMU', 2020, NULL, 'CO2eq * t', NULL, 'CO2eq * t', NULL, 'CO2eq * t', NULL, 'CO2eq * t', NULL, 'CO2eq * t', 5165255002.75565, 'USD', 6842700000.0, 'USD', NULL, 'CO2eq * t', NULL, 'CO2eq * t', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', 'UNFCCC -> Time_Series_GHG_total_without_LULUCF_in_kt_CO2_equivalent.xlsx', 'UNFCCC -> Time_Series_GHG_total_with_LULUCF_in_kt_CO2_equivalent.xlsx', 'OECD -> IMGR_FCO2.csv -> Industry_Code = D35  -> Aggregation grouped by Partner_ISO_CODE', 'OECD -> IMGR_FCO2.csv -> Indutry_Code = DTOTAL - Scope_2 Value ', 'Worldbank -> API_NY.GDP.MKTP.CD_DS2_en_csv_v2_4019306.csv')
batch insert result: [(1000,)]
inserting 1000 records
  ('BMU', 2012, NULL, 'CO2eq * t', NULL, 'CO2eq * t', NULL, 'CO2eq * t', NULL, 'CO2eq * t', NULL, 'CO2eq * t', 4370872662.28833, 'USD', 6378188000.0, 'USD', NULL, 'CO2eq * t', NULL, 'CO2eq * t', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', 'UNFCCC -> Time_Series_GHG_total_without_LULUCF_in_kt_CO2_equivalent.xlsx', 'UNFCCC -> Time_Series_GHG_total_with_LULUCF_in_kt_CO2_equivalent.xlsx', 'OECD -> IMGR_FCO2.csv -> Industry_Code = D35  -> Aggregation grouped by Partner_ISO_CODE', 'OECD -> IMGR_FCO2.csv -> Indutry_Code = DTOTAL - Scope_2 Value ', 'Worldbank -> API_NY.GDP.MKTP.CD_DS2_en_csv_v2_4019306.csv')
  ('BMU', 2016, NULL, 'CO2eq * t', NULL, 'CO2eq * t', NULL, 'CO2eq * t', NULL, 'CO2eq * t', NULL, 'CO2eq * t', 4929475866.99318, 'USD', 6899911000.0, 'USD', NULL, 'CO2eq * t', NULL, 'CO2eq * t', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', 'UNFCCC -> Time_Series_GHG_total_without_LULUCF_in_kt_CO2_equivalent.xlsx', 'UNFCCC -> Time_Series_GHG_total_with_LULUCF_in_kt_CO2_equivalent.xlsx', 'OECD -> IMGR_FCO2.csv -> Industry_Code = D35  -> Aggregation grouped by Partner_ISO_CODE', 'OECD -> IMGR_FCO2.csv -> Indutry_Code = DTOTAL - Scope_2 Value ', 'Worldbank -> API_NY.GDP.MKTP.CD_DS2_en_csv_v2_4019306.csv')
  ('BMU', 2001, NULL, 'CO2eq * t', NULL, 'CO2eq * t', NULL, 'CO2eq * t', NULL, 'CO2eq * t', NULL, 'CO2eq * t', 3657520974.81199, 'USD', 3680483000.0, 'USD', NULL, 'CO2eq * t', NULL, 'CO2eq * t', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', 'UNFCCC -> Time_Series_GHG_total_without_LULUCF_in_kt_CO2_equivalent.xlsx', 'UNFCCC -> Time_Series_GHG_total_with_LULUCF_in_kt_CO2_equivalent.xlsx', 'OECD -> IMGR_FCO2.csv -> Industry_Code = D35  -> Aggregation grouped by Partner_ISO_CODE', 'OECD -> IMGR_FCO2.csv -> Indutry_Code = DTOTAL - Scope_2 Value ', 'Worldbank -> API_NY.GDP.MKTP.CD_DS2_en_csv_v2_4019306.csv')
  ...
  ('NIC', 2018, NULL, 'CO2eq * t', NULL, 'CO2eq * t', NULL, 'CO2eq * t', NULL, 'CO2eq * t', NULL, 'CO2eq * t', 37934677109.6617, 'USD', 13025239912.2751, 'USD', NULL, 'CO2eq * t', NULL, 'CO2eq * t', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', 'UNFCCC -> Time_Series_GHG_total_without_LULUCF_in_kt_CO2_equivalent.xlsx', 'UNFCCC -> Time_Series_GHG_total_with_LULUCF_in_kt_CO2_equivalent.xlsx', 'OECD -> IMGR_FCO2.csv -> Industry_Code = D35  -> Aggregation grouped by Partner_ISO_CODE', 'OECD -> IMGR_FCO2.csv -> Indutry_Code = DTOTAL - Scope_2 Value ', 'Worldbank -> API_NY.GDP.MKTP.CD_DS2_en_csv_v2_4019306.csv')
batch insert result: [(1000,)]
inserting 1000 records
  ('NIC', 1999, NULL, 'CO2eq * t', NULL, 'CO2eq * t', NULL, 'CO2eq * t', NULL, 'CO2eq * t', NULL, 'CO2eq * t', 13256802829.3238, 'USD', 4855717874.68247, 'USD', NULL, 'CO2eq * t', NULL, 'CO2eq * t', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', 'UNFCCC -> Time_Series_GHG_total_without_LULUCF_in_kt_CO2_equivalent.xlsx', 'UNFCCC -> Time_Series_GHG_total_with_LULUCF_in_kt_CO2_equivalent.xlsx', 'OECD -> IMGR_FCO2.csv -> Industry_Code = D35  -> Aggregation grouped by Partner_ISO_CODE', 'OECD -> IMGR_FCO2.csv -> Indutry_Code = DTOTAL - Scope_2 Value ', 'Worldbank -> API_NY.GDP.MKTP.CD_DS2_en_csv_v2_4019306.csv')
  ('NIC', 1994, 7651840.0, 'CO2eq * t', -5404820.0, 'CO2eq * t', NULL, 'CO2eq * t', NULL, 'CO2eq * t', NULL, 'CO2eq * t', 9394040381.37574, 'USD', 3863185119.04762, 'USD', NULL, 'CO2eq * t', NULL, 'CO2eq * t', 0.0008145419531270316, 'CO2eq * t / USD', -0.0005753456213276862, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', 'UNFCCC -> Time_Series_GHG_total_without_LULUCF_in_kt_CO2_equivalent.xlsx', 'UNFCCC -> Time_Series_GHG_total_with_LULUCF_in_kt_CO2_equivalent.xlsx', 'OECD -> IMGR_FCO2.csv -> Industry_Code = D35  -> Aggregation grouped by Partner_ISO_CODE', 'OECD -> IMGR_FCO2.csv -> Indutry_Code = DTOTAL - Scope_2 Value ', 'Worldbank -> API_NY.GDP.MKTP.CD_DS2_en_csv_v2_4019306.csv')
  ('NIC', 1995, NULL, 'CO2eq * t', NULL, 'CO2eq * t', NULL, 'CO2eq * t', NULL, 'CO2eq * t', NULL, 'CO2eq * t', 10158036596.2339, 'USD', 4140470000.0, 'USD', NULL, 'CO2eq * t', NULL, 'CO2eq * t', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', 'UNFCCC -> Time_Series_GHG_total_without_LULUCF_in_kt_CO2_equivalent.xlsx', 'UNFCCC -> Time_Series_GHG_total_with_LULUCF_in_kt_CO2_equivalent.xlsx', 'OECD -> IMGR_FCO2.csv -> Industry_Code = D35  -> Aggregation grouped by Partner_ISO_CODE', 'OECD -> IMGR_FCO2.csv -> Indutry_Code = DTOTAL - Scope_2 Value ', 'Worldbank -> API_NY.GDP.MKTP.CD_DS2_en_csv_v2_4019306.csv')
  ...
  ('BGD', 1991, NULL, 'CO2eq * t', NULL, 'CO2eq * t', NULL, 'CO2eq * t', NULL, 'CO2eq * t', NULL, 'CO2eq * t', 93817522685.3109, 'USD', 30957483949.5798, 'USD', NULL, 'CO2eq * t', NULL, 'CO2eq * t', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', 'UNFCCC -> Time_Series_GHG_total_without_LULUCF_in_kt_CO2_equivalent.xlsx', 'UNFCCC -> Time_Series_GHG_total_with_LULUCF_in_kt_CO2_equivalent.xlsx', 'OECD -> IMGR_FCO2.csv -> Industry_Code = D35  -> Aggregation grouped by Partner_ISO_CODE', 'OECD -> IMGR_FCO2.csv -> Indutry_Code = DTOTAL - Scope_2 Value ', 'Worldbank -> API_NY.GDP.MKTP.CD_DS2_en_csv_v2_4019306.csv')
batch insert result: [(1000,)]
inserting 754 records
  ('BGD', 2003, NULL, 'CO2eq * t', NULL, 'CO2eq * t', NULL, 'CO2eq * t', NULL, 'CO2eq * t', NULL, 'CO2eq * t', 205395097099.782, 'USD', 60158929188.2556, 'USD', NULL, 'CO2eq * t', NULL, 'CO2eq * t', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', 'UNFCCC -> Time_Series_GHG_total_without_LULUCF_in_kt_CO2_equivalent.xlsx', 'UNFCCC -> Time_Series_GHG_total_with_LULUCF_in_kt_CO2_equivalent.xlsx', 'OECD -> IMGR_FCO2.csv -> Industry_Code = D35  -> Aggregation grouped by Partner_ISO_CODE', 'OECD -> IMGR_FCO2.csv -> Indutry_Code = DTOTAL - Scope_2 Value ', 'Worldbank -> API_NY.GDP.MKTP.CD_DS2_en_csv_v2_4019306.csv')
  ('BGD', 2013, NULL, 'CO2eq * t', NULL, 'CO2eq * t', NULL, 'CO2eq * t', NULL, 'CO2eq * t', NULL, 'CO2eq * t', 480218563286.77, 'USD', 149990451022.29, 'USD', NULL, 'CO2eq * t', NULL, 'CO2eq * t', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', 'UNFCCC -> Time_Series_GHG_total_without_LULUCF_in_kt_CO2_equivalent.xlsx', 'UNFCCC -> Time_Series_GHG_total_with_LULUCF_in_kt_CO2_equivalent.xlsx', 'OECD -> IMGR_FCO2.csv -> Industry_Code = D35  -> Aggregation grouped by Partner_ISO_CODE', 'OECD -> IMGR_FCO2.csv -> Indutry_Code = DTOTAL - Scope_2 Value ', 'Worldbank -> API_NY.GDP.MKTP.CD_DS2_en_csv_v2_4019306.csv')
  ('BGD', 1990, NULL, 'CO2eq * t', NULL, 'CO2eq * t', NULL, 'CO2eq * t', NULL, 'CO2eq * t', NULL, 'CO2eq * t', 87692342796.5208, 'USD', 31598341233.559, 'USD', NULL, 'CO2eq * t', NULL, 'CO2eq * t', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', 'UNFCCC -> Time_Series_GHG_total_without_LULUCF_in_kt_CO2_equivalent.xlsx', 'UNFCCC -> Time_Series_GHG_total_with_LULUCF_in_kt_CO2_equivalent.xlsx', 'OECD -> IMGR_FCO2.csv -> Industry_Code = D35  -> Aggregation grouped by Partner_ISO_CODE', 'OECD -> IMGR_FCO2.csv -> Indutry_Code = DTOTAL - Scope_2 Value ', 'Worldbank -> API_NY.GDP.MKTP.CD_DS2_en_csv_v2_4019306.csv')
  ...
  ('GRD', 2015, NULL, 'CO2eq * t', NULL, 'CO2eq * t', NULL, 'CO2eq * t', NULL, 'CO2eq * t', NULL, 'CO2eq * t', 1551090812.87388, 'USD', 997007925.925926, 'USD', NULL, 'CO2eq * t', NULL, 'CO2eq * t', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', 'UNFCCC -> Time_Series_GHG_total_without_LULUCF_in_kt_CO2_equivalent.xlsx', 'UNFCCC -> Time_Series_GHG_total_with_LULUCF_in_kt_CO2_equivalent.xlsx', 'OECD -> IMGR_FCO2.csv -> Industry_Code = D35  -> Aggregation grouped by Partner_ISO_CODE', 'OECD -> IMGR_FCO2.csv -> Indutry_Code = DTOTAL - Scope_2 Value ', 'Worldbank -> API_NY.GDP.MKTP.CD_DS2_en_csv_v2_4019306.csv')
batch insert result: [(754,)]

In [22]:
df_result.sort_values(by=['country_iso_code','validity_date'], inplace=True)
df_result.to_csv("results_2.csv",index=False,encoding='utf-8')
sql=f"""
select * from {ingest_catalog}.{ingest_schema}.{ingest_table} where country_iso_code='AUT'"""
pd.read_sql(sql, engine)

,country_iso_code,validity_date,scope1_excl_lulucf,scope1_excl_lulucf_units,scope1_incl_lulucf,scope1_incl_lulucf_units,scope2_value,scope2_value_units,scope3_value,scope3_value_units,...,attribution_factor_excl_lulucf_gdp_units,attribution_factor_incl_lulucf,attribution_factor_incl_lulucf_units,attribution_factor_incl_lulucf_gdp,attribution_factor_incl_lulucf_gdp_units,scope1_excl_source,scope1_incl_source,scope2_source,scope3_source,gdp_ppp_source
0,AUT,1995,7.923798e+07,CO2eq * t,6.586448e+07,CO2eq * t,689000.0,CO2eq * t,28359000.0,CO2eq * t,...,CO2eq * t / USD,0.000504,CO2eq * t / USD,0.000394,CO2eq * t / USD,UNFCCC -> Time_Series_GHG_total_without_LULUCF...,UNFCCC -> Time_Series_GHG_total_with_LULUCF_in...,OECD -> IMGR_FCO2.csv -> Industry_Code = D35 ...,OECD -> IMGR_FCO2.csv -> Indutry_Code = DTOTAL...,Worldbank -> API_NY.GDP.MKTP.CD_DS2_en_csv_v2_...
1,AUT,1996,8.245259e+07,CO2eq * t,7.172106e+07,CO2eq * t,766000.0,CO2eq * t,29358000.0,CO2eq * t,...,CO2eq * t / USD,0.000521,CO2eq * t / USD,0.000429,CO2eq * t / USD,UNFCCC -> Time_Series_GHG_total_without_LULUCF...,UNFCCC -> Time_Series_GHG_total_with_LULUCF_in...,OECD -> IMGR_FCO2.csv -> Industry_Code = D35 ...,OECD -> IMGR_FCO2.csv -> Indutry_Code = DTOTAL...,Worldbank -> API_NY.GDP.MKTP.CD_DS2_en_csv_v2_...
2,AUT,1997,8.211623e+07,CO2eq * t,6.287460e+07,CO2eq * t,794000.0,CO2eq * t,32055000.0,CO2eq * t,...,CO2eq * t / USD,0.000472,CO2eq * t / USD,0.000450,CO2eq * t / USD,UNFCCC -> Time_Series_GHG_total_without_LULUCF...,UNFCCC -> Time_Series_GHG_total_with_LULUCF_in...,OECD -> IMGR_FCO2.csv -> Industry_Code = D35 ...,OECD -> IMGR_FCO2.csv -> Indutry_Code = DTOTAL...,Worldbank -> API_NY.GDP.MKTP.CD_DS2_en_csv_v2_...
3,AUT,1998,8.143285e+07,CO2eq * t,6.402936e+07,CO2eq * t,762000.0,CO2eq * t,32710000.0,CO2eq * t,...,CO2eq * t / USD,0.000458,CO2eq * t / USD,0.000447,CO2eq * t / USD,UNFCCC -> Time_Series_GHG_total_without_LULUCF...,UNFCCC -> Time_Series_GHG_total_with_LULUCF_in...,OECD -> IMGR_FCO2.csv -> Industry_Code = D35 ...,OECD -> IMGR_FCO2.csv -> Indutry_Code = DTOTAL...,Worldbank -> API_NY.GDP.MKTP.CD_DS2_en_csv_v2_...
4,AUT,1999,7.989837e+07,CO2eq * t,6.019217e+07,CO2eq * t,774000.0,CO2eq * t,33134000.0,CO2eq * t,...,CO2eq * t / USD,0.000426,CO2eq * t / USD,0.000433,CO2eq * t / USD,UNFCCC -> Time_Series_GHG_total_without_LULUCF...,UNFCCC -> Time_Series_GHG_total_with_LULUCF_in...,OECD -> IMGR_FCO2.csv -> Industry_Code = D35 ...,OECD -> IMGR_FCO2.csv -> Indutry_Code = DTOTAL...,Worldbank -> API_NY.GDP.MKTP.CD_DS2_en_csv_v2_...
5,AUT,2000,8.012943e+07,CO2eq * t,6.350221e+07,CO2eq * t,973000.0,CO2eq * t,36172000.0,CO2eq * t,...,CO2eq * t / USD,0.000428,CO2eq * t / USD,0.000510,CO2eq * t / USD,UNFCCC -> Time_Series_GHG_total_without_LULUCF...,UNFCCC -> Time_Series_GHG_total_with_LULUCF_in...,OECD -> IMGR_FCO2.csv -> Industry_Code = D35 ...,OECD -> IMGR_FCO2.csv -> Indutry_Code = DTOTAL...,Worldbank -> API_NY.GDP.MKTP.CD_DS2_en_csv_v2_...
6,AUT,2001,8.406472e+07,CO2eq * t,6.459651e+07,CO2eq * t,1630000.0,CO2eq * t,37747000.0,CO2eq * t,...,CO2eq * t / USD,0.000435,CO2eq * t / USD,0.000526,CO2eq * t / USD,UNFCCC -> Time_Series_GHG_total_without_LULUCF...,UNFCCC -> Time_Series_GHG_total_with_LULUCF_in...,OECD -> IMGR_FCO2.csv -> Industry_Code = D35 ...,OECD -> IMGR_FCO2.csv -> Indutry_Code = DTOTAL...,Worldbank -> API_NY.GDP.MKTP.CD_DS2_en_csv_v2_...
7,AUT,2002,8.581506e+07,CO2eq * t,7.138788e+07,CO2eq * t,2243000.0,CO2eq * t,38112000.0,CO2eq * t,...,CO2eq * t / USD,0.000443,CO2eq * t / USD,0.000521,CO2eq * t / USD,UNFCCC -> Time_Series_GHG_total_without_LULUCF...,UNFCCC -> Time_Series_GHG_total_with_LULUCF_in...,OECD -> IMGR_FCO2.csv -> Industry_Code = D35 ...,OECD -> IMGR_FCO2.csv -> Indutry_Code = DTOTAL...,Worldbank -> API_NY.GDP.MKTP.CD_DS2_en_csv_v2_...
8,AUT,2003,9.130672e+07,CO2eq * t,8.627772e+07,CO2eq * t,2893000.0,CO2eq * t,39849000.0,CO2eq * t,...,CO2eq * t / USD,0.000494,CO2eq * t / USD,0.000492,CO2eq * t / USD,UNFCCC -> Time_Series_GHG_total_without_LULUCF...,UNFCCC -> Time_Series_GHG_total_with_LULUCF_in...,OECD -> IMGR_FCO2.csv -> Industry_Code = D35 ...,OECD -> IMGR_FCO2.csv -> Indutry_Code = DTOTAL...,Worldbank -> API_NY.GDP.MKTP.CD_DS2_en_csv_v2_...
9,AUT,2004,9.098523e+07,CO2eq * t,8.161532e+07,CO2eq * t,1900000.0,CO2eq * t,45458000.0,CO2eq * t,...,CO2eq * t / USD,0.000467,CO2eq * t / USD,0.000428,CO2eq * t / USD,UNFCCC -> Time_Series_GHG_total_without_LULUCF...,UNFCCC -> Time_Series_GHG_total_with_LULUCF_in...,OECD -> IMGR_FCO2.csv -> Industry_Code = D35 ...,OECD -> IMGR_FCO2.csv -> Indutry_Code = DTOTAL...,Worldbank -> API_NY.GDP.MKTP.CD_DS2_en_csv_v2_...
10,AUT,2005,9.214729e+07,CO2eq * t,8.131417e+07,CO2eq * t,2317000.0,CO2eq * t,47428000.0,CO2eq * t,...,CO2eq * t / USD,0.000455,CO2eq * t / USD,0.000415,CO2eq * t / USD,UNFCCC -> Time_Series_GHG_total_without_LULUCF...,UNFCCC -> Time_Series_GHG_total_with_LULUCF_in...,OECD -> IMGR_FCO2.csv -> Industry_Code = D35 ...,OECD -> IMGR_FCO2.csv -> Indutry_Code = DTOTAL...,Worldbank -> API_NY.GDP.MKTP.CD_DS2_en_csv_v2_...
11,AUT,2006,8.972878e+07,CO2eq * t,8.465396e+07,CO2eq * t,2124000.0,CO2eq * t,49181000.0,CO2eq * t,...,CO2eq * t / USD,0.000437,CO2eq * t / USD,0.000404,CO2eq * t / USD,UNFCCC -> Time_Series_GHG_total_without_LULUCF...,UNFCCC -> Time_Series_GHG_total_with_LULUCF_in...,OECD -> IMGR_FCO2.csv -> Industry_Code = D35 ...,OECD -> IMGR_FCO2.csv -> Indutry_Code = DTOTAL...,Worldbank -> API_NY.GDP.MKTP.CD_DS2_en_csv_v2_...
12,AUT,2007,8.698394e+07,CO2eq * t,8.168239e+07,CO2eq * t,2068000.0,CO2eq * t,50991000.0,CO2eq * t,...,CO2eq * t / USD,0.000412,CO2eq * t / USD,0.000346,CO2eq * t / USD,UNFCCC -> Time_Series_GHG_total_without_LULUCF...,UNFCCC -> Time_Series_GHG_total_with_LULUCF_in...,OECD -> IMGR_FCO2.csv -> Industry_Code = D35 ...,OECD -> IMGR_FCO2.csv -> Indutry_Code = DTOTAL...,Worldbank -> API_NY.GDP.MKTP.CD_DS2_en_csv_v2_...
13,AUT,2008,8.644021e+07,CO2eq * t,8.243123e+07,CO2eq * t,2044000.0,CO2eq * t,51891000.0,CO2eq * t,...,CO2eq * t / USD,0.000397,CO2eq * t / USD,0.000316,CO2eq * t / USD,UNFCCC -> Time_Series_GHG_total_without_LULUCF...,UNFCCC -> Time_Series_GHG_total_with_LULUCF_in...,OECD -> IMGR_FCO2.csv -> Industry_Code = D35 ...,OECD -> IMGR_FCO2.csv -> Indutry_Code = DTOTAL...,Worldbank -> API_NY.GDP.MKTP.CD_DS2_en_csv_v2_...
14,AUT,2009,7.977907e+07,CO2eq * t,7.541291e+07,CO2eq * t,1801000.0,CO2eq * t,39535000.0,CO2eq * t,...,CO2eq * t / USD,0.000342,CO2eq * t / USD,0.000291,CO2eq * t / USD,UNFCCC -> Time_Series_GHG_total_without_LULUCF...,UNFCCC -> Time_Series_GHG_total_with_LULUCF_in...,OECD -> IMGR_FCO2.csv -> Industry_Code = D35 ...,OECD -> IMGR_FCO2.csv -> Indutry_Code = DTOTAL...,Worldbank -> API_NY.GDP.MKTP.CD_DS2_en_csv_v2_...
15,AUT,2010,8.433672e+07,CO2eq * t,7.861232e+07,CO2eq * t,2051000.0,CO2eq * t,51753000.0,CO2eq * t,...,CO2eq * t / USD,0.000377,CO2eq * t / USD,0.000338,CO2eq * t / USD,UNFCCC -> Time_Series_GHG_total_without_LULUCF...,UNFCCC -> Time_Series_GHG_total_with_LULUCF_in...,OECD -> IMGR_FCO2.csv -> Industry_Code = D35 ...,OECD -> IMGR_FCO2.csv -> Indutry_Code = DTOTAL...,Worldbank -> API_NY.GDP.MKTP.CD_DS2_en_csv_v2_...
16,AUT,2011,8.212703e+07,CO2eq * t,7.602415e+07,CO2eq * t,1801000.0,CO2eq * t,55280000.0,CO2eq * t,...,CO2eq * t / USD,0.000357,CO2eq * t / USD,0.000308,CO2eq * t / USD,UNFCCC -> Time_Series_GHG_total_without_LULUCF...,UNFCCC -> Time_Series_GHG_total_with_LULUCF_in...,OECD -> IMGR_FCO2.csv -> Industry_Code = D35 ...,OECD -> IMGR_FCO2.csv -> Indutry_Code = DTOTAL...,Worldbank -> API_NY.GDP.MKTP.CD_DS2_en_csv_v2_...
17,AUT,2012,7.943238e+07,CO2eq * t,7.398101e+07,CO2eq * t,1954000.0,CO2eq * t,52483000.0,CO2eq * t,...,CO2eq * t / USD,0.000328,CO2eq * t / USD,0.000314,CO2eq * t / USD,UNFCCC -> Time_Series_GHG_total_without_LULUCF...,UNFCCC -> Time_Series_GHG_total_with_LULUCF_in...,OECD -> IMGR_FCO2.csv -> Industry_Code = D35 ...,OECD -> IMGR_FCO2.csv -> Indutry_Code = DTOTAL...,Worldbank -> API_NY.GDP.MKTP.CD_DS2_en_csv_v2_...
18,AUT,2013,7.981717e+07,CO2eq * t,7.533374e+07,CO2eq * t,1267000.0,CO2eq * t,52093000.0,CO2eq * t,...,CO2eq * t / USD,0.000317,CO2eq * t / USD,0.000299,CO2eq * t / USD,UNFCCC -> Time_Series_GHG_total_without_LULUCF...,UNFCCC -> Time_Series_GHG_total_with_LULUCF_in...,OECD -> IMGR_FCO2.csv -> Industry_Code = D35 ...,OECD -> IMGR_FCO2.csv -> Indutry_Code = DTOTAL...,Worldbank -> API_NY.GDP.MKTP.CD_DS2_en_csv_v2_...
19,AUT,2014,7.623867e+07,CO2eq * t,7.188817e+07,CO2eq * t,1037000.0,CO2eq * t,49605000.0,CO2eq * t,...,CO2eq * t / USD,0.000294,CO2eq * t / USD,0.000277,CO2eq * t / USD,UNFCCC -> Time_Series_GHG_total_without_LULUCF...,UNFCCC -> Time_Series_GHG_total_with_LULUCF_in...,OECD -> IMGR_FCO2.csv -> Industry_Code = D35 ...,OECD -> IMGR_FCO2.csv -> Indutry_Code = DTOTAL...,Worldbank -> API_NY.GDP.MKTP.CD_DS2_en_csv_v2_...
20,AUT,2015,7.846223e+07,CO2eq * t,7.429962e+07,CO2eq * t,1111000.0,CO2eq * t,49512000.0,CO2eq * t,...,CO2eq * t / USD,0.000290,CO2eq * t / USD,0.000327,CO2eq * t / USD,UNFCCC -> Time_Series_GHG_total_without_LULUCF...,UNFCCC -> Time_Series_GHG_total_with_LULUCF_in...,OECD -> IMGR_FCO2.csv -> Industry_Code = D35 ...,OECD -> IMGR_FCO2.csv -> Indutry_Code = DTOTAL...,Worldbank -> API_NY.GDP.MKTP.CD_DS2_en_csv_v2_...
21,AUT,2016,7.947101e+07,CO2eq * t,7.545737e+07,CO2eq * t,1022000.0,CO2eq * t,47999000.0,CO2eq * t,...,CO2eq * t / USD,0.000270,CO2eq * t / USD,0.000314,CO2eq * t / USD,UNFCCC -> Time_Series_GHG_total_without_LULUCF...,UNFCCC -> Time_Series_GHG_total_with_LULUCF_in...,OECD -> IMGR_FCO2.csv -> Industry_Code = D35 ...,OECD -> IMGR_FCO2.csv -> Indutry_Code = DTOTAL...,Worldbank -> API_NY.GDP.MKTP.CD_DS2_en_csv_v2_...
22,AUT,2017,8.186250e+07,CO2eq * t,7.711732e+07,CO2eq * t,1395000.0,CO2eq * t,51651000.0,CO2eq * t,...,CO2eq * t / USD,0.000273,CO2eq * t / USD,0.000312,CO2eq * t / USD,UNFCCC -> Time_Series_GHG_total_without_LULUCF...,UNFCCC -> Time_Series_GHG_total_with_LULUCF_in...,OECD -> IMGR_FCO2.csv -> Industry_Code = D35 ...,OECD -> IMGR_FCO2.csv -> Indutry_Code = DTOTAL...,Worldbank -> API_NY.GDP.MKTP.CD_DS2_en_csv_v2_...
23,AUT,2018,7.862764e+07,CO2eq * t,7.350083e+07,CO2eq * t,1354000.0,CO2eq * t,51678000.0,CO2eq * t,...,CO2eq * t / USD,0.000251,CO2eq * t / USD,0.000278,CO2eq * t / USD,UNFCCC -> Time_Series_GHG_total_without_LULUCF...,UNFCCC -> Time_Series_GHG_total_with_LULUCF_in...,OECD -> IMGR_FCO2.csv -> Industry_Code = D35 ...,OECD -> IMGR_FCO2.csv -> Indutry_Code = DTOTAL...,Worldbank -> API_NY.GDP.MKTP.CD_DS2_en_csv_v2_...
24,AUT,2019,7.984225e+07,CO2eq * t,7.520594e+07,CO2eq * t,NaN,CO2eq * t,NaN,CO2eq * t,...,CO2eq * t / USD,NaN,CO2eq * t / USD,NaN,CO2eq * t / USD,UNFCCC -> Time_Series_GHG_total_without_LULUCF...,UNFCCC -> Time_Series_GHG_total_with_LULUCF_in...,OECD -> IMGR_FCO2.csv -> Industry_Code = D35 ...,OECD -> IMGR_FCO2.csv -> Indutry_Code = DTOTAL...,Worldbank -> API_NY.GDP.MKTP.CD_DS2_en_csv_v2_...
25,AUT,1993,7.570919e+07,CO2eq * t,6.347265e+07,CO2eq * t,NaN,CO2eq * t,NaN,CO2eq * t,...,CO2eq * t / USD,NaN,CO2eq * t / USD,NaN,CO2eq * t / USD,UNFCCC -> Time_Series_GHG_total_without_LULUCF...,UNFCCC -> Time_Series_GHG_total_with_LULUCF_in...,OECD -> IMGR_FCO2.csv -> Industry_Code = D35 ...,OECD -> IMGR_FCO2.csv -> Indutry_Code = DTOTAL...,Worldbank -> API_NY.GDP.MKTP.CD_DS2_en_csv_v2_...
26,AUT,1992,7.546927e+07,CO2eq * t,6.353004e+07,CO2eq * t,NaN,CO2eq * t,NaN,CO2eq * t,...,CO2eq * t / USD,NaN,CO2eq * t / USD,NaN,CO2eq * t / USD,UNFCCC -> Time_Series_GHG_total_without_LULUCF...,UNFCCC -> Time_Series_GHG_total_with_LULUCF_in...,OECD -> IMGR_FCO2.csv -> Industry_Code = D35 ...,OECD -> IMGR_FCO2.csv -> Indutry_Code = DTOTAL...,Worldbank -> API_NY.GDP.MKTP.CD_DS2_en_csv_v2_...
27,AUT,1994,7.595830e+07,CO2eq * t,6.386365e+07,CO2eq * t,NaN,CO2eq * t,NaN,CO2eq * t,...,CO2eq * t / USD,NaN,CO2eq * t / USD,NaN,CO2eq * t / USD,UNFCCC -> Time_Series_GHG_total_without_LULUCF...,UNFCCC -> Time_Series_GHG_total_with_LULUCF_in...,OECD -> IMGR_FCO2.csv -> Industry_Code = D35 ...,OECD -> IMGR_FCO2.csv -> Indutry_Code = DTOTAL...,Worldbank -> API_NY.GDP.MKTP.CD_DS2_en_csv_v2_...
28,AUT,2020,NaN,CO2eq * t,NaN,CO2eq * t,NaN,CO2eq * t,NaN,CO2eq * t,...,CO2eq * t / USD,NaN,CO2eq * t / USD,NaN,CO2eq * t / USD,UNFCCC -> Time_Series_GHG_total_without_LULUCF...,UNFCCC -> Time_Series_GHG_total_with_LULUCF_in...,OECD -> IMGR_FCO2.csv -> Industry_Code = D35 ...,OECD -> IMGR_FCO2.csv -> Indutry_Code = DTOTAL...,Worldbank -> API_NY.GDP.MKTP.CD_DS2_en_csv_v2_...
29,AUT,1991,8.208233e+07,CO2eq * t,6.511849e+07,CO2eq * t,NaN,CO2eq * t,NaN,CO2eq * t,...,CO2eq * t / USD,NaN,CO2eq * t / USD,NaN,CO2eq * t / USD,UNFCCC -> Time_Series_GHG_total_without_LULUCF...,UNFCCC -> Time_Series_GHG_total_with_LULUCF_in...,OECD -> IMGR_FCO2.csv -> Industry_Code = D35 ...,OECD -> IMGR_FCO2.csv -> Indutry_Code = DTOTAL...,Worldbank -> API_NY.GDP.MKTP.CD_DS2_en_csv_v2_...
30,AUT,1990,7.842049e+07,CO2eq * t,6.622424e+07,CO2eq * t,NaN,CO2eq * t,NaN,CO2eq * t,...,CO2eq * t / USD,NaN,CO2eq * t / USD,NaN,CO2eq * t / USD,UNFCCC -> Time_Series_GHG_total_without_LULUCF...,UNFCCC -> Time_Series_GHG_total_with_LULUCF_in...,OECD -> IMGR_FCO2.csv -> Industry_Code = D35 ...,OECD -> IMGR_FCO2.csv -> Indutry_Code = DTOTAL...,Worldbank -> API_NY.GDP.MKTP.CD_DS2_en_csv_v2_...