<font size=6> The total sovereign emissions calculated by adding up scope 1, 2 and 3 emissions  </font>

In [1]:
# 'capture' magic prevents long outputs from spamming your notebook
#%%capture pipoutput

# For loading predefined environment variables from files
# Typically used to load sensitive access credentials
%pip install python-dotenv

# Standard python package for interacting with S3 buckets
%pip install boto3
# Interacting with Trino and using Trino with sqlalchemy
%pip install trino sqlalchemy sqlalchemy-trino

# Pandas and parquet file i/o
%pip install pandas pyarrow fastparquet

# OS-Climate utilities to make data ingest easier
%pip install osc-ingest-tools
%pip install ipython --upgrade
%pip install country_converter --upgrade
%pip install pint-pandas
%pip install openscm-units
%pip install pint
%pip install jedi
%pip install pycountry

Requirement already satisfied: python-dotenv in /opt/app-root/lib/python3.8/site-packages (0.20.0)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: boto3 in /opt/app-root/lib/python3.8/site-packages (1.24.17)
Requirement already satisfied: jmespath<2.0.0,>=0.7.1 in /opt/app-root/lib/python3.8/site-packages (from boto3) (1.0.1)
Requirement already satisfied: botocore<1.28.0,>=1.27.17 in /opt/app-root/lib/python3.8/site-packages (from boto3) (1.27.17)
Requirement already satisfied: s3transfer<0.7.0,>=0.6.0 in /opt/app-root/lib/python3.8/site-packages (from boto3) (0.6.0)
Requirement already satisfied: urllib3<1.27,>=1.25.4 in /opt/app-root/lib/python3.8/site-packages (from botocore<1.28.0,>=1.27.17->boto3) (1.26.9)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in /opt/app-root/lib/python3.8/site-packages (from botocore<1.28.0,>=1.27.17->boto3) (2.8.2)
Requirement already satisfied: six>=1.5 in /opt/app-root/lib/python3.8/site-packages (from python-dateutil<3.0.0,>=2.1->botocore<1.28.0,>=1.27.17->boto3) (1.16.0)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: trino in /opt/app-root/lib/python3.8/site-packages (0.313.0)
Requirement already satisfied: sqlalchemy in /opt/app-root/lib/python3.8/site-packages (1.4.27)
Requirement already satisfied: sqlalchemy-trino in /opt/app-root/lib/python3.8/site-packages (0.5.0)
Requirement already satisfied: requests in /opt/app-root/lib/python3.8/site-packages (from trino) (2.28.0)
Requirement already satisfied: pytz in /opt/app-root/lib/python3.8/site-packages (from trino) (2022.1)
Requirement already satisfied: greenlet!=0.4.17 in /opt/app-root/lib/python3.8/site-packages (from sqlalchemy) (1.1.2)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /opt/app-root/lib/python3.8/site-packages (from requests->trino) (1.26.9)
Requirement already satisfied: certifi>=2017.4.17 in /opt/app-root/lib/python3.8/site-packages (from requests->trino) (2022.5.18.1)
Requirement already satisfied: idna<4,>=2.5 in /opt/app-root/lib/python3.8/site-packages (from requests->trino) (3.3)
Requirement already satisfied: charset-normalizer~=2.0.0 in /opt/app-root/lib/python3.8/site-packages (from requests->trino) (2.0.12)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: pandas in /opt/app-root/lib/python3.8/site-packages (1.4.3)
Requirement already satisfied: pyarrow in /opt/app-root/lib/python3.8/site-packages (8.0.0)
Requirement already satisfied: fastparquet in /opt/app-root/lib/python3.8/site-packages (0.8.1)
Requirement already satisfied: numpy>=1.18.5 in /opt/app-root/lib/python3.8/site-packages (from pandas) (1.23.0)
Requirement already satisfied: pytz>=2020.1 in /opt/app-root/lib/python3.8/site-packages (from pandas) (2022.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/app-root/lib/python3.8/site-packages (from pandas) (2.8.2)
Requirement already satisfied: fsspec in /opt/app-root/lib/python3.8/site-packages (from fastparquet) (2022.5.0)
Requirement already satisfied: cramjam>=2.3.0 in /opt/app-root/lib/python3.8/site-packages (from fastparquet) (2.5.0)
Requirement already satisfied: six>=1.5 in /opt/app-root/lib/python3.8/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: osc-ingest-tools in /opt/app-root/lib/python3.8/site-packages (0.3.4)
Requirement already satisfied: pandas in /opt/app-root/lib/python3.8/site-packages (from osc-ingest-tools) (1.4.3)
Requirement already satisfied: python-dotenv in /opt/app-root/lib/python3.8/site-packages (from osc-ingest-tools) (0.20.0)
Requirement already satisfied: sqlalchemy in /opt/app-root/lib/python3.8/site-packages (from osc-ingest-tools) (1.4.27)
Requirement already satisfied: sqlalchemy-trino in /opt/app-root/lib/python3.8/site-packages (from osc-ingest-tools) (0.5.0)
Requirement already satisfied: boto3 in /opt/app-root/lib/python3.8/site-packages (from osc-ingest-tools) (1.24.17)
Requirement already satisfied: trino in /opt/app-root/lib/python3.8/site-packages (from osc-ingest-tools) (0.313.0)
Requirement already satisfied: jmespath<2.0.0,>=0.7.1 in /opt/app-root/lib/python3.8/site-packages (from boto3->osc-ingest-tools) (1.0.1)
Requirement already satisfied: s3transfer<0.7.0,>=0.6.0 in /opt/app-root/lib/python3.8/site-packages (from boto3->osc-ingest-tools) (0.6.0)
Requirement already satisfied: botocore<1.28.0,>=1.27.17 in /opt/app-root/lib/python3.8/site-packages (from boto3->osc-ingest-tools) (1.27.17)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/app-root/lib/python3.8/site-packages (from pandas->osc-ingest-tools) (2.8.2)
Requirement already satisfied: numpy>=1.18.5 in /opt/app-root/lib/python3.8/site-packages (from pandas->osc-ingest-tools) (1.23.0)
Requirement already satisfied: pytz>=2020.1 in /opt/app-root/lib/python3.8/site-packages (from pandas->osc-ingest-tools) (2022.1)
Requirement already satisfied: greenlet!=0.4.17 in /opt/app-root/lib/python3.8/site-packages (from sqlalchemy->osc-ingest-tools) (1.1.2)
Requirement already satisfied: requests in /opt/app-root/lib/python3.8/site-packages (from trino->osc-ingest-tools) (2.28.0)
Requirement already satisfied: urllib3<1.27,>=1.25.4 in /opt/app-root/lib/python3.8/site-packages (from botocore<1.28.0,>=1.27.17->boto3->osc-ingest-tools) (1.26.9)
Requirement already satisfied: six>=1.5 in /opt/app-root/lib/python3.8/site-packages (from python-dateutil>=2.8.1->pandas->osc-ingest-tools) (1.16.0)
Requirement already satisfied: idna<4,>=2.5 in /opt/app-root/lib/python3.8/site-packages (from requests->trino->osc-ingest-tools) (3.3)
Requirement already satisfied: certifi>=2017.4.17 in /opt/app-root/lib/python3.8/site-packages (from requests->trino->osc-ingest-tools) (2022.5.18.1)
Requirement already satisfied: charset-normalizer~=2.0.0 in /opt/app-root/lib/python3.8/site-packages (from requests->trino->osc-ingest-tools) (2.0.12)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: ipython in /opt/app-root/lib/python3.8/site-packages (8.4.0)
Requirement already satisfied: pickleshare in /opt/app-root/lib/python3.8/site-packages (from ipython) (0.7.5)
Requirement already satisfied: stack-data in /opt/app-root/lib/python3.8/site-packages (from ipython) (0.2.0)
Requirement already satisfied: pexpect>4.3 in /opt/app-root/lib/python3.8/site-packages (from ipython) (4.8.0)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /opt/app-root/lib/python3.8/site-packages (from ipython) (3.0.29)
Requirement already satisfied: traitlets>=5 in /opt/app-root/lib/python3.8/site-packages (from ipython) (5.3.0.dev0)
Requirement already satisfied: jedi>=0.16 in /opt/app-root/lib/python3.8/site-packages (from ipython) (0.18.1)
Requirement already satisfied: matplotlib-inline in /opt/app-root/lib/python3.8/site-packages (from ipython) (0.1.3)
Requirement already satisfied: backcall in /opt/app-root/lib/python3.8/site-packages (from ipython) (0.2.0)
Requirement already satisfied: decorator in /opt/app-root/lib/python3.8/site-packages (from ipython) (5.1.1)
Requirement already satisfied: pygments>=2.4.0 in /opt/app-root/lib/python3.8/site-packages (from ipython) (2.12.0)
Requirement already satisfied: setuptools>=18.5 in /opt/app-root/lib/python3.8/site-packages (from ipython) (62.6.0)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /opt/app-root/lib/python3.8/site-packages (from jedi>=0.16->ipython) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /opt/app-root/lib/python3.8/site-packages (from pexpect>4.3->ipython) (0.7.0)
Requirement already satisfied: wcwidth in /opt/app-root/lib/python3.8/site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython) (0.2.5)
Requirement already satisfied: executing in /opt/app-root/lib/python3.8/site-packages (from stack-data->ipython) (0.8.3)
Requirement already satisfied: pure-eval in /opt/app-root/lib/python3.8/site-packages (from stack-data->ipython) (0.2.2)
Requirement already satisfied: asttokens in /opt/app-root/lib/python3.8/site-packages (from stack-data->ipython) (2.0.5)
Requirement already satisfied: six in /opt/app-root/lib/python3.8/site-packages (from asttokens->stack-data->ipython) (1.16.0)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: country_converter in /opt/app-root/lib/python3.8/site-packages (0.7.4)
Requirement already satisfied: pandas>=1.0 in /opt/app-root/lib/python3.8/site-packages (from country_converter) (1.4.3)
Requirement already satisfied: numpy>=1.18.5 in /opt/app-root/lib/python3.8/site-packages (from pandas>=1.0->country_converter) (1.23.0)
Requirement already satisfied: pytz>=2020.1 in /opt/app-root/lib/python3.8/site-packages (from pandas>=1.0->country_converter) (2022.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/app-root/lib/python3.8/site-packages (from pandas>=1.0->country_converter) (2.8.2)
Requirement already satisfied: six>=1.5 in /opt/app-root/lib/python3.8/site-packages (from python-dateutil>=2.8.1->pandas>=1.0->country_converter) (1.16.0)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: pint-pandas in /opt/app-root/lib/python3.8/site-packages (0.2)
Requirement already satisfied: pandas>=1.2 in /opt/app-root/lib/python3.8/site-packages (from pint-pandas) (1.4.3)
Requirement already satisfied: pint>=0.17 in /opt/app-root/lib/python3.8/site-packages (from pint-pandas) (0.19.2)
Requirement already satisfied: pytz>=2020.1 in /opt/app-root/lib/python3.8/site-packages (from pandas>=1.2->pint-pandas) (2022.1)
Requirement already satisfied: numpy>=1.18.5 in /opt/app-root/lib/python3.8/site-packages (from pandas>=1.2->pint-pandas) (1.23.0)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/app-root/lib/python3.8/site-packages (from pandas>=1.2->pint-pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /opt/app-root/lib/python3.8/site-packages (from python-dateutil>=2.8.1->pandas>=1.2->pint-pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: openscm-units in /opt/app-root/lib/python3.8/site-packages (0.5.0)
Requirement already satisfied: pint in /opt/app-root/lib/python3.8/site-packages (from openscm-units) (0.19.2)
Requirement already satisfied: globalwarmingpotentials in /opt/app-root/lib/python3.8/site-packages (from openscm-units) (0.9.3)
Requirement already satisfied: pandas in /opt/app-root/lib/python3.8/site-packages (from openscm-units) (1.4.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/app-root/lib/python3.8/site-packages (from pandas->openscm-units) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/app-root/lib/python3.8/site-packages (from pandas->openscm-units) (2022.1)
Requirement already satisfied: numpy>=1.18.5 in /opt/app-root/lib/python3.8/site-packages (from pandas->openscm-units) (1.23.0)
Requirement already satisfied: six>=1.5 in /opt/app-root/lib/python3.8/site-packages (from python-dateutil>=2.8.1->pandas->openscm-units) (1.16.0)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: pint in /opt/app-root/lib/python3.8/site-packages (0.19.2)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: jedi in /opt/app-root/lib/python3.8/site-packages (0.18.1)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /opt/app-root/lib/python3.8/site-packages (from jedi) (0.8.3)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: pycountry in /opt/app-root/lib/python3.8/site-packages (22.3.5)
Requirement already satisfied: setuptools in /opt/app-root/lib/python3.8/site-packages (from pycountry) (62.6.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
from dotenv import dotenv_values, load_dotenv
import osc_ingest_trino as osc
import os
import pathlib
dotenv_dir = os.environ.get('CREDENTIAL_DOTENV_DIR', os.environ.get('PWD', '/opt/app-root/src'))
dotenv_path = pathlib.Path(dotenv_dir) / 'credentials.env'
if os.path.exists(dotenv_path):
    load_dotenv(dotenv_path=dotenv_path,override=True)

In [3]:
import trino
from sqlalchemy.engine import create_engine

env_var_prefix = 'TRINO'

sqlstring = 'trino://{user}@{host}:{port}/'.format(
    user = os.environ[f'{env_var_prefix}_USER'],
    host = os.environ[f'{env_var_prefix}_HOST'],
    port = os.environ[f'{env_var_prefix}_PORT']
)
sqlargs = {
    'auth': trino.auth.JWTAuthentication(os.environ[f'{env_var_prefix}_PASSWD']),
    'http_scheme': 'https',
    'catalog': 'osc_datacommons_dev'
}
engine = create_engine(sqlstring, connect_args = sqlargs)
connection = engine.connect()

#trino_bucket = osc.attach_s3_bucket("S3_DEV")

In [4]:
import boto3
import pandas as pd

s3_source = boto3.resource(
    service_name="s3",
    endpoint_url=os.environ['S3_LANDING_ENDPOINT'],
    aws_access_key_id=os.environ['S3_LANDING_ACCESS_KEY'],
    aws_secret_access_key=os.environ['S3_LANDING_SECRET_KEY'],
)
source_bucket = s3_source.Bucket(os.environ['S3_LANDING_BUCKET'])

In [5]:
# define source and destination tables
# LULUCF (Land Use, Land-Use Change and Forestry)
ingest_catalog = 'osc_datacommons_dev'
ingest_schema = 'pcaf_sovereign_footprint'
ingest_table = 'sf_total_sovereign_emissions'
src_table_1 = 'sf_oecd_imgr_fco2'
src_table_2 = 'sf_unfccc_results'
src_table_3 = 'sf_oecd_exgr_fco2'

In [6]:
import pandas as pd
from openscm_units import unit_registry
from pint import set_application_registry, Quantity
from pint_pandas import PintArray, PintType
# First we create the registry.
ureg = unit_registry
Q_ = ureg.Quantity
ureg.default_format = '~'
ureg.define("CO2e = CO2 = CO2eq")
ureg.define("USD = [currency] ")
ureg.define('Millions=1000000')
set_application_registry(ureg)

In [7]:
def requantify_df(df):
    units_col = None
    columns_reversed = reversed(df.columns)
    for col in columns_reversed:
        if col.endswith("_units"):
            if units_col:
                # We expect _units column to follow a non-units column
                raise ValueError
            units_col = col
            continue
        if units_col:
            if col + '_units' != units_col:
                raise ValueError
            if (df[units_col]==df[units_col][0]).all():
                # Make a PintArray
                new_col = PintArray(df[col], dtype=f"pint[{ureg(df[units_col][0]).u}]")
            else:
                # Make a pd.Series of Quantity in a way that does not throw UnitStrippedWarning
                new_col = pd.Series(data=df[col], name=col) * pd.Series(data=df[units_col].map(lambda x: ureg(x).u), name=col)
            df = df.drop(columns=units_col)
            df[col] = new_col
            units_col = None
    return df

In [8]:
# If DF_COL contains Pint quantities (because it is a PintArray or an array of Pint Quantities),
# return a two-column dataframe of magnitudes and units.
# If DF_COL contains no Pint quanities, return it unchanged.

def dequantify_column(df_col: pd.Series):
    if type(df_col.values)==PintArray:
        return pd.DataFrame({df_col.name: df_col.values.quantity.m,
                             df_col.name + "_units": str(df_col.values.dtype.units)},
                            index=df_col.index)
    elif df_col.size==0:
        return df_col
    elif isinstance(df_col.iloc[0], Quantity):
        values = df_col.map(lambda x: (x.m, x.u))
        return pd.DataFrame({df_col.name: df_col.map(lambda x: x.m),
                             df_col.name + "_units": df_col.map(lambda x: str(x.u))},
                            index=df_col.index)
    else:
        return df_col

# Rewrite dataframe DF so that columns containing Pint quantities are represented by a column for the Magnitude and column for the Units.
# The magnitude column retains the original column name and the units column is renamed with a _units suffix.
def dequantify_df(df):
    return pd.concat([dequantify_column(df[col]) for col in df.columns], axis=1)

In [9]:
# Get the values saved in Trino related with Foreign CO2 emissions embodied in gross imports

import pandas as pd

sql=f"""
select country_iso_code,partner_iso_code,industry_code,validity_date,attribute,value,value_units from {ingest_catalog}.{ingest_schema}.{src_table_1} """ 
df1 = pd.read_sql(sql, engine)
df1 = requantify_df(df1)
# convert to CO2 units to t
df1['value'] = df1['value'].pint.to("t CO2e")
df1 = dequantify_df(df1)


sql=f"""
select country_iso_code,partner_iso_code,industry_code,validity_date,attribute,value,value_units from {ingest_catalog}.{ingest_schema}.{src_table_3} where industry_code='DTOTAL'""" 
df_exgr = pd.read_sql(sql, engine)
df_exgr = requantify_df(df_exgr)
# convert to CO2 units to t
df_exgr['value'] = df_exgr['value'].pint.to("t CO2e")
df_exgr = dequantify_df(df_exgr)

#df1["units"] = "kt"
#df1 = requantify_df(df1).convert_dtypes()
#df1.info(verbose=True)
#df1

<font size=3> Remove invalid country codes </font>

In [10]:
import pycountry
import pandas as pd
df_country = pd.DataFrame([country.__dict__['_fields'] for country in pycountry.countries])
df_country = df_country.rename(columns={'alpha_3':'country_iso_code'})
df_country=df_country[['country_iso_code']]
# add Rest of World to the country dataframe
dict_row = {'country_iso_code':'ROW'}
df_country = df_country.append(dict_row, ignore_index = True)
df_country.info(verbose=True)
df1=df1.convert_dtypes()
#df1.info(verbose=True)
df1 = pd.merge(df1,df_country,on=['country_iso_code'])  
df1=df1.convert_dtypes()
#df_result.drop(columns=['country_name_y'],inplace=True)
df1

df_exgr = pd.merge(df_exgr,df_country,on=['country_iso_code'])  
df_exgr=df_exgr.convert_dtypes()
#df_result.drop(columns=['country_name_y'],inplace=True)
df_exgr

/tmp/ipykernel_2108/4216143356.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_country = df_country.append(dict_row, ignore_index = True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 1 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   country_iso_code  250 non-null    object
dtypes: object(1)
memory usage: 2.1+ KB

,country_iso_code,partner_iso_code,industry_code,validity_date,attribute,value,value_units
0,LUX,EU13,DTOTAL,1995,Foreign CO2 emissions embodied in gross exports,70000.0,CO2eq * t
1,LUX,EU13,DTOTAL,1996,Foreign CO2 emissions embodied in gross exports,91000.0,CO2eq * t
2,LUX,EU13,DTOTAL,1997,Foreign CO2 emissions embodied in gross exports,113000.0,CO2eq * t
3,LUX,EU13,DTOTAL,1998,Foreign CO2 emissions embodied in gross exports,135000.0,CO2eq * t
4,LUX,EU13,DTOTAL,1999,Foreign CO2 emissions embodied in gross exports,104000.0,CO2eq * t
...,...,...,...,...,...,...,...
120787,HUN,MMR,DTOTAL,2014,Foreign CO2 emissions embodied in gross exports,0.0,CO2eq * t
120788,HUN,MMR,DTOTAL,2015,Foreign CO2 emissions embodied in gross exports,0.0,CO2eq * t
120789,HUN,MMR,DTOTAL,2016,Foreign CO2 emissions embodied in gross exports,1000.0,CO2eq * t
120790,HUN,MMR,DTOTAL,2017,Foreign CO2 emissions embodied in gross exports,8000.0,CO2eq * t
120791,HUN,MMR,DTOTAL,2018,Foreign CO2 emissions embodied in gross exports,2000.0,CO2eq * t

Calcuate Scope 2:
GHG emissions occurring as a consequence of the domestic use of grid-supplied electricity, heat,
steam and/or cooling which is imported from another territory

In [11]:
rename_columns = {'value':'total','partner_iso_code':'country_iso_code','value_units' :'total_units'}
agg_columns = { 'value' : 'sum'}
columns_order = ['attribute','industry_code','country_iso_code','validity_date','total','total_units']
df1 = df1.groupby(['partner_iso_code','industry_code','attribute','validity_date','value_units'],as_index=False).agg(agg_columns).rename(columns=rename_columns).reindex(columns=columns_order)

df1.convert_dtypes()

df1.info(verbose=True)
df1

######################

df_exgr = df_exgr.groupby(['partner_iso_code','industry_code','attribute','validity_date','value_units'],as_index=False).agg(agg_columns).rename(columns=rename_columns).reindex(columns=columns_order)

df_exgr.convert_dtypes()

df_exgr.info(verbose=True)
df_exgr

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4032 entries, 0 to 4031
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   attribute         4032 non-null   string
 1   industry_code     4032 non-null   string
 2   country_iso_code  4032 non-null   string
 3   validity_date     4032 non-null   Int64
 4   total             4032 non-null   Float64
 5   total_units       4032 non-null   string
dtypes: Float64(1), Int64(1), string(4)
memory usage: 197.0 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2016 entries, 0 to 2015
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   attribute         2016 non-null   string
 1   industry_code     2016 non-null   string
 2   country_iso_code  2016 non-null   string
 3   validity_date     2016 non-null   Int64
 4   total             2016 non-null   Float64
 5   total_units       2016 non-null   string
dtypes: Float64(1), Int64(1), string(4)
memory usage: 98.6 KB

,attribute,industry_code,country_iso_code,validity_date,total,total_units
0,Foreign CO2 emissions embodied in gross exports,DTOTAL,APEC,1995,414810000.0,CO2eq * t
1,Foreign CO2 emissions embodied in gross exports,DTOTAL,APEC,1996,441536000.0,CO2eq * t
2,Foreign CO2 emissions embodied in gross exports,DTOTAL,APEC,1997,472415000.0,CO2eq * t
3,Foreign CO2 emissions embodied in gross exports,DTOTAL,APEC,1998,480209000.0,CO2eq * t
4,Foreign CO2 emissions embodied in gross exports,DTOTAL,APEC,1999,536571000.0,CO2eq * t
...,...,...,...,...,...,...
2011,Foreign CO2 emissions embodied in gross exports,DTOTAL,ZSCA,2014,58850000.0,CO2eq * t
2012,Foreign CO2 emissions embodied in gross exports,DTOTAL,ZSCA,2015,49904000.0,CO2eq * t
2013,Foreign CO2 emissions embodied in gross exports,DTOTAL,ZSCA,2016,43192000.0,CO2eq * t
2014,Foreign CO2 emissions embodied in gross exports,DTOTAL,ZSCA,2017,47417000.0,CO2eq * t
2015,Foreign CO2 emissions embodied in gross exports,DTOTAL,ZSCA,2018,49630000.0,CO2eq * t

In [12]:
# divide the dataframe into two dataframes 
# to calculate Scope2 and Scope3 Values
df_D35 = df1[df1['industry_code']=='D35']
df_D35 = df_D35[['country_iso_code','validity_date','total','total_units']]
df_DTOTAL = df1[df1['industry_code']=='DTOTAL']
df_DTOTAL = df_DTOTAL[['country_iso_code','validity_date','total','total_units']]
df_result = pd.merge(df_D35,df_DTOTAL,on=['country_iso_code','validity_date'])  
df_result=df_result.convert_dtypes()
#df_result.drop(columns=['attribute_y','total_units_y'],inplace=True)
rename_columns = {'total_x':'scope2_value','total_y':'scope3_value','total_units_x':'scope2_value_units','total_units_y':'scope3_value_units'}
df_result.rename(columns=rename_columns,inplace=True)
df_result['scope3_value'] = df_result['scope3_value'] - df_result['scope2_value'] 
df_result[df_result['country_iso_code']=='CAN']

df_result = pd.merge(df_result,df_exgr,on=['country_iso_code','validity_date'])  
df_result=df_result.convert_dtypes()
#df_result.drop(columns=['attribute_y','total_units_y'],inplace=True)
rename_columns = {'total':'exported_emissions','total_units':'exported_emissions_units'}
df_result.rename(columns=rename_columns,inplace=True)
df_result.drop(columns=['attribute','industry_code'],inplace=True)
df_result

,country_iso_code,validity_date,scope2_value,scope2_value_units,scope3_value,scope3_value_units,exported_emissions,exported_emissions_units
0,APEC,1995,39478000.0,CO2eq * t,2716610000.0,CO2eq * t,414810000.0,CO2eq * t
1,APEC,1996,39637000.0,CO2eq * t,2687546000.0,CO2eq * t,441536000.0,CO2eq * t
2,APEC,1997,46108000.0,CO2eq * t,2805099000.0,CO2eq * t,472415000.0,CO2eq * t
3,APEC,1998,47416000.0,CO2eq * t,3011055000.0,CO2eq * t,480209000.0,CO2eq * t
4,APEC,1999,47128000.0,CO2eq * t,3218345000.0,CO2eq * t,536571000.0,CO2eq * t
...,...,...,...,...,...,...,...,...
2011,ZSCA,2014,917000.0,CO2eq * t,208345000.0,CO2eq * t,58850000.0,CO2eq * t
2012,ZSCA,2015,619000.0,CO2eq * t,214100000.0,CO2eq * t,49904000.0,CO2eq * t
2013,ZSCA,2016,566000.0,CO2eq * t,205862000.0,CO2eq * t,43192000.0,CO2eq * t
2014,ZSCA,2017,433000.0,CO2eq * t,209461000.0,CO2eq * t,47417000.0,CO2eq * t
2015,ZSCA,2018,370000.0,CO2eq * t,225269000.0,CO2eq * t,49630000.0,CO2eq * t

In [13]:
# Get the values saved in Trino containing  GHG emissions provided by UNFCCC & GDP PPP values from Worldbank

import pandas as pd

sql=f"""
select country_iso_code,validity_date,ghg_total_without_lulucf,ghg_total_without_lulucf_units,ghg_total_with_lulucf,ghg_total_with_lulucf_units
,gdp,gdp_units,gdp_ppp,gdp_ppp_units
from {ingest_catalog}.{ingest_schema}.{src_table_2} """ 
df_unfccc = pd.read_sql(sql, engine)
df_unfccc[df_unfccc['country_iso_code']=='ARG']
#df1["units"] = "kt"
#df1 = requantify_df(df1).convert_dtypes()
#df1.info(verbose=True)
#df1

,country_iso_code,validity_date,ghg_total_without_lulucf,ghg_total_without_lulucf_units,ghg_total_with_lulucf,ghg_total_with_lulucf_units,gdp,gdp_units,gdp_ppp,gdp_ppp_units
1083,ARG,1988,NaN,CO2e * kt,NaN,CO2e * kt,1.262068e+11,USD,NaN,USD
1084,ARG,1968,NaN,CO2e * kt,NaN,CO2e * kt,2.643686e+10,USD,NaN,USD
1085,ARG,2020,NaN,CO2e * kt,NaN,CO2e * kt,3.892881e+11,USD,9.425083e+11,USD
1086,ARG,1976,NaN,CO2e * kt,NaN,CO2e * kt,5.116950e+10,USD,NaN,USD
2463,ARG,2013,NaN,CO2e * kt,NaN,CO2e * kt,5.520251e+11,USD,8.496160e+11,USD
2464,ARG,2005,NaN,CO2e * kt,NaN,CO2e * kt,1.987371e+11,USD,5.277291e+11,USD
2465,ARG,1977,NaN,CO2e * kt,NaN,CO2e * kt,5.678100e+10,USD,NaN,USD
2466,ARG,2004,NaN,CO2e * kt,NaN,CO2e * kt,1.646579e+11,USD,4.701694e+11,USD
2786,ARG,1990,231057.275548,CO2e * kt,216291.389487,CO2e * kt,1.413524e+11,USD,2.345641e+11,USD
2788,ARG,1994,257522.426253,CO2e * kt,223335.527904,CO2e * kt,2.574400e+11,USD,3.498321e+11,USD
2789,ARG,1997,270910.288574,CO2e * kt,241956.194210,CO2e * kt,2.928590e+11,USD,4.103421e+11,USD
2790,ARG,2000,282000.757823,CO2e * kt,238702.903519,CO2e * kt,2.842038e+11,USD,4.283942e+11,USD
2808,ARG,1980,NaN,CO2e * kt,NaN,CO2e * kt,7.696192e+10,USD,NaN,USD
2809,ARG,2006,NaN,CO2e * kt,NaN,CO2e * kt,2.325573e+11,USD,5.874516e+11,USD
2810,ARG,1974,NaN,CO2e * kt,NaN,CO2e * kt,7.243678e+10,USD,NaN,USD
2811,ARG,1972,NaN,CO2e * kt,NaN,CO2e * kt,3.473300e+10,USD,NaN,USD
2812,ARG,2008,NaN,CO2e * kt,NaN,CO2e * kt,3.615580e+11,USD,6.975579e+11,USD
3514,ARG,2018,NaN,CO2e * kt,NaN,CO2e * kt,5.248197e+11,USD,1.036428e+12,USD
3515,ARG,1965,NaN,CO2e * kt,NaN,CO2e * kt,2.834471e+10,USD,NaN,USD
3516,ARG,2009,NaN,CO2e * kt,NaN,CO2e * kt,3.329765e+11,USD,6.612758e+11,USD
5331,ARG,2003,NaN,CO2e * kt,NaN,CO2e * kt,1.275870e+11,USD,4.199258e+11,USD
5332,ARG,2015,NaN,CO2e * kt,NaN,CO2e * kt,5.947493e+11,USD,8.671768e+11,USD
5333,ARG,1975,NaN,CO2e * kt,NaN,CO2e * kt,5.243865e+10,USD,NaN,USD
5334,ARG,1984,NaN,CO2e * kt,NaN,CO2e * kt,7.909200e+10,USD,NaN,USD
5335,ARG,1978,NaN,CO2e * kt,NaN,CO2e * kt,5.808287e+10,USD,NaN,USD
5336,ARG,1986,NaN,CO2e * kt,NaN,CO2e * kt,1.109344e+11,USD,NaN,USD
6593,ARG,1973,NaN,CO2e * kt,NaN,CO2e * kt,5.254400e+10,USD,NaN,USD
6594,ARG,1962,NaN,CO2e * kt,NaN,CO2e * kt,2.445060e+10,USD,NaN,USD
6595,ARG,1999,NaN,CO2e * kt,NaN,CO2e * kt,2.835230e+11,USD,4.223593e+11,USD
6596,ARG,2014,NaN,CO2e * kt,NaN,CO2e * kt,5.263197e+11,USD,8.398967e+11,USD
6597,ARG,1966,NaN,CO2e * kt,NaN,CO2e * kt,2.863047e+10,USD,NaN,USD
6598,ARG,1993,NaN,CO2e * kt,NaN,CO2e * kt,2.367417e+11,USD,3.236302e+11,USD
8036,ARG,2010,332498.160000,CO2e * kt,447642.430000,CO2e * kt,4.236274e+11,USD,7.367184e+11,USD
8037,ARG,2012,338963.349930,CO2e * kt,429478.449930,CO2e * kt,5.459824e+11,USD,8.196979e+11,USD
8189,ARG,2017,NaN,CO2e * kt,NaN,CO2e * kt,6.436287e+11,USD,1.039331e+12,USD
8190,ARG,1981,NaN,CO2e * kt,NaN,CO2e * kt,7.867684e+10,USD,NaN,USD
8191,ARG,1970,NaN,CO2e * kt,NaN,CO2e * kt,3.158421e+10,USD,NaN,USD
8192,ARG,1982,NaN,CO2e * kt,NaN,CO2e * kt,8.430749e+10,USD,NaN,USD
8193,ARG,1998,NaN,CO2e * kt,NaN,CO2e * kt,2.989482e+11,USD,4.309373e+11,USD
8194,ARG,2016,NaN,CO2e * kt,NaN,CO2e * kt,5.575314e+11,USD,8.852275e+11,USD
9601,ARG,2019,NaN,CO2e * kt,NaN,CO2e * kt,4.519324e+11,USD,1.033558e+12,USD
9602,ARG,1989,NaN,CO2e * kt,NaN,CO2e * kt,7.663690e+10,USD,NaN,USD
9603,ARG,2011,NaN,CO2e * kt,NaN,CO2e * kt,5.301633e+11,USD,7.972639e+11,USD
9604,ARG,2001,NaN,CO2e * kt,NaN,CO2e * kt,2.686968e+11,USD,4.184892e+11,USD
11323,ARG,1964,NaN,CO2e * kt,NaN,CO2e * kt,2.560525e+10,USD,NaN,USD
11324,ARG,1963,NaN,CO2e * kt,NaN,CO2e * kt,1.827212e+10,USD,NaN,USD
11325,ARG,1979,NaN,CO2e * kt,NaN,CO2e * kt,6.925233e+10,USD,NaN,USD
11326,ARG,1967,NaN,CO2e * kt,NaN,CO2e * kt,2.425667e+10,USD,NaN,USD
11327,ARG,1995,NaN,CO2e * kt,NaN,CO2e * kt,2.580318e+11,USD,3.470056e+11,USD
11328,ARG,1983,NaN,CO2e * kt,NaN,CO2e * kt,1.039791e+11,USD,NaN,USD
12062,ARG,2002,NaN,CO2e * kt,NaN,CO2e * kt,9.772400e+10,USD,3.787953e+11,USD
12063,ARG,1996,NaN,CO2e * kt,NaN,CO2e * kt,2.721498e+11,USD,3.728882e+11,USD
12064,ARG,2007,NaN,CO2e * kt,NaN,CO2e * kt,2.875305e+11,USD,6.575692e+11,USD
12065,ARG,1992,NaN,CO2e * kt,NaN,CO2e * kt,2.287886e+11,USD,2.921593e+11,USD
12654,ARG,1971,NaN,CO2e * kt,NaN,CO2e * kt,3.329320e+10,USD,NaN,USD
12655,ARG,1985,NaN,CO2e * kt,NaN,CO2e * kt,8.841667e+10,USD,NaN,USD
12656,ARG,1987,NaN,CO2e * kt,NaN,CO2e * kt,1.111062e+11,USD,NaN,USD
12657,ARG,1991,NaN,CO2e * kt,NaN,CO2e * kt,1.897200e+11,USD,2.646440e+11,USD
12658,ARG,1969,NaN,CO2e * kt,NaN,CO2e * kt,3.125628e+10,USD,NaN,USD

In [14]:
import numpy as np
df_unfccc = df_unfccc.convert_dtypes()
df_unfccc.info(verbose=True)

df_unfccc = df_unfccc.assign(ghg_total_without_lulucf=np.where(df_unfccc.ghg_total_without_lulucf.isnull(), 0, df_unfccc.ghg_total_without_lulucf))
df_unfccc = df_unfccc.assign(ghg_total_with_lulucf=np.where(df_unfccc.ghg_total_with_lulucf.isnull(), 0, df_unfccc.ghg_total_with_lulucf))
df_unfccc = df_unfccc.assign(gdp=np.where(df_unfccc.gdp.isnull(), 0, df_unfccc.gdp))
df_unfccc = df_unfccc.assign(gdp_ppp=np.where(df_unfccc.gdp_ppp.isnull(), 0, df_unfccc.gdp_ppp))

df_unfccc = requantify_df(df_unfccc)
df_unfccc.info(verbose=True)
# convert to CO2 units to Mt
df_unfccc['ghg_total_without_lulucf'] = df_unfccc['ghg_total_without_lulucf'].pint.to("t CO2e")
df_unfccc['ghg_total_with_lulucf'] = df_unfccc['ghg_total_with_lulucf'].pint.to("t CO2e")
####

#df_unfccc = df_unfccc.assign(ghg_total_without_lulucf=np.where(df_unfccc.ghg_total_without_lulucf==0, np.nan, df_unfccc.ghg_total_without_lulucf))
#df_unfccc = df_unfccc.assign(ghg_total_with_lulucf=np.where(df_unfccc.ghg_total_with_lulucf==0, np.nan, df_unfccc.ghg_total_with_lulucf))
#df_unfccc = df_unfccc.assign(gdp=np.where(df_unfccc.gdp==0, np.nan, df_unfccc.gdp))
#df_unfccc = df_unfccc.assign(gdp_ppp=np.where(df_unfccc.gdp_ppp==0, np.nan, df_unfccc.gdp_ppp))

df_unfccc.info(verbose=True)


df_unfccc[df_unfccc['country_iso_code']=='ARG']

#df_unfccc['gdp'] = df_unfccc['gdp'].pint.to("Millions USD")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12948 entries, 0 to 12947
Data columns (total 10 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   country_iso_code                12948 non-null  string
 1   validity_date                   12948 non-null  Int64
 2   ghg_total_without_lulucf        2212 non-null   Float64
 3   ghg_total_without_lulucf_units  12948 non-null  string
 4   ghg_total_with_lulucf           2212 non-null   Float64
 5   ghg_total_with_lulucf_units     12948 non-null  string
 6   gdp                             12854 non-null  Float64
 7   gdp_units                       12948 non-null  string
 8   gdp_ppp                         7210 non-null   Float64
 9   gdp_ppp_units                   12948 non-null  string
dtypes: Float64(4), Int64(1), string(5)
memory usage: 1.0 MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12948 entries, 0 to 12947
Data columns (total 6 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   country_iso_code          12948 non-null  string
 1   validity_date             12948 non-null  Int64
 2   ghg_total_without_lulucf  12948 non-null  pint[CO2eq * kt]
 3   ghg_total_with_lulucf     12948 non-null  pint[CO2eq * kt]
 4   gdp                       12948 non-null  pint[USD]
 5   gdp_ppp                   12948 non-null  pint[USD]
dtypes: Int64(1), pint[CO2eq * kt](2), pint[USD](2), string(1)
memory usage: 619.7 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12948 entries, 0 to 12947
Data columns (total 6 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   country_iso_code          12948 non-null  string
 1   validity_date             12948 non-null  Int64
 2   ghg_total_without_lulucf  12948 non-null  pint[CO2eq * t]
 3   ghg_total_with_lulucf     12948 non-null  pint[CO2eq * t]
 4   gdp                       12948 non-null  pint[USD]
 5   gdp_ppp                   12948 non-null  pint[USD]
dtypes: Int64(1), pint[CO2eq * t](2), pint[USD](2), string(1)
memory usage: 619.7 KB

/opt/app-root/lib64/python3.8/site-packages/pint_pandas/pint_array.py:648: UnitStrippedWarning: The unit of the quantity is stripped when downcasting to ndarray.
  return np.array(qtys, dtype="object", copy=copy)
/opt/app-root/lib64/python3.8/site-packages/pint_pandas/pint_array.py:648: UnitStrippedWarning: The unit of the quantity is stripped when downcasting to ndarray.
  return np.array(qtys, dtype="object", copy=copy)

,country_iso_code,validity_date,ghg_total_without_lulucf,ghg_total_with_lulucf,gdp,gdp_ppp
1083,ARG,1988,0.0,0.0,126206817196.091,0.0
1084,ARG,1968,0.0,0.0,26436857247.4982,0.0
1085,ARG,2020,0.0,0.0,389288056265.325,942508330081.911
1086,ARG,1976,0.0,0.0,51169499890.7722,0.0
2463,ARG,2013,0.0,0.0,552025140252.246,849616000404.317
2464,ARG,2005,0.0,0.0,198737095012.282,527729109507.491
2465,ARG,1977,0.0,0.0,56781000100.9448,0.0
2466,ARG,2004,0.0,0.0,164657930452.787,470169433019.259
2786,ARG,1990,231057275.548153,216291389.487407,141352368714.691,234564125672.49
2788,ARG,1994,257522426.252628,223335527.904266,257440000000.0,349832146514.708
2789,ARG,1997,270910288.57367104,241956194.21024,292859000000.0,410342067258.763
2790,ARG,2000,282000757.82309103,238702903.51909998,284203750000.0,428394155078.285
2808,ARG,1980,0.0,0.0,76961923741.9479,0.0
2809,ARG,2006,0.0,0.0,232557260817.308,587451576462.842
2810,ARG,1974,0.0,0.0,72436777342.4554,0.0
2811,ARG,1972,0.0,0.0,34733000536.2862,0.0
2812,ARG,2008,0.0,0.0,361558037110.419,697557858459.69
3514,ARG,2018,0.0,0.0,524819742918.669,1036428172096.8
3515,ARG,1965,0.0,0.0,28344705966.6389,0.0
3516,ARG,2009,0.0,0.0,332976484577.619,661275816702.498
5331,ARG,2003,0.0,0.0,127586973492.177,419925810757.286
5332,ARG,2015,0.0,0.0,594749285413.212,867176759338.262
5333,ARG,1975,0.0,0.0,52438647921.9226,0.0
5334,ARG,1984,0.0,0.0,79092001998.032,0.0
5335,ARG,1978,0.0,0.0,58082870156.2634,0.0
5336,ARG,1986,0.0,0.0,110934442762.694,0.0
6593,ARG,1973,0.0,0.0,52544000116.9037,0.0
6594,ARG,1962,0.0,0.0,24450604877.6081,0.0
6595,ARG,1999,0.0,0.0,283523000000.0,422359326228.804
6596,ARG,2014,0.0,0.0,526319673731.638,839896688260.086
6597,ARG,1966,0.0,0.0,28630474727.9023,0.0
6598,ARG,1993,0.0,0.0,236741715015.015,323630227657.508
8036,ARG,2010,332498160.0,447642430.0,423627422092.49,736718360687.747
8037,ARG,2012,338963349.93,429478449.93,545982375701.128,819697901873.041
8189,ARG,2017,0.0,0.0,643628665302.155,1039330591568.54
8190,ARG,1981,0.0,0.0,78676842366.4213,0.0
8191,ARG,1970,0.0,0.0,31584210365.5447,0.0
8192,ARG,1982,0.0,0.0,84307486836.724,0.0
8193,ARG,1998,0.0,0.0,298948250000.0,430937274294.631
8194,ARG,2016,0.0,0.0,557531376217.967,885227528869.049
9601,ARG,2019,0.0,0.0,451932356085.842,1033557797795.68
9602,ARG,1989,0.0,0.0,76636898036.4712,0.0
9603,ARG,2011,0.0,0.0,530163281574.658,797263881242.037
9604,ARG,2001,0.0,0.0,268696750000.0,418489172661.132
11323,ARG,1964,0.0,0.0,25605249381.7597,0.0
11324,ARG,1963,0.0,0.0,18272123664.4715,0.0
11325,ARG,1979,0.0,0.0,69252328953.3789,0.0
11326,ARG,1967,0.0,0.0,24256667553.2569,0.0
11327,ARG,1995,0.0,0.0,258031750000.0,347005607350.473
11328,ARG,1983,0.0,0.0,103979106777.911,0.0
12062,ARG,2002,0.0,0.0,97724004251.8602,378795278976.384
12063,ARG,1996,0.0,0.0,272149750000.0,372888233736.503
12064,ARG,2007,0.0,0.0,287530508430.568,657569211584.856
12065,ARG,1992,0.0,0.0,228788617201.696,292159264258.284
12654,ARG,1971,0.0,0.0,33293199095.4881,0.0
12655,ARG,1985,0.0,0.0,88416668900.2596,0.0
12656,ARG,1987,0.0,0.0,111106191358.197,0.0
12657,ARG,1991,0.0,0.0,189719984268.485,264644000848.374
12658,ARG,1969,0.0,0.0,31256284543.6155,0.0

In [15]:
#df_unfccc = dequantify_df(df_unfccc)
#df_unfccc
#df_unfccc.info(verbose=True)
#df_unfccc

#df_result= requantify_df(df_result)
#df_result= dequantify_df(df_result)
#df_result

<font size=3><b>Merge UNFCCC , Worldbank and OECD data</b> </font>

In [16]:
df_result.info(verbose=True)
df_result= requantify_df(df_result)
df_result.info(verbose=True)

#df_unfccc = df_unfccc.assign(ghg_total_without_lulucf=np.where(df_unfccc.ghg_total_without_lulucf.isnull(), 0, df_unfccc.ghg_total_without_lulucf))
#df_unfccc = df_unfccc.assign(ghg_total_with_lulucf=np.where(df_unfccc.ghg_total_with_lulucf.isnull(), 0, df_unfccc.ghg_total_with_lulucf))
#df_unfccc = df_unfccc.assign(gdp=np.where(df_unfccc.gdp.isnull(), 0, df_unfccc.gdp))
#df_unfccc = df_unfccc.assign(gdp_ppp=np.where(df_unfccc.gdp_ppp.isnull(), 0, df_unfccc.gdp_ppp))


df_result = pd.merge(df_result,df_unfccc,on=['country_iso_code','validity_date'],how='outer')  

rename_columns = {'ghg_total_without_lulucf':'scope1_excl_lulucf',
                  'ghg_total_with_lulucf':'scope1_incl_lulucf'}
#columns_order = ['country_iso_code','validity_date','scope1_excl_lulucf','scope1_excl_lulucf_units','scope1_incl_lulucf','scope1_incl_lulucf_units','scope2_value','scope2_value_units','scope3_value','scope3_value_units','exported_emissions','exported_emissions_units','gdp_ppp','gdp_ppp_units','gdp','gdp_units']
df_result = df_result.rename(columns=rename_columns)
df_result.info(verbose=True)

df_result['sum_yn'] = 1 * ((df_result['scope1_excl_lulucf'] > 0) & (df_result['scope2_value'] > 0) &  (df_result['scope3_value'] > 0) )

df_result['consumption_emissions_excl_lulucf'] = df_result['sum_yn'] * ( df_result['scope1_excl_lulucf'] + df_result['scope2_value'] + df_result['scope3_value'] - df_result['exported_emissions'])
df_result['consumption_emissions_incl_lulucf'] = df_result['sum_yn'] * ( df_result['scope1_incl_lulucf'] + df_result['scope2_value'] + df_result['scope3_value'] - df_result['exported_emissions'])
###############
df_result['attribution_factor_scope1_excl_lulucf']= (df_result['scope1_excl_lulucf']) / df_result['gdp_ppp']
df_result['attribution_factor_scope1_incl_lulucf']= (df_result['scope1_incl_lulucf']) / df_result['gdp_ppp']

df_result['attribution_factor_excl_lulucf']= df_result['sum_yn'] * ( (df_result['scope1_excl_lulucf'] + df_result['scope2_value'] + df_result['scope3_value']) / df_result['gdp_ppp'])
df_result['attribution_factor_incl_lulucf']= df_result['sum_yn'] * ( (df_result['scope1_incl_lulucf'] + df_result['scope2_value'] + df_result['scope3_value']) / df_result['gdp_ppp'])
##########
df_result['attribution_factor_excl_lulucf_gdp']= df_result['sum_yn'] * ( (df_result['scope1_excl_lulucf'] + df_result['scope2_value'] + df_result['scope3_value']) / df_result['gdp'])
df_result['attribution_factor_incl_lulucf_gdp']= df_result['sum_yn'] * ( (df_result['scope1_incl_lulucf'] + df_result['scope2_value'] + df_result['scope3_value']) / df_result['gdp'])



#df_result['ghg_total_without_lulucf']=df_result['ghg_total_without_lulucf'].replace(0, np.nan)
#df_result['ghg_total_with_lulucf']=df_result['ghg_total_with_lulucf'].replace(0, np.nan)
#df_result['gdp']=df_result['gdp'].replace(0, np.nan)
#df_result['gdp_ppp']=df_result['gdp_ppp'].replace(0, np.nan)



#df_result

columns_order = ['country_iso_code','validity_date','scope1_excl_lulucf','scope1_incl_lulucf','scope2_value','scope3_value',
                 'exported_emissions','gdp_ppp','gdp',
                 'consumption_emissions_excl_lulucf','consumption_emissions_incl_lulucf',
                 'attribution_factor_scope1_excl_lulucf','attribution_factor_scope1_incl_lulucf',
                 'attribution_factor_excl_lulucf','attribution_factor_excl_lulucf_gdp',
                 'attribution_factor_incl_lulucf','attribution_factor_incl_lulucf_gdp']
df_result = df_result.reindex(columns=columns_order)
df_result.info(verbose=True)
df_result= dequantify_df(df_result)
df_result.info(verbose=True)
# remove invalid country_iso_codes (regions, ...)

df_result = pd.merge(df_result,df_country,on=['country_iso_code'])  

cols= ['scope1_excl_lulucf','scope1_incl_lulucf','scope2_value','scope3_value',
                 'exported_emissions','gdp_ppp','gdp',
                 'consumption_emissions_excl_lulucf','consumption_emissions_incl_lulucf',
                 'attribution_factor_scope1_excl_lulucf','attribution_factor_scope1_incl_lulucf',
                 'attribution_factor_excl_lulucf','attribution_factor_excl_lulucf_gdp',
                 'attribution_factor_incl_lulucf','attribution_factor_incl_lulucf_gdp']
df_result[cols] = df_result[cols].replace({0:np.nan})


df_result

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2016 entries, 0 to 2015
Data columns (total 8 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   country_iso_code          2016 non-null   string
 1   validity_date             2016 non-null   Int64
 2   scope2_value              2016 non-null   Float64
 3   scope2_value_units        2016 non-null   string
 4   scope3_value              2016 non-null   Float64
 5   scope3_value_units        2016 non-null   string
 6   exported_emissions        2016 non-null   Float64
 7   exported_emissions_units  2016 non-null   string
dtypes: Float64(3), Int64(1), string(4)
memory usage: 149.6 KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2016 entries, 0 to 2015
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   country_iso_code    2016 non-null   string
 1   validity_date       2016 non-null   Int64
 2   scope2_value        2016 non-null   pint[CO2eq * t]
 3   scope3_value        2016 non-null   pint[CO2eq * t]
 4   exported_emissions  2016 non-null   pint[CO2eq * t]
dtypes: Int64(1), pint[CO2eq * t](3), string(1)
memory usage: 161.0 KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 13380 entries, 0 to 13379
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   country_iso_code    13380 non-null  string
 1   validity_date       13380 non-null  Int64
 2   scope2_value        2016 non-null   pint[CO2eq * t]
 3   scope3_value        2016 non-null   pint[CO2eq * t]
 4   exported_emissions  2016 non-null   pint[CO2eq * t]
 5   scope1_excl_lulucf  12948 non-null  pint[CO2eq * t]
 6   scope1_incl_lulucf  12948 non-null  pint[CO2eq * t]
 7   gdp                 12948 non-null  pint[USD]
 8   gdp_ppp             12948 non-null  pint[USD]
dtypes: Int64(1), pint[CO2eq * t](5), pint[USD](2), string(1)
memory usage: 1.0 MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 13380 entries, 0 to 13379
Data columns (total 17 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   country_iso_code                       13380 non-null  string
 1   validity_date                          13380 non-null  Int64
 2   scope1_excl_lulucf                     12948 non-null  pint[CO2eq * t]
 3   scope1_incl_lulucf                     12948 non-null  pint[CO2eq * t]
 4   scope2_value                           2016 non-null   pint[CO2eq * t]
 5   scope3_value                           2016 non-null   pint[CO2eq * t]
 6   exported_emissions                     2016 non-null   pint[CO2eq * t]
 7   gdp_ppp                                12948 non-null  pint[USD]
 8   gdp                                    12948 non-null  pint[USD]
 9   consumption_emissions_excl_lulucf      1584 non-null   pint[CO2eq * t]
 10  consumption_emissions_incl_lulucf      1584 non-null   pint[CO2eq * t]
 11  attribution_factor_scope1_excl_lulucf  7377 non-null   pint[CO2eq * t / USD]
 12  attribution_factor_scope1_incl_lulucf  7377 non-null   pint[CO2eq * t / USD]
 13  attribution_factor_excl_lulucf         1584 non-null   pint[CO2eq * t / USD]
 14  attribution_factor_excl_lulucf_gdp     1584 non-null   pint[CO2eq * t / USD]
 15  attribution_factor_incl_lulucf         1584 non-null   pint[CO2eq * t / USD]
 16  attribution_factor_incl_lulucf_gdp     1584 non-null   pint[CO2eq * t / USD]
dtypes: Int64(1), pint[CO2eq * t / USD](6), pint[CO2eq * t](7), pint[USD](2), string(1)
memory usage: 1.9 MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 13380 entries, 0 to 13379
Data columns (total 32 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   country_iso_code                             13380 non-null  string
 1   validity_date                                13380 non-null  Int64
 2   scope1_excl_lulucf                           12948 non-null  float64
 3   scope1_excl_lulucf_units                     13380 non-null  object
 4   scope1_incl_lulucf                           12948 non-null  float64
 5   scope1_incl_lulucf_units                     13380 non-null  object
 6   scope2_value                                 2016 non-null   float64
 7   scope2_value_units                           13380 non-null  object
 8   scope3_value                                 2016 non-null   float64
 9   scope3_value_units                           13380 non-null  object
 10  exported_emissions                           2016 non-null   float64
 11  exported_emissions_units                     13380 non-null  object
 12  gdp_ppp                                      12948 non-null  float64
 13  gdp_ppp_units                                13380 non-null  object
 14  gdp                                          12948 non-null  float64
 15  gdp_units                                    13380 non-null  object
 16  consumption_emissions_excl_lulucf            1584 non-null   float64
 17  consumption_emissions_excl_lulucf_units      13380 non-null  object
 18  consumption_emissions_incl_lulucf            1584 non-null   float64
 19  consumption_emissions_incl_lulucf_units      13380 non-null  object
 20  attribution_factor_scope1_excl_lulucf        7377 non-null   float64
 21  attribution_factor_scope1_excl_lulucf_units  13380 non-null  object
 22  attribution_factor_scope1_incl_lulucf        7377 non-null   float64
 23  attribution_factor_scope1_incl_lulucf_units  13380 non-null  object
 24  attribution_factor_excl_lulucf               1584 non-null   float64
 25  attribution_factor_excl_lulucf_units         13380 non-null  object
 26  attribution_factor_excl_lulucf_gdp           1584 non-null   float64
 27  attribution_factor_excl_lulucf_gdp_units     13380 non-null  object
 28  attribution_factor_incl_lulucf               1584 non-null   float64
 29  attribution_factor_incl_lulucf_units         13380 non-null  object
 30  attribution_factor_incl_lulucf_gdp           1584 non-null   float64
 31  attribution_factor_incl_lulucf_gdp_units     13380 non-null  object
dtypes: Int64(1), float64(15), object(15), string(1)
memory usage: 3.4+ MB

,country_iso_code,validity_date,scope1_excl_lulucf,scope1_excl_lulucf_units,scope1_incl_lulucf,scope1_incl_lulucf_units,scope2_value,scope2_value_units,scope3_value,scope3_value_units,...,attribution_factor_scope1_incl_lulucf,attribution_factor_scope1_incl_lulucf_units,attribution_factor_excl_lulucf,attribution_factor_excl_lulucf_units,attribution_factor_excl_lulucf_gdp,attribution_factor_excl_lulucf_gdp_units,attribution_factor_incl_lulucf,attribution_factor_incl_lulucf_units,attribution_factor_incl_lulucf_gdp,attribution_factor_incl_lulucf_gdp_units
0,ARG,1995,NaN,CO2eq * t,NaN,CO2eq * t,21000.0,CO2eq * t,9356000.0,CO2eq * t,...,NaN,CO2eq * t / USD,NaN,CO2eq * t / USD,NaN,CO2eq * t / USD,NaN,CO2eq * t / USD,NaN,CO2eq * t / USD
1,ARG,1996,NaN,CO2eq * t,NaN,CO2eq * t,28000.0,CO2eq * t,11287000.0,CO2eq * t,...,NaN,CO2eq * t / USD,NaN,CO2eq * t / USD,NaN,CO2eq * t / USD,NaN,CO2eq * t / USD,NaN,CO2eq * t / USD
2,ARG,1997,2.709103e+08,CO2eq * t,2.419562e+08,CO2eq * t,26000.0,CO2eq * t,14968000.0,CO2eq * t,...,0.00059,CO2eq * t / USD,0.000697,CO2eq * t / USD,0.000976,CO2eq * t / USD,0.000626,CO2eq * t / USD,0.000877,CO2eq * t / USD
3,ARG,1998,NaN,CO2eq * t,NaN,CO2eq * t,43000.0,CO2eq * t,13397000.0,CO2eq * t,...,NaN,CO2eq * t / USD,NaN,CO2eq * t / USD,NaN,CO2eq * t / USD,NaN,CO2eq * t / USD,NaN,CO2eq * t / USD
4,ARG,1999,NaN,CO2eq * t,NaN,CO2eq * t,61000.0,CO2eq * t,12270000.0,CO2eq * t,...,NaN,CO2eq * t / USD,NaN,CO2eq * t / USD,NaN,CO2eq * t / USD,NaN,CO2eq * t / USD,NaN,CO2eq * t / USD
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10248,SXM,2013,NaN,CO2eq * t,NaN,CO2eq * t,NaN,CO2eq * t,NaN,CO2eq * t,...,NaN,CO2eq * t / USD,NaN,CO2eq * t / USD,NaN,CO2eq * t / USD,NaN,CO2eq * t / USD,NaN,CO2eq * t / USD
10249,SXM,2016,NaN,CO2eq * t,NaN,CO2eq * t,NaN,CO2eq * t,NaN,CO2eq * t,...,NaN,CO2eq * t / USD,NaN,CO2eq * t / USD,NaN,CO2eq * t / USD,NaN,CO2eq * t / USD,NaN,CO2eq * t / USD
10250,SXM,2010,NaN,CO2eq * t,NaN,CO2eq * t,NaN,CO2eq * t,NaN,CO2eq * t,...,NaN,CO2eq * t / USD,NaN,CO2eq * t / USD,NaN,CO2eq * t / USD,NaN,CO2eq * t / USD,NaN,CO2eq * t / USD
10251,SXM,2009,NaN,CO2eq * t,NaN,CO2eq * t,NaN,CO2eq * t,NaN,CO2eq * t,...,NaN,CO2eq * t / USD,NaN,CO2eq * t / USD,NaN,CO2eq * t / USD,NaN,CO2eq * t / USD,NaN,CO2eq * t / USD
10252,COK,1994,8.030046e+04,CO2eq * t,-7.413774e+04,CO2eq * t,NaN,CO2eq * t,NaN,CO2eq * t,...,-inf,CO2eq * t / USD,NaN,CO2eq * t / USD,NaN,CO2eq * t / USD,NaN,CO2eq * t / USD,NaN,CO2eq * t / USD

In [17]:
#df_result['scope1_value_units'] = 'Mt CO2e'
#df_result['scope1_value'] = df_result['scope1_value'].round(decimals = 3)
#pd.options.display.float_format = '{:.3f}'.format
#df_result= df_result.convert_dtypes()
#df_result.info(verbose=True)
df_result[df_result['country_iso_code']=='CAN']
#df_result

,country_iso_code,validity_date,scope1_excl_lulucf,scope1_excl_lulucf_units,scope1_incl_lulucf,scope1_incl_lulucf_units,scope2_value,scope2_value_units,scope3_value,scope3_value_units,...,attribution_factor_scope1_incl_lulucf,attribution_factor_scope1_incl_lulucf_units,attribution_factor_excl_lulucf,attribution_factor_excl_lulucf_units,attribution_factor_excl_lulucf_gdp,attribution_factor_excl_lulucf_gdp_units,attribution_factor_incl_lulucf,attribution_factor_incl_lulucf_units,attribution_factor_incl_lulucf_gdp,attribution_factor_incl_lulucf_gdp_units
400,CAN,1995,6.562987e+08,CO2eq * t,6.265742e+08,CO2eq * t,5129000.0,CO2eq * t,179111000.0,CO2eq * t,...,inf,CO2eq * t / USD,inf,CO2eq * t / USD,0.001392,CO2eq * t / USD,inf,CO2eq * t / USD,0.001342,CO2eq * t / USD
401,CAN,1996,6.787145e+08,CO2eq * t,6.419787e+08,CO2eq * t,5269000.0,CO2eq * t,188198000.0,CO2eq * t,...,inf,CO2eq * t / USD,inf,CO2eq * t / USD,0.001388,CO2eq * t / USD,inf,CO2eq * t / USD,0.001329,CO2eq * t / USD
402,CAN,1997,6.911954e+08,CO2eq * t,6.529372e+08,CO2eq * t,6362000.0,CO2eq * t,202972000.0,CO2eq * t,...,0.000864,CO2eq * t / USD,0.001192,CO2eq * t / USD,0.001375,CO2eq * t / USD,0.001141,CO2eq * t / USD,0.001316,CO2eq * t / USD
403,CAN,1998,6.969015e+08,CO2eq * t,6.470244e+08,CO2eq * t,7993000.0,CO2eq * t,214108000.0,CO2eq * t,...,0.000815,CO2eq * t / USD,0.001158,CO2eq * t / USD,0.001450,CO2eq * t / USD,0.001095,CO2eq * t / USD,0.001371,CO2eq * t / USD
404,CAN,1999,7.096009e+08,CO2eq * t,6.742546e+08,CO2eq * t,9100000.0,CO2eq * t,222868000.0,CO2eq * t,...,0.000797,CO2eq * t / USD,0.001112,CO2eq * t / USD,0.001388,CO2eq * t / USD,0.001071,CO2eq * t / USD,0.001336,CO2eq * t / USD
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
456,CAN,1964,NaN,CO2eq * t,NaN,CO2eq * t,NaN,CO2eq * t,NaN,CO2eq * t,...,NaN,CO2eq * t / USD,NaN,CO2eq * t / USD,NaN,CO2eq * t / USD,NaN,CO2eq * t / USD,NaN,CO2eq * t / USD
457,CAN,1963,NaN,CO2eq * t,NaN,CO2eq * t,NaN,CO2eq * t,NaN,CO2eq * t,...,NaN,CO2eq * t / USD,NaN,CO2eq * t / USD,NaN,CO2eq * t / USD,NaN,CO2eq * t / USD,NaN,CO2eq * t / USD
458,CAN,1979,NaN,CO2eq * t,NaN,CO2eq * t,NaN,CO2eq * t,NaN,CO2eq * t,...,NaN,CO2eq * t / USD,NaN,CO2eq * t / USD,NaN,CO2eq * t / USD,NaN,CO2eq * t / USD,NaN,CO2eq * t / USD
459,CAN,1967,NaN,CO2eq * t,NaN,CO2eq * t,NaN,CO2eq * t,NaN,CO2eq * t,...,NaN,CO2eq * t / USD,NaN,CO2eq * t / USD,NaN,CO2eq * t / USD,NaN,CO2eq * t / USD,NaN,CO2eq * t / USD
460,CAN,1983,NaN,CO2eq * t,NaN,CO2eq * t,NaN,CO2eq * t,NaN,CO2eq * t,...,NaN,CO2eq * t / USD,NaN,CO2eq * t / USD,NaN,CO2eq * t / USD,NaN,CO2eq * t / USD,NaN,CO2eq * t / USD

Calculate Attribution factor = (Scope1+Scope2+Scope3)/GDP

In [18]:


#df_result= requantify_df(df_result)
format_mapper =  {'gdp_ppp': '{0:,.0f}',
           'gdp': '{0:,.0f}',       
           'attribution_factor_excl_lulucf': '{0:.8f}',
           'attribution_factor_incl_lulucf': '{0:.8f}',
           'attribution_factor_excl_lulucf_gdp': '{0:.8f}',
           'attribution_factor_incl_lulucf_gdp': '{0:.8f}',       
           'scope1_excl_lulucf': '{0:,.0f}',       
           'scope1_incl_lulucf': '{0:,.0f}',              
           'scope2_value': '{0:,.0f}',              
           'scope3_value': '{0:,.0f}'
                 }

df_result[df_result['country_iso_code']=='CAN'].style.format(format_mapper)

<font size=3>Save the results in Trino</font>

In [19]:
# Add the sources used for the calculations in the result table
df_result['scope1_excl_source'] = "UNFCCC -> Time_Series_GHG_total_without_LULUCF_in_kt_CO2_equivalent.xlsx"
df_result['scope1_incl_source'] = "UNFCCC -> Time_Series_GHG_total_with_LULUCF_in_kt_CO2_equivalent.xlsx"
df_result['scope2_source'] = "OECD -> IMGR_FCO2.csv -> Industry_Code = D35  -> Aggregation grouped by Partner_ISO_CODE"
df_result['scope3_source'] = "OECD -> IMGR_FCO2.csv -> Indutry_Code = DTOTAL - Scope_2 Value "          
df_result['gdp_ppp_source'] = "Worldbank -> API_NY.GDP.MKTP.CD_DS2_en_csv_v2_4019306.csv"

In [20]:
import osc_ingest_trino as osc
#df_result['validity_date']=pd.to_datetime(df_result['validity_date'], unit='D')
df_result=df_result.convert_dtypes()
df_result.info(verbose=True)
columnschema = osc.create_table_schema_pairs(df_result) 
sql = f"""
drop table if exists {ingest_catalog}.{ingest_schema}.{ingest_table}
"""
print(sql)
qres = engine.execute(sql)
print(qres.fetchall())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10253 entries, 0 to 10252
Data columns (total 37 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   country_iso_code                             10253 non-null  string
 1   validity_date                                10253 non-null  Int64
 2   scope1_excl_lulucf                           2212 non-null   Float64
 3   scope1_excl_lulucf_units                     10253 non-null  string
 4   scope1_incl_lulucf                           2212 non-null   Float64
 5   scope1_incl_lulucf_units                     10253 non-null  string
 6   scope2_value                                 1419 non-null   Float64
 7   scope2_value_units                           10253 non-null  string
 8   scope3_value                                 1608 non-null   Int64
 9   scope3_value_units                           10253 non-null  string
 10  exported_emissions                           1608 non-null   Int64
 11  exported_emissions_units                     10253 non-null  string
 12  gdp_ppp                                      5729 non-null   Float64
 13  gdp_ppp_units                                10253 non-null  string
 14  gdp                                          10111 non-null  Float64
 15  gdp_units                                    10253 non-null  string
 16  consumption_emissions_excl_lulucf            1008 non-null   Float64
 17  consumption_emissions_excl_lulucf_units      10253 non-null  string
 18  consumption_emissions_incl_lulucf            1008 non-null   Float64
 19  consumption_emissions_incl_lulucf_units      10253 non-null  string
 20  attribution_factor_scope1_excl_lulucf        2212 non-null   Float64
 21  attribution_factor_scope1_excl_lulucf_units  10253 non-null  string
 22  attribution_factor_scope1_incl_lulucf        2212 non-null   Float64
 23  attribution_factor_scope1_incl_lulucf_units  10253 non-null  string
 24  attribution_factor_excl_lulucf               1008 non-null   Float64
 25  attribution_factor_excl_lulucf_units         10253 non-null  string
 26  attribution_factor_excl_lulucf_gdp           1008 non-null   Float64
 27  attribution_factor_excl_lulucf_gdp_units     10253 non-null  string
 28  attribution_factor_incl_lulucf               1008 non-null   Float64
 29  attribution_factor_incl_lulucf_units         10253 non-null  string
 30  attribution_factor_incl_lulucf_gdp           1008 non-null   Float64
 31  attribution_factor_incl_lulucf_gdp_units     10253 non-null  string
 32  scope1_excl_source                           10253 non-null  string
 33  scope1_incl_source                           10253 non-null  string
 34  scope2_source                                10253 non-null  string
 35  scope3_source                                10253 non-null  string
 36  gdp_ppp_source                               10253 non-null  string
dtypes: Float64(13), Int64(3), string(21)
memory usage: 3.1 MB

drop table if exists osc_datacommons_dev.pcaf_sovereign_footprint.sf_total_sovereign_emissions

[(True,)]

In [21]:
df_result.to_sql(ingest_table,
           con=engine,
           schema=ingest_schema,
           if_exists='append',
           index=False,
           method=osc.TrinoBatchInsert(batch_size = 1000, verbose = True))

constructed fully qualified table name as: "pcaf_sovereign_footprint.sf_total_sovereign_emissions"
inserting 1000 records
  ('ARG', 1995, NULL, 'CO2eq * t', NULL, 'CO2eq * t', 21000.0, 'CO2eq * t', 9356000, 'CO2eq * t', 3312000, 'CO2eq * t', 347005607350.473, 'USD', 258031750000.0, 'USD', NULL, 'CO2eq * t', NULL, 'CO2eq * t', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', 'UNFCCC -> Time_Series_GHG_total_without_LULUCF_in_kt_CO2_equivalent.xlsx', 'UNFCCC -> Time_Series_GHG_total_with_LULUCF_in_kt_CO2_equivalent.xlsx', 'OECD -> IMGR_FCO2.csv -> Industry_Code = D35  -> Aggregation grouped by Partner_ISO_CODE', 'OECD -> IMGR_FCO2.csv -> Indutry_Code = DTOTAL - Scope_2 Value ', 'Worldbank -> API_NY.GDP.MKTP.CD_DS2_en_csv_v2_4019306.csv')
  ('ARG', 1996, NULL, 'CO2eq * t', NULL, 'CO2eq * t', 28000.0, 'CO2eq * t', 11287000, 'CO2eq * t', 3809000, 'CO2eq * t', 372888233736.503, 'USD', 272149750000.0, 'USD', NULL, 'CO2eq * t', NULL, 'CO2eq * t', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', 'UNFCCC -> Time_Series_GHG_total_without_LULUCF_in_kt_CO2_equivalent.xlsx', 'UNFCCC -> Time_Series_GHG_total_with_LULUCF_in_kt_CO2_equivalent.xlsx', 'OECD -> IMGR_FCO2.csv -> Industry_Code = D35  -> Aggregation grouped by Partner_ISO_CODE', 'OECD -> IMGR_FCO2.csv -> Indutry_Code = DTOTAL - Scope_2 Value ', 'Worldbank -> API_NY.GDP.MKTP.CD_DS2_en_csv_v2_4019306.csv')
  ('ARG', 1997, 270910288.57367104, 'CO2eq * t', 241956194.21024, 'CO2eq * t', 26000.0, 'CO2eq * t', 14968000, 'CO2eq * t', 4783000, 'CO2eq * t', 410342067258.763, 'USD', 292859000000.0, 'USD', 281121288.57367104, 'CO2eq * t', 252167194.21024, 'CO2eq * t', 0.0006602059846884628, 'CO2eq * t / USD', 0.0005896451120076403, 'CO2eq * t / USD', 0.0006967462304891564, 'CO2eq * t / USD', 0.0009762523554805249, 'CO2eq * t / USD', 0.0006261853578083341, 'CO2eq * t / USD', 0.000877385343152302, 'CO2eq * t / USD', 'UNFCCC -> Time_Series_GHG_total_without_LULUCF_in_kt_CO2_equivalent.xlsx', 'UNFCCC -> Time_Series_GHG_total_with_LULUCF_in_kt_CO2_equivalent.xlsx', 'OECD -> IMGR_FCO2.csv -> Industry_Code = D35  -> Aggregation grouped by Partner_ISO_CODE', 'OECD -> IMGR_FCO2.csv -> Indutry_Code = DTOTAL - Scope_2 Value ', 'Worldbank -> API_NY.GDP.MKTP.CD_DS2_en_csv_v2_4019306.csv')
  ...
  ('ESP', 1984, NULL, 'CO2eq * t', NULL, 'CO2eq * t', NULL, 'CO2eq * t', NULL, 'CO2eq * t', NULL, 'CO2eq * t', NULL, 'USD', 172102910370.524, 'USD', NULL, 'CO2eq * t', NULL, 'CO2eq * t', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', 'UNFCCC -> Time_Series_GHG_total_without_LULUCF_in_kt_CO2_equivalent.xlsx', 'UNFCCC -> Time_Series_GHG_total_with_LULUCF_in_kt_CO2_equivalent.xlsx', 'OECD -> IMGR_FCO2.csv -> Industry_Code = D35  -> Aggregation grouped by Partner_ISO_CODE', 'OECD -> IMGR_FCO2.csv -> Indutry_Code = DTOTAL - Scope_2 Value ', 'Worldbank -> API_NY.GDP.MKTP.CD_DS2_en_csv_v2_4019306.csv')
batch insert result: [(1000,)]
inserting 1000 records
  ('EST', 1995, 20273773.476655576, 'CO2eq * t', 17774289.07211617, 'CO2eq * t', 1050000.0, 'CO2eq * t', 7401000, 'CO2eq * t', 321000, 'CO2eq * t', 9304112599.85629, 'USD', 4502970889.06373, 'USD', 28403773.476655576, 'CO2eq * t', 25904289.07211617, 'CO2eq * t', 0.0021790120507536336, 'CO2eq * t / USD', 0.001910369084784153, 'CO2eq * t / USD', 0.0030873200607115666, 'CO2eq * t / USD', 0.00637907154727978, 'CO2eq * t / USD', 0.0028186770947420865, 'CO2eq * t / USD', 0.00582399702734232, 'CO2eq * t / USD', 'UNFCCC -> Time_Series_GHG_total_without_LULUCF_in_kt_CO2_equivalent.xlsx', 'UNFCCC -> Time_Series_GHG_total_with_LULUCF_in_kt_CO2_equivalent.xlsx', 'OECD -> IMGR_FCO2.csv -> Industry_Code = D35  -> Aggregation grouped by Partner_ISO_CODE', 'OECD -> IMGR_FCO2.csv -> Indutry_Code = DTOTAL - Scope_2 Value ', 'Worldbank -> API_NY.GDP.MKTP.CD_DS2_en_csv_v2_4019306.csv')
  ('EST', 1996, 21180712.16253818, 'CO2eq * t', 18351110.31499601, 'CO2eq * t', 946000.0, 'CO2eq * t', 6776000, 'CO2eq * t', 344000, 'CO2eq * t', 9753173782.83109, 'USD', 4786018988.16491, 'USD', 28558712.16253818, 'CO2eq * t', 25729110.31499601, 'CO2eq * t', 0.002171673819636378, 'CO2eq * t / USD', 0.0018815526846553497, 'CO2eq * t / USD', 0.002963416094709273, 'CO2eq * t / USD', 0.006038988193321035, 'CO2eq * t / USD', 0.0026732949597282445, 'CO2eq * t / USD', 0.005447765748416546, 'CO2eq * t / USD', 'UNFCCC -> Time_Series_GHG_total_without_LULUCF_in_kt_CO2_equivalent.xlsx', 'UNFCCC -> Time_Series_GHG_total_with_LULUCF_in_kt_CO2_equivalent.xlsx', 'OECD -> IMGR_FCO2.csv -> Industry_Code = D35  -> Aggregation grouped by Partner_ISO_CODE', 'OECD -> IMGR_FCO2.csv -> Indutry_Code = DTOTAL - Scope_2 Value ', 'Worldbank -> API_NY.GDP.MKTP.CD_DS2_en_csv_v2_4019306.csv')
  ('EST', 1997, 20759071.522566862, 'CO2eq * t', 17833687.065579694, 'CO2eq * t', 1117000.0, 'CO2eq * t', 7217000, 'CO2eq * t', 428000, 'CO2eq * t', 11167418405.5971, 'USD', 5154420649.23354, 'USD', 28665071.522566862, 'CO2eq * t', 25739687.065579694, 'CO2eq * t', 0.0018588961896656828, 'CO2eq * t / USD', 0.0015969390971006753, 'CO2eq * t / USD', 0.002605174308503158, 'CO2eq * t / USD', 0.00564429515990182, 'CO2eq * t / USD', 0.0023432172159381505, 'CO2eq * t / USD', 0.005076746514561402, 'CO2eq * t / USD', 'UNFCCC -> Time_Series_GHG_total_without_LULUCF_in_kt_CO2_equivalent.xlsx', 'UNFCCC -> Time_Series_GHG_total_with_LULUCF_in_kt_CO2_equivalent.xlsx', 'OECD -> IMGR_FCO2.csv -> Industry_Code = D35  -> Aggregation grouped by Partner_ISO_CODE', 'OECD -> IMGR_FCO2.csv -> Indutry_Code = DTOTAL - Scope_2 Value ', 'Worldbank -> API_NY.GDP.MKTP.CD_DS2_en_csv_v2_4019306.csv')
  ...
  ('LUX', 1998, 8614775.183814684, 'CO2eq * t', 8009609.108649722, 'CO2eq * t', 15000.0, 'CO2eq * t', 9655000, 'CO2eq * t', 2040000, 'CO2eq * t', 18800386977.9634, 'USD', 20150053345.1878, 'USD', 16244775.183814682, 'CO2eq * t', 15639609.108649723, 'CO2eq * t', 0.0004582232905052628, 'CO2eq * t / USD', 0.0004260342682327799, 'CO2eq * t / USD', 0.0009725744052634084, 'CO2eq * t / USD', 0.0009074306092684076, 'CO2eq * t / USD', 0.0009403853829909256, 'CO2eq * t / USD', 0.0008773976329383731, 'CO2eq * t / USD', 'UNFCCC -> Time_Series_GHG_total_without_LULUCF_in_kt_CO2_equivalent.xlsx', 'UNFCCC -> Time_Series_GHG_total_with_LULUCF_in_kt_CO2_equivalent.xlsx', 'OECD -> IMGR_FCO2.csv -> Industry_Code = D35  -> Aggregation grouped by Partner_ISO_CODE', 'OECD -> IMGR_FCO2.csv -> Indutry_Code = DTOTAL - Scope_2 Value ', 'Worldbank -> API_NY.GDP.MKTP.CD_DS2_en_csv_v2_4019306.csv')
batch insert result: [(1000,)]
inserting 1000 records
  ('LUX', 1999, 9079655.807592113, 'CO2eq * t', 8380638.854844834, 'CO2eq * t', 13000.0, 'CO2eq * t', 8308000, 'CO2eq * t', 1974000, 'CO2eq * t', 21456887315.5603, 'USD', 21899317598.8414, 'USD', 15426655.807592113, 'CO2eq * t', 14727638.854844835, 'CO2eq * t', 0.0004231581064886166, 'CO2eq * t / USD', 0.00039058036385208986, 'CO2eq * t / USD', 0.0008109589966002826, 'CO2eq * t / USD', 0.0007945752523591287, 'CO2eq * t / USD', 0.0007783812539637559, 'CO2eq * t / USD', 0.0007626556754320256, 'CO2eq * t / USD', 'UNFCCC -> Time_Series_GHG_total_without_LULUCF_in_kt_CO2_equivalent.xlsx', 'UNFCCC -> Time_Series_GHG_total_with_LULUCF_in_kt_CO2_equivalent.xlsx', 'OECD -> IMGR_FCO2.csv -> Industry_Code = D35  -> Aggregation grouped by Partner_ISO_CODE', 'OECD -> IMGR_FCO2.csv -> Indutry_Code = DTOTAL - Scope_2 Value ', 'Worldbank -> API_NY.GDP.MKTP.CD_DS2_en_csv_v2_4019306.csv')
  ('LUX', 2000, 9658183.037051557, 'CO2eq * t', 8936048.437576434, 'CO2eq * t', 23000.0, 'CO2eq * t', 10024000, 'CO2eq * t', 2282000, 'CO2eq * t', 24047659001.9595, 'USD', 21230182989.3036, 'USD', 17423183.03705156, 'CO2eq * t', 16701048.437576436, 'CO2eq * t', 0.0004016267461321108, 'CO2eq * t / USD', 0.00037159743644270277, 'CO2eq * t / USD', 0.0008194220915826319, 'CO2eq * t / USD', 0.0009281683086283156, 'CO2eq * t / USD', 0.0007893927818932239, 'CO2eq * t / USD', 0.0008941537831840951, 'CO2eq * t / USD', 'UNFCCC -> Time_Series_GHG_total_without_LULUCF_in_kt_CO2_equivalent.xlsx', 'UNFCCC -> Time_Series_GHG_total_with_LULUCF_in_kt_CO2_equivalent.xlsx', 'OECD -> IMGR_FCO2.csv -> Industry_Code = D35  -> Aggregation grouped by Partner_ISO_CODE', 'OECD -> IMGR_FCO2.csv -> Indutry_Code = DTOTAL - Scope_2 Value ', 'Worldbank -> API_NY.GDP.MKTP.CD_DS2_en_csv_v2_4019306.csv')
  ('LUX', 2001, 10151681.52303222, 'CO2eq * t', 9447535.760225601, 'CO2eq * t', 43000.0, 'CO2eq * t', 9600000, 'CO2eq * t', 2041000, 'CO2eq * t', 24780691932.436, 'USD', 21387533703.2327, 'USD', 17753681.52303222, 'CO2eq * t', 17049535.7602256, 'CO2eq * t', 0.0004096609388757405, 'CO2eq * t / USD', 0.0003812458419637392, 'CO2eq * t / USD', 0.0007987945444381445, 'CO2eq * t / USD', 0.0009255242702453474, 'CO2eq * t / USD', 0.0007703794475261433, 'CO2eq * t / USD', 0.0008926010836555732, 'CO2eq * t / USD', 'UNFCCC -> Time_Series_GHG_total_without_LULUCF_in_kt_CO2_equivalent.xlsx', 'UNFCCC -> Time_Series_GHG_total_with_LULUCF_in_kt_CO2_equivalent.xlsx', 'OECD -> IMGR_FCO2.csv -> Industry_Code = D35  -> Aggregation grouped by Partner_ISO_CODE', 'OECD -> IMGR_FCO2.csv -> Indutry_Code = DTOTAL - Scope_2 Value ', 'Worldbank -> API_NY.GDP.MKTP.CD_DS2_en_csv_v2_4019306.csv')
  ...
  ('SVK', 2011, 44555465.82644192, 'CO2eq * t', 38094795.45830161, 'CO2eq * t', 182000.0, 'CO2eq * t', 35145000, 'CO2eq * t', 7548000, 'CO2eq * t', 141145550910.631, 'USD', 99492917848.5897, 'USD', 72334465.82644191, 'CO2eq * t', 65873795.458301604, 'CO2eq * t', 0.0003156703526181499, 'CO2eq * t / USD', 0.00026989724587509, 'CO2eq * t / USD', 0.0005659580858983009, 'CO2eq * t / USD', 0.0008028960005777359, 'CO2eq * t / USD', 0.0005201849791552411, 'CO2eq * t / USD', 0.000737960018119444, 'CO2eq * t / USD', 'UNFCCC -> Time_Series_GHG_total_without_LULUCF_in_kt_CO2_equivalent.xlsx', 'UNFCCC -> Time_Series_GHG_total_with_LULUCF_in_kt_CO2_equivalent.xlsx', 'OECD -> IMGR_FCO2.csv -> Industry_Code = D35  -> Aggregation grouped by Partner_ISO_CODE', 'OECD -> IMGR_FCO2.csv -> Indutry_Code = DTOTAL - Scope_2 Value ', 'Worldbank -> API_NY.GDP.MKTP.CD_DS2_en_csv_v2_4019306.csv')
batch insert result: [(1000,)]
inserting 1000 records
  ('SVK', 2012, 42309221.09393434, 'CO2eq * t', 34885377.206026465, 'CO2eq * t', 153000.0, 'CO2eq * t', 35538000, 'CO2eq * t', 7458000, 'CO2eq * t', 145400866528.456, 'USD', 94253181330.3891, 'USD', 70542221.09393434, 'CO2eq * t', 63118377.206026465, 'CO2eq * t', 0.0002909832802520068, 'CO2eq * t / USD', 0.0002399255110298751, 'CO2eq * t / USD', 0.0005364494927454173, 'CO2eq * t / USD', 0.0008275606191001377, 'CO2eq * t / USD', 0.0004853917235232856, 'CO2eq * t / USD', 0.0007487957033368723, 'CO2eq * t / USD', 'UNFCCC -> Time_Series_GHG_total_without_LULUCF_in_kt_CO2_equivalent.xlsx', 'UNFCCC -> Time_Series_GHG_total_with_LULUCF_in_kt_CO2_equivalent.xlsx', 'OECD -> IMGR_FCO2.csv -> Industry_Code = D35  -> Aggregation grouped by Partner_ISO_CODE', 'OECD -> IMGR_FCO2.csv -> Indutry_Code = DTOTAL - Scope_2 Value ', 'Worldbank -> API_NY.GDP.MKTP.CD_DS2_en_csv_v2_4019306.csv')
  ('SVK', 2013, 41862564.419110715, 'CO2eq * t', 33766204.82336831, 'CO2eq * t', 143000.0, 'CO2eq * t', 33059000, 'CO2eq * t', 6479000, 'CO2eq * t', 151117210724.786, 'USD', 98569320342.5842, 'USD', 68585564.41911072, 'CO2eq * t', 60489204.82336831, 'CO2eq * t', 0.00027702049434561517, 'CO2eq * t / USD', 0.00022344380670751774, 'CO2eq * t / USD', 0.0004967307433685894, 'CO2eq * t / USD', 0.0007615408542761465, 'CO2eq * t / USD', 0.0004431540557304919, 'CO2eq * t / USD', 0.0006794021161007896, 'CO2eq * t / USD', 'UNFCCC -> Time_Series_GHG_total_without_LULUCF_in_kt_CO2_equivalent.xlsx', 'UNFCCC -> Time_Series_GHG_total_with_LULUCF_in_kt_CO2_equivalent.xlsx', 'OECD -> IMGR_FCO2.csv -> Industry_Code = D35  -> Aggregation grouped by Partner_ISO_CODE', 'OECD -> IMGR_FCO2.csv -> Indutry_Code = DTOTAL - Scope_2 Value ', 'Worldbank -> API_NY.GDP.MKTP.CD_DS2_en_csv_v2_4019306.csv')
  ('SVK', 2014, 39862990.435789116, 'CO2eq * t', 33744529.04584304, 'CO2eq * t', 113000.0, 'CO2eq * t', 31057000, 'CO2eq * t', 6375000, 'CO2eq * t', 156758949098.91, 'USD', 101089178418.029, 'USD', 64657990.43578911, 'CO2eq * t', 58539529.04584304, 'CO2eq * t', 0.0002542948307891297, 'CO2eq * t / USD', 0.0002152638126232353, 'CO2eq * t / USD', 0.000453135153330031, 'CO2eq * t / USD', 0.0007026765035328505, 'CO2eq * t / USD', 0.00041410413516413666, 'CO2eq * t / USD', 0.0006421511190585134, 'CO2eq * t / USD', 'UNFCCC -> Time_Series_GHG_total_without_LULUCF_in_kt_CO2_equivalent.xlsx', 'UNFCCC -> Time_Series_GHG_total_with_LULUCF_in_kt_CO2_equivalent.xlsx', 'OECD -> IMGR_FCO2.csv -> Industry_Code = D35  -> Aggregation grouped by Partner_ISO_CODE', 'OECD -> IMGR_FCO2.csv -> Indutry_Code = DTOTAL - Scope_2 Value ', 'Worldbank -> API_NY.GDP.MKTP.CD_DS2_en_csv_v2_4019306.csv')
  ...
  ('TON', 1992, NULL, 'CO2eq * t', NULL, 'CO2eq * t', NULL, 'CO2eq * t', NULL, 'CO2eq * t', NULL, 'CO2eq * t', 238554131.134386, 'USD', 137066290.550071, 'USD', NULL, 'CO2eq * t', NULL, 'CO2eq * t', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', 'UNFCCC -> Time_Series_GHG_total_without_LULUCF_in_kt_CO2_equivalent.xlsx', 'UNFCCC -> Time_Series_GHG_total_with_LULUCF_in_kt_CO2_equivalent.xlsx', 'OECD -> IMGR_FCO2.csv -> Industry_Code = D35  -> Aggregation grouped by Partner_ISO_CODE', 'OECD -> IMGR_FCO2.csv -> Indutry_Code = DTOTAL - Scope_2 Value ', 'Worldbank -> API_NY.GDP.MKTP.CD_DS2_en_csv_v2_4019306.csv')
batch insert result: [(1000,)]
inserting 1000 records
  ('TON', 1996, NULL, 'CO2eq * t', NULL, 'CO2eq * t', NULL, 'CO2eq * t', NULL, 'CO2eq * t', NULL, 'CO2eq * t', 308638246.016355, 'USD', 222100576.345483, 'USD', NULL, 'CO2eq * t', NULL, 'CO2eq * t', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', 'UNFCCC -> Time_Series_GHG_total_without_LULUCF_in_kt_CO2_equivalent.xlsx', 'UNFCCC -> Time_Series_GHG_total_with_LULUCF_in_kt_CO2_equivalent.xlsx', 'OECD -> IMGR_FCO2.csv -> Industry_Code = D35  -> Aggregation grouped by Partner_ISO_CODE', 'OECD -> IMGR_FCO2.csv -> Indutry_Code = DTOTAL - Scope_2 Value ', 'Worldbank -> API_NY.GDP.MKTP.CD_DS2_en_csv_v2_4019306.csv')
  ('TON', 1985, NULL, 'CO2eq * t', NULL, 'CO2eq * t', NULL, 'CO2eq * t', NULL, 'CO2eq * t', NULL, 'CO2eq * t', NULL, 'USD', 60058663.3144773, 'USD', NULL, 'CO2eq * t', NULL, 'CO2eq * t', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', 'UNFCCC -> Time_Series_GHG_total_without_LULUCF_in_kt_CO2_equivalent.xlsx', 'UNFCCC -> Time_Series_GHG_total_with_LULUCF_in_kt_CO2_equivalent.xlsx', 'OECD -> IMGR_FCO2.csv -> Industry_Code = D35  -> Aggregation grouped by Partner_ISO_CODE', 'OECD -> IMGR_FCO2.csv -> Indutry_Code = DTOTAL - Scope_2 Value ', 'Worldbank -> API_NY.GDP.MKTP.CD_DS2_en_csv_v2_4019306.csv')
  ('TON', 1987, NULL, 'CO2eq * t', NULL, 'CO2eq * t', NULL, 'CO2eq * t', NULL, 'CO2eq * t', NULL, 'CO2eq * t', NULL, 'USD', 81667133.4546982, 'USD', NULL, 'CO2eq * t', NULL, 'CO2eq * t', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', 'UNFCCC -> Time_Series_GHG_total_without_LULUCF_in_kt_CO2_equivalent.xlsx', 'UNFCCC -> Time_Series_GHG_total_with_LULUCF_in_kt_CO2_equivalent.xlsx', 'OECD -> IMGR_FCO2.csv -> Industry_Code = D35  -> Aggregation grouped by Partner_ISO_CODE', 'OECD -> IMGR_FCO2.csv -> Indutry_Code = DTOTAL - Scope_2 Value ', 'Worldbank -> API_NY.GDP.MKTP.CD_DS2_en_csv_v2_4019306.csv')
  ...
  ('PAK', 1976, NULL, 'CO2eq * t', NULL, 'CO2eq * t', NULL, 'CO2eq * t', NULL, 'CO2eq * t', NULL, 'CO2eq * t', NULL, 'USD', 13168080808.0808, 'USD', NULL, 'CO2eq * t', NULL, 'CO2eq * t', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', 'UNFCCC -> Time_Series_GHG_total_without_LULUCF_in_kt_CO2_equivalent.xlsx', 'UNFCCC -> Time_Series_GHG_total_with_LULUCF_in_kt_CO2_equivalent.xlsx', 'OECD -> IMGR_FCO2.csv -> Industry_Code = D35  -> Aggregation grouped by Partner_ISO_CODE', 'OECD -> IMGR_FCO2.csv -> Indutry_Code = DTOTAL - Scope_2 Value ', 'Worldbank -> API_NY.GDP.MKTP.CD_DS2_en_csv_v2_4019306.csv')
batch insert result: [(1000,)]
inserting 1000 records
  ('PAK', 2016, NULL, 'CO2eq * t', NULL, 'CO2eq * t', NULL, 'CO2eq * t', NULL, 'CO2eq * t', NULL, 'CO2eq * t', 898015616788.999, 'USD', 278654637737.69, 'USD', NULL, 'CO2eq * t', NULL, 'CO2eq * t', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', 'UNFCCC -> Time_Series_GHG_total_without_LULUCF_in_kt_CO2_equivalent.xlsx', 'UNFCCC -> Time_Series_GHG_total_with_LULUCF_in_kt_CO2_equivalent.xlsx', 'OECD -> IMGR_FCO2.csv -> Industry_Code = D35  -> Aggregation grouped by Partner_ISO_CODE', 'OECD -> IMGR_FCO2.csv -> Indutry_Code = DTOTAL - Scope_2 Value ', 'Worldbank -> API_NY.GDP.MKTP.CD_DS2_en_csv_v2_4019306.csv')
  ('PAK', 2003, NULL, 'CO2eq * t', NULL, 'CO2eq * t', NULL, 'CO2eq * t', NULL, 'CO2eq * t', NULL, 'CO2eq * t', 443669638569.24, 'USD', 91760542940.0717, 'USD', NULL, 'CO2eq * t', NULL, 'CO2eq * t', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', 'UNFCCC -> Time_Series_GHG_total_without_LULUCF_in_kt_CO2_equivalent.xlsx', 'UNFCCC -> Time_Series_GHG_total_with_LULUCF_in_kt_CO2_equivalent.xlsx', 'OECD -> IMGR_FCO2.csv -> Industry_Code = D35  -> Aggregation grouped by Partner_ISO_CODE', 'OECD -> IMGR_FCO2.csv -> Indutry_Code = DTOTAL - Scope_2 Value ', 'Worldbank -> API_NY.GDP.MKTP.CD_DS2_en_csv_v2_4019306.csv')
  ('PAK', 1975, NULL, 'CO2eq * t', NULL, 'CO2eq * t', NULL, 'CO2eq * t', NULL, 'CO2eq * t', NULL, 'CO2eq * t', NULL, 'USD', 11230606060.6061, 'USD', NULL, 'CO2eq * t', NULL, 'CO2eq * t', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', 'UNFCCC -> Time_Series_GHG_total_without_LULUCF_in_kt_CO2_equivalent.xlsx', 'UNFCCC -> Time_Series_GHG_total_with_LULUCF_in_kt_CO2_equivalent.xlsx', 'OECD -> IMGR_FCO2.csv -> Industry_Code = D35  -> Aggregation grouped by Partner_ISO_CODE', 'OECD -> IMGR_FCO2.csv -> Indutry_Code = DTOTAL - Scope_2 Value ', 'Worldbank -> API_NY.GDP.MKTP.CD_DS2_en_csv_v2_4019306.csv')
  ...
  ('TGO', 1988, NULL, 'CO2eq * t', NULL, 'CO2eq * t', NULL, 'CO2eq * t', NULL, 'CO2eq * t', NULL, 'CO2eq * t', NULL, 'USD', 1378847487.41137, 'USD', NULL, 'CO2eq * t', NULL, 'CO2eq * t', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', NULL, 'CO2eq * t / USD', 'UNFCCC -> Time_Series_GHG_total_without_LULUCF_in_kt_CO2_equivalent.xlsx', 'UNFCCC -> Time_Series_GHG_total_with_LULUCF_in_kt_CO2_equivalent.xlsx', 'OECD -> IMGR_FCO2.csv -> Industry_Code = D35  -> Aggregation grouped by Partner_ISO_CODE', 'OECD -> IMGR_FCO2.csv -> Indutry_Code = DTOTAL - Scope_2 Value ', 'Worldbank -> API_NY.GDP.MKTP.CD_DS2_en_csv_v2_4019306.csv')
batch insert result: [(1000,)]
inserting 1000 records

In [22]:
df_result = df_result[df_result['validity_date']>=1990]
df_result.sort_values(by=['country_iso_code','validity_date'], inplace=True)
df_result.to_csv("results_2.csv",index=False,encoding='utf-8')
sql=f"""
select * from {ingest_catalog}.{ingest_schema}.{ingest_table} where country_iso_code='AUT'"""
pd.read_sql(sql, engine)

,country_iso_code,validity_date,scope1_excl_lulucf,scope1_excl_lulucf_units,scope1_incl_lulucf,scope1_incl_lulucf_units,scope2_value,scope2_value_units,scope3_value,scope3_value_units,...,attribution_factor_excl_lulucf_gdp_units,attribution_factor_incl_lulucf,attribution_factor_incl_lulucf_units,attribution_factor_incl_lulucf_gdp,attribution_factor_incl_lulucf_gdp_units,scope1_excl_source,scope1_incl_source,scope2_source,scope3_source,gdp_ppp_source
0,AUT,1995,7.923798e+07,CO2eq * t,6.586448e+07,CO2eq * t,689000.0,CO2eq * t,28359000.0,CO2eq * t,...,CO2eq * t / USD,0.000504,CO2eq * t / USD,0.000394,CO2eq * t / USD,UNFCCC -> Time_Series_GHG_total_without_LULUCF...,UNFCCC -> Time_Series_GHG_total_with_LULUCF_in...,OECD -> IMGR_FCO2.csv -> Industry_Code = D35 ...,OECD -> IMGR_FCO2.csv -> Indutry_Code = DTOTAL...,Worldbank -> API_NY.GDP.MKTP.CD_DS2_en_csv_v2_...
1,AUT,1996,8.245259e+07,CO2eq * t,7.172106e+07,CO2eq * t,766000.0,CO2eq * t,29358000.0,CO2eq * t,...,CO2eq * t / USD,0.000521,CO2eq * t / USD,0.000429,CO2eq * t / USD,UNFCCC -> Time_Series_GHG_total_without_LULUCF...,UNFCCC -> Time_Series_GHG_total_with_LULUCF_in...,OECD -> IMGR_FCO2.csv -> Industry_Code = D35 ...,OECD -> IMGR_FCO2.csv -> Indutry_Code = DTOTAL...,Worldbank -> API_NY.GDP.MKTP.CD_DS2_en_csv_v2_...
2,AUT,1997,8.211623e+07,CO2eq * t,6.287460e+07,CO2eq * t,794000.0,CO2eq * t,32055000.0,CO2eq * t,...,CO2eq * t / USD,0.000472,CO2eq * t / USD,0.000450,CO2eq * t / USD,UNFCCC -> Time_Series_GHG_total_without_LULUCF...,UNFCCC -> Time_Series_GHG_total_with_LULUCF_in...,OECD -> IMGR_FCO2.csv -> Industry_Code = D35 ...,OECD -> IMGR_FCO2.csv -> Indutry_Code = DTOTAL...,Worldbank -> API_NY.GDP.MKTP.CD_DS2_en_csv_v2_...
3,AUT,1998,8.143285e+07,CO2eq * t,6.402936e+07,CO2eq * t,762000.0,CO2eq * t,32710000.0,CO2eq * t,...,CO2eq * t / USD,0.000458,CO2eq * t / USD,0.000447,CO2eq * t / USD,UNFCCC -> Time_Series_GHG_total_without_LULUCF...,UNFCCC -> Time_Series_GHG_total_with_LULUCF_in...,OECD -> IMGR_FCO2.csv -> Industry_Code = D35 ...,OECD -> IMGR_FCO2.csv -> Indutry_Code = DTOTAL...,Worldbank -> API_NY.GDP.MKTP.CD_DS2_en_csv_v2_...
4,AUT,1999,7.989837e+07,CO2eq * t,6.019217e+07,CO2eq * t,774000.0,CO2eq * t,33134000.0,CO2eq * t,...,CO2eq * t / USD,0.000426,CO2eq * t / USD,0.000433,CO2eq * t / USD,UNFCCC -> Time_Series_GHG_total_without_LULUCF...,UNFCCC -> Time_Series_GHG_total_with_LULUCF_in...,OECD -> IMGR_FCO2.csv -> Industry_Code = D35 ...,OECD -> IMGR_FCO2.csv -> Indutry_Code = DTOTAL...,Worldbank -> API_NY.GDP.MKTP.CD_DS2_en_csv_v2_...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,AUT,1964,NaN,CO2eq * t,NaN,CO2eq * t,NaN,CO2eq * t,NaN,CO2eq * t,...,CO2eq * t / USD,NaN,CO2eq * t / USD,NaN,CO2eq * t / USD,UNFCCC -> Time_Series_GHG_total_without_LULUCF...,UNFCCC -> Time_Series_GHG_total_with_LULUCF_in...,OECD -> IMGR_FCO2.csv -> Industry_Code = D35 ...,OECD -> IMGR_FCO2.csv -> Indutry_Code = DTOTAL...,Worldbank -> API_NY.GDP.MKTP.CD_DS2_en_csv_v2_...
57,AUT,1963,NaN,CO2eq * t,NaN,CO2eq * t,NaN,CO2eq * t,NaN,CO2eq * t,...,CO2eq * t / USD,NaN,CO2eq * t / USD,NaN,CO2eq * t / USD,UNFCCC -> Time_Series_GHG_total_without_LULUCF...,UNFCCC -> Time_Series_GHG_total_with_LULUCF_in...,OECD -> IMGR_FCO2.csv -> Industry_Code = D35 ...,OECD -> IMGR_FCO2.csv -> Indutry_Code = DTOTAL...,Worldbank -> API_NY.GDP.MKTP.CD_DS2_en_csv_v2_...
58,AUT,1979,NaN,CO2eq * t,NaN,CO2eq * t,NaN,CO2eq * t,NaN,CO2eq * t,...,CO2eq * t / USD,NaN,CO2eq * t / USD,NaN,CO2eq * t / USD,UNFCCC -> Time_Series_GHG_total_without_LULUCF...,UNFCCC -> Time_Series_GHG_total_with_LULUCF_in...,OECD -> IMGR_FCO2.csv -> Industry_Code = D35 ...,OECD -> IMGR_FCO2.csv -> Indutry_Code = DTOTAL...,Worldbank -> API_NY.GDP.MKTP.CD_DS2_en_csv_v2_...
59,AUT,1967,NaN,CO2eq * t,NaN,CO2eq * t,NaN,CO2eq * t,NaN,CO2eq * t,...,CO2eq * t / USD,NaN,CO2eq * t / USD,NaN,CO2eq * t / USD,UNFCCC -> Time_Series_GHG_total_without_LULUCF...,UNFCCC -> Time_Series_GHG_total_with_LULUCF_in...,OECD -> IMGR_FCO2.csv -> Industry_Code = D35 ...,OECD -> IMGR_FCO2.csv -> Indutry_Code = DTOTAL...,Worldbank -> API_NY.GDP.MKTP.CD_DS2_en_csv_v2_...
60,AUT,1983,NaN,CO2eq * t,NaN,CO2eq * t,NaN,CO2eq * t,NaN,CO2eq * t,...,CO2eq * t / USD,NaN,CO2eq * t / USD,NaN,CO2eq * t / USD,UNFCCC -> Time_Series_GHG_total_without_LULUCF...,UNFCCC -> Time_Series_GHG_total_with_LULUCF_in...,OECD -> IMGR_FCO2.csv -> Industry_Code = D35 ...,OECD -> IMGR_FCO2.csv -> Indutry_Code = DTOTAL...,Worldbank -> API_NY.GDP.MKTP.CD_DS2_en_csv_v2_...